---
- name: Setup Virtualenv
  pip: virtualenv={{ virtualenv_path }} requirements={{ project_root_path }}/requirements.txt virtualenv_python=python3.4

- name: Install some dev tools
  sudo: yes
  pip: name={{ item }} virtualenv={{ virtualenv_path }}
  with_items:
    - ipdb
    - ipython
    - django-extensions

- name: Django db
  django_manage: command={{ item }} app_path={{ project_root_path }} virtualenv={{ virtualenv_path }}
  with_items:
    - migrate

#- name: Populate database
#  django_manage: command={{ item }} app_path={{ project_root_path }} virtualenv={{ virtualenv_path }}
#  with_items:
#    - setup_fb
#    - load_users
#    - create_event_and_blocktypes
#    - create_timetable
#    - create_events
#    - create_classes
#    - create_bookings

