{% extends 'email_base.html' %}

{% block messagecontent %}
<h2>Your membership is overdue</h2>
<p><strong>Your membership:</strong> {{ user_membership.membership.name }}</p>
<p>We have been unable to take payment for your membership - this may be because the payment
    method you originally used has expired. Please visit 
    <a href="https://{{ domain }}/membership/subscription/{{ user_membership.subscription_id }}">your membership page</a> 
    to complete the payment as soon as possible. If payment is not made by the 28th of the month, your
    membership will be automatically cancelled, and any bookings made for next month will be
    marked as unpaid.
</p>
{% endblock %}