

{% if form.errors or password_error %}
    <div class="errorlist">Please correct the errors below</div>
{% endif %}

   <form class="dirty-check" action="" method="post" autocomplete="off">
       {% csrf_token %}

       <h4>Personal details</h4>
        <p>
            Before providing us with your personal data you can read why we need this data, how we will use it and what
            your rights are in our <a href="{% url 'data_privacy_policy' %}">privacy policy</a>.
        </p>
       <div class="form-group">
           <label class="control-label col-xs-2" for="name_id">{{ form.name.label }}{% if form.name.field.required %}*{% endif %}</label>
           <div class="col-xs-10 {% if form.name.errors %}ticket-error{% endif %}">{{ form.name }}</div>
           <div class="studioadmin-help col-xs-10 col-xs-offset-2">{{ form.name.help_text }}</div>
            {% if form.name.errors %}
                <div class="col-xs-10 col-xs-offset-2">
                    {{ form.name.errors }}
                </div>
            {% endif %}
       </div>

       {% include "account/disclaimer_form_content_shared.html" %}

       <div class="form-group">
           <div class="col-12 vspace {% if password_error %}ticket-error{% endif %}">
                <label class="control-label" for='password_id'>{{ form.password.label|safe }}{% if form.password.field.required %}*{% endif %}</label>
                <div class="col-12 {% if password_error %}ticket-error{% endif %}">
                    {{ form.password }} {% if password_error %}<span class="errorlist">{{ password_error }}</span>{% endif %}
                </div>
           </div>
           <div class="studioadmin-help col-xs-10 col-xs-offset-2">{{ form.password.help_text }}</div>
       </div>

        <div class="col-12 vspace"><input class="btn btn-wm" type="submit" value="Submit" /></div>
   </form>

