

{% if form.errors %}
    <div class="errorlist">Please correct the errors below</div>
{% endif %}

   <form class="dirty-check" action="" method="post">
       {% csrf_token %}

       <h4>Personal details</h4>
       <div class="form-group">
           <label class="control-label col-xs-2" for="name_id">{{ form.name.label }}{% if form.name.field.required %}*{% endif %}</label>
           <div class="col-xs-10 {% if form.name.errors %}ticket-error{% endif %}">{{ form.name }}</div>
           <div class="studioadmin-help col-xs-10 col-xs-offset-2">{{ form.name.help_text }}</div>
            {% if form.name.errors %}
                <div class="col-xs-10 col-xs-offset-2">
                    {{ form.name.errors }}
                </div>
            {% endif %}
       </div>
       <div class="form-group">
           <label class="control-label col-xs-2" for="dob_id">{{ form.dob.label }}{% if form.dob.field.required %}*{% endif %}</label>
           <div class="col-xs-10 {% if form.dob.errors %}ticket-error{% endif %}">{{ form.dob }}</div>
           <div class="studioadmin-help col-xs-10 col-xs-offset-2">{{ form.dob.help_text }}</div>
            {% if form.dob.errors %}
                <div class="col-xs-10 col-xs-offset-2">
                    {{ form.dob.errors }}
                </div>
            {% endif %}
       </div>
       <div class="form-group">
           <label class="control-label col-xs-2" for="address_id">{{ form.address.label }}{% if form.address.field.required %}*{% endif %}</label>
           <div class="col-xs-10 {% if form.address.errors %}ticket-error{% endif %}">{{ form.address }}</div>
           <div class="studioadmin-help col-xs-10 col-xs-offset-2">{{ form.address.help_text }}</div>
            {% if form.address.errors %}
                <div class="col-xs-10 col-xs-offset-2">
                    {{ form.address.errors }}
                </div>
            {% endif %}
       </div>
       <div class="form-group">
           <label class="control-label col-xs-2" for="postcode_id">{{ form.postcode.label }}{% if form.postcode.field.required %}*{% endif %}</label>
           <div class="col-xs-10 {% if form.postcode.errors %}ticket-error{% endif %}">{{ form.postcode }}</div>
           <div class="studioadmin-help col-xs-10 col-xs-offset-2">{{ form.postcode.help_text }}</div>
            {% if form.postcode.errors %}
                <div class="col-xs-10 col-xs-offset-2">
                    {{ form.postcode.errors }}
                </div>
            {% endif %}
       </div>
       <div class="form-group">
           <label class="control-label col-xs-2" for="home_phone_id">{{ form.home_phone.label }}{% if form.home_phone.field.required %}*{% endif %}</label>
           <div class="col-xs-10 {% if form.home_phone.errors %}ticket-error{% endif %}">{{ form.home_phone }}</div>
           <div class="studioadmin-help col-xs-10 col-xs-offset-2">{{ form.home_phone.help_text }}</div>
            {% if form.home_phone.errors %}
                <div class="col-xs-10 col-xs-offset-2">
                    {{ form.home_phone.errors }}
                </div>
            {% endif %}
       </div>
       <div class="form-group">
           <label class="control-label col-xs-2" for="mobile_phone_id">{{ form.mobile_phone.label }}{% if form.mobile_phone.field.required %}*{% endif %}</label>
           <div class="col-xs-10 {% if form.mobile_phone.errors %}ticket-error{% endif %}">{{ form.mobile_phone }}</div>
           <div class="studioadmin-help vspace col-xs-10 col-xs-offset-2">{{ form.mobile_phone.help_text }}</div>
            {% if form.mobile_phone.errors %}
                <div class="col-xs-10 col-xs-offset-2">
                    {{ form.mobile_phone.errors }}
                </div>
            {% endif %}
       </div>


       <h4>Emergency Contact Information</h4>
       <h5>Emergency Contact # 1</h5>
       <div class="form-group">
           <label class="control-label col-xs-2" for="emergency_contact1_name_id">{{ form.emergency_contact1_name.label }}{% if form.emergency_contact1_name.field.required %}*{% endif %}</label>
           <div class="col-xs-10 {% if form.emergency_contact1_name.errors %}ticket-error{% endif %}">{{ form.emergency_contact1_name }}</div>
           <div class="studioadmin-help col-xs-10 col-xs-offset-2">{{ form.emergency_contact1_name.help_text }}</div>
            {% if form.emergency_contact1_name.errors %}
                <div class="col-xs-10 col-xs-offset-2">
                    {{ form.emergency_contact1_name.errors }}
                </div>
            {% endif %}
       </div>
       <div class="form-group">
           <label class="control-label col-xs-2" for="emergency_contact1_relationship_id">{{ form.emergency_contact1_relationship.label }}{% if form.emergency_contact1_relationship.field.required %}*{% endif %}</label>
           <div class="col-xs-10 {% if form.emergency_contact1_relationship.errors %}ticket-error{% endif %}">{{ form.emergency_contact1_relationship }}</div>
           <div class="studioadmin-help col-xs-10 col-xs-offset-2">{{ form.emergency_contact1_relationship.help_text }}</div>
            {% if form.emergency_contact1_relationship.errors %}
                <div class="col-xs-10 col-xs-offset-2">
                    {{ form.emergency_contact1_relationship.errors }}
                </div>
            {% endif %}
       </div>
       <div class="form-group">
           <label class="control-label col-xs-2" for="emergency_contact1_phone_id">{{ form.emergency_contact1_phone.label }}{% if form.emergency_contact1_phone.field.required %}*{% endif %}</label>
           <div class="col-xs-10 {% if form.emergency_contact1_phone.errors %}ticket-error{% endif %}">{{ form.emergency_contact1_phone }}</div>
           <div class="studioadmin-help col-xs-10 col-xs-offset-2">{{ form.emergency_contact1_phone.help_text }}</div>
            {% if form.emergency_contact1_phone.errors %}
                <div class="col-xs-10 col-xs-offset-2">
                    {{ form.emergency_contact1_phone.errors }}
                </div>
            {% endif %}
       </div>
    <h5>Emergency Contact # 2</h5>
       <div class="form-group">
           <label class="control-label col-xs-2" for="emergency_contact2_name_id">{{ form.emergency_contact2_name.label }}{% if form.emergency_contact2_name.field.required %}*{% endif %}</label>
           <div class="col-xs-10 {% if form.emergency_contact2_name.errors %}ticket-error{% endif %}">{{ form.emergency_contact2_name }}</div>
           <div class="studioadmin-help col-xs-10 col-xs-offset-2">{{ form.emergency_contact2_name.help_text }}</div>
            {% if form.emergency_contact2_name.errors %}
                <div class="col-xs-10 col-xs-offset-2">
                    {{ form.emergency_contact2_name.errors }}
                </div>
            {% endif %}
       </div>
       <div class="form-group">
           <label class="control-label col-xs-2" for="emergency_contact2_relationship_id">{{ form.emergency_contact2_relationship.label }}{% if form.emergency_contact2_relationship.field.required %}*{% endif %}</label>
           <div class="col-xs-10 {% if form.emergency_contact2_relationship.errors %}ticket-error{% endif %}">{{ form.emergency_contact2_relationship }}</div>
           <div class="studioadmin-help col-xs-10 col-xs-offset-2">{{ form.emergency_contact2_relationship.help_text }}</div>
            {% if form.emergency_contact2_relationship.errors %}
                <div class="col-xs-10 col-xs-offset-2">
                    {{ form.emergency_contact2_relationship.errors }}
                </div>
            {% endif %}
       </div>
       <div class="form-group">
           <label class="control-label col-xs-2" for="emergency_contact2_phone_id">{{ form.emergency_contact2_phone.label }}{% if form.emergency_contact2_phone.field.required %}*{% endif %}</label>
           <div class="col-xs-10 {% if form.emergency_contact2_phone.errors %}ticket-error{% endif %}">{{ form.emergency_contact2_phone }}</div>
           <div class="studioadmin-help vspace col-xs-10 col-xs-offset-2">{{ form.emergency_contact2_phone.help_text }}</div>
            {% if form.emergency_contact2_phone.errors %}
                <div class="col-xs-10 col-xs-offset-2">
                    {{ form.emergency_contact2_phone.errors }}
                </div>
            {% endif %}
       </div>

      <h4>Medical Information</h4>
      <div class="form-group">
           <label class="control-label col-xs-12" for="medical_conditions_id">{{ form.medical_conditions.label }}{% if form.medical_conditions.field.required %}*{% endif %}</label>
          <div class="col-xs-12 {% if form.medical_conditions.errors %}ticket-error{% endif %}">
              {% for choice in form.medical_conditions %}
                {{ choice }}
              {% endfor %}

           </div>
           <div class="studioadmin-help col-xs-10 col-xs-offset-2">{{ form.medical_conditions.help_text }}</div>
            {% if form.medical_conditions.errors %}
                <div class="col-xs-10 col-xs-offset-2">
                    {{ form.medical_conditions.errors }}
                </div>
            {% endif %}
       </div>
       <div class="form-group space-below">
           <label class="control-label col-xs-12" for="medical_conditions_details_id">{{ form.medical_conditions_details.label }}{% if form.medical_conditions_details.field.required %}*{% endif %}</label>
          <div class="col-xs-12 {% if form.medical_conditions_details.errors %}ticket-error{% endif %}">
              {{ form.medical_conditions_details }}
           </div>
           <div class="studioadmin-help col-xs-12">{{ form.medical_conditions_details.help_text }}</div>
            {% if form.medical_conditions_details.errors %}
                <div class="col-xs-12">
                    {{ form.medical_conditions_details.errors }}
                </div>
            {% endif %}
       </div>

         <div class="form-group">
           <label class="control-label col-xs-12" for="joint_problems_id">{{ form.joint_problems.label }}{% if form.joint_problems.field.required %}*{% endif %}</label>
          <div class="col-xs-12 {% if form.joint_problems.errors %}ticket-error{% endif %}">
              {% for choice in form.joint_problems %}
                {{ choice }}
              {% endfor %}

           </div>
           <div class="studioadmin-help col-xs-10 col-xs-offset-2">{{ form.joint_problems.help_text }}</div>
            {% if form.joint_problems.errors %}
                <div class="col-xs-10 col-xs-offset-2">
                    {{ form.joint_problems.errors }}
                </div>
            {% endif %}
       </div>
       <div class="form-group">
           <label class="control-label col-xs-12" for="joint_problems_details_id">{{ form.joint_problems_details.label }}{% if form.joint_problems_details.field.required %}*{% endif %}</label>
          <div class="col-xs-12 {% if form.joint_problems_details.errors %}ticket-error{% endif %}">
              {{ form.joint_problems_details }}
           </div>
           <div class="studioadmin-help col-xs-12">{{ form.joint_problems_details.help_text }}</div>
            {% if form.joint_problems_details.errors %}
                <div class="col-xs-12">
                    {{ form.joint_problems_details.errors }}
                </div>
            {% endif %}
       </div>

        <div class="form-group">
           <label class="control-label col-xs-12" for="allergies_id">{{ form.allergies.label }}{% if form.allergies.field.required %}*{% endif %}</label>
          <div class="col-xs-12 {% if form.allergies.errors %}ticket-error{% endif %}">
              {% for choice in form.allergies %}
                {{ choice }}
              {% endfor %}

           </div>
           <div class="studioadmin-help col-xs-10 col-xs-offset-2">{{ form.allergies.help_text }}</div>
            {% if form.allergies.errors %}
                <div class="col-xs-10 col-xs-offset-2">
                    {{ form.allergies.errors }}
                </div>
            {% endif %}
       </div>
       <div class="form-group">
           <label class="control-label col-xs-12" for="allergies_details_id">{{ form.allergies_details.label }}{% if form.allergies_details.field.required %}*{% endif %}</label>
          <div class="col-xs-12 vspace {% if form.allergies_details.errors %}ticket-error{% endif %}">
              {{ form.allergies_details }}
           </div>
           <div class="studioadmin-help col-xs-12">{{ form.allergies_details.help_text }}</div>
            {% if form.allergies_details.errors %}
                <div class="col-xs-12">
                    {{ form.allergies_details.errors }}
                </div>
            {% endif %}
       </div>
       <div class="col-xs-12">
       <h4>EMERGENCY MEDICAL TREATMENT</h4>
       {{ form.medical_treatment_terms }}</div>
       <div class="form-group">
           <div class="col-xs-12 vspace {% if form.medical_treatment_permission.errors %}ticket-error{% endif %}">
               {{ form.medical_treatment_permission }}<label for='id_medical_treatment_permission'></label>
                 <label class="control-label" for='id_medical_treatment_permission'>{{ form.medical_treatment_permission.label }}{% if form.medical_treatment_permission.field.required %}*{% endif %}</label>
               {% if form.medical_treatment_permission.errors %} {{ form.medical_treatment_permission.errors }}{% endif %}
           </div>

           <div class="studioadmin-help col-xs-10 col-xs-offset-2">{{ form.medical_treatment_permission.help_text }}</div>

       </div>

       <div class="col-xs-12">
       <h4>DISCLAIMER</h4>
       {{ form.disclaimer_terms }}</div>
       <div class="form-group">
           <div class="col-xs-12 vspace {% if form.terms_accepted.errors %}ticket-error{% endif %}">
               {{ form.terms_accepted }}<label for='id_terms_accepted'></label>
                 <label class="control-label" for='id_terms_accepted'>{{ form.terms_accepted.label }}{% if form.terms_accepted.field.required %}*{% endif %}</label>
                {% if form.terms_accepted.errors %} {{ form.terms_accepted.errors }}{% endif %}
           </div>

           <div class="studioadmin-help col-xs-10 col-xs-offset-2">{{ form.terms_accepted.help_text }}</div>
       </div>
       <div class="form-group">
           <div class="col-xs-12">{{ form.over_18_terms }}</div>
           <div class="col-xs-12 vspace {% if form.age_over_18_confirmed.errors %}ticket-error{% endif %}">
               {{ form.age_over_18_confirmed }}<label for='id_age_over_18_confirmed'></label>
                 <label class="control-label" for='id_age_over_18_confirmed'>{{ form.age_over_18_confirmed.label }}{% if form.age_over_18_confirmed.field.required %}*{% endif %}</label>
                {% if form.age_over_18_confirmed.errors %} {{ form.age_over_18_confirmed.errors }}{% endif %}
           </div>
           <div class="studioadmin-help col-xs-10 col-xs-offset-2">{{ form.age_over_18_confirmed.help_text }}</div>
       </div>

       <div class="form-group">
           <div class="col-xs-12 vspace {% if form.password.errors %}ticket-error{% endif %}">
                <label class="control-label" for='password_id'>{{ form.password.label|safe }}{% if form.password.field.required %}*{% endif %}</label>
                <div class="col-xs-12 {% if form.password.errors %}ticket-error{% endif %}">
                    {{ form.password }} {% if form.password.errors %}{{ form.password.errors }}{% endif %}
                </div>
           </div>
           <div class="studioadmin-help col-xs-10 col-xs-offset-2">{{ form.password.help_text }}</div>
       </div>

        <div class="col-xs-12 vspace"><input class="btn btn-success" type="submit" value="Submit" /></div>
   </form>

