{% extends 'account/base.html' %}
{% load bookingtags %}

{% block content %}

<div class="extra-top-margin container-fluid row">
       <div class="panel panel-success">

            <div class="panel-heading">
                <h1 class="panel-title">Disclaimer Form</h1>
            </div>
           <div class="panel-body">

               {% if disclaimer %}
                    <div>
                        <p>You have already completed a disclaimer.</p>
                    </div>
                {% else %}
                   {% include 'account/disclaimer_form_content.html' %}
                {% endif %}

               <div class="col-xs-12">
                   <a href="#">Data privacy statement</a>
               </div>
           </div>

       </div>
</div>
{% endblock content %}