{% extends "base.html" %}

{% block content %}

<div class="col-xs-12">


    <h1>Thank You!</h1>
    <p>Your disclaimer information has been successfully submitted.  We look forward to seeing you soon!</p>

    <p>View our full <a href="{% url 'data_privacy_policy' %}">data privacy and cookie policy</a> for further
        information.
    </p>


   <p>If you have any additional questions or concerns, please contact
    <a href="mailto:thewatermelonstudio@hotmail.com">thewatermelonstudio@hotmail.com</a>.</p>



</div>
{% endblock %}
