

{% if form.errors %}
    <div class="errorlist">Please correct the errors below</div>
{% endif %}

   <form class="dirty-check" action="" method="post" autocomplete="off">
       {% csrf_token %}
       <h4>Event Date</h4>
       <div class="form-group">
           <label class="control-label col-xs-2" for="event_date_id">{{ form.event_date.label }}{% if form.event_date.field.required %}*{% endif %}</label>
           <div class="col-xs-10 {% if form.event_date.errors %}ticket-error{% endif %}">{{ form.event_date }}</div>
           <div class="studioadmin-help col-xs-10 col-xs-offset-2">{{ form.event_date.help_text }}</div>
            {% if form.event_date.errors %}
                <div class="col-xs-10 col-xs-offset-2">
                    {{ form.event_date.errors }}
                </div>
            {% endif %}
       </div>

       <h4>Personal details</h4>
       <div class="form-group">
           <label class="control-label col-xs-2" for="first_name_id">{{ form.first_name.label }}{% if form.first_name.field.required %}*{% endif %}</label>
           <div class="col-xs-10 {% if form.first_name.errors %}ticket-error{% endif %}">{{ form.first_name }}</div>
           <div class="studioadmin-help col-xs-10 col-xs-offset-2">{{ form.first_name.help_text }}</div>
            {% if form.first_name.errors %}
                <div class="col-xs-10 col-xs-offset-2">
                    {{ form.first_name.errors }}
                </div>
            {% endif %}
       </div>
       <div class="form-group">
           <label class="control-label col-xs-2" for="last_name_id">{{ form.last_name.label }}{% if form.last_name.field.required %}*{% endif %}</label>
           <div class="col-xs-10 {% if form.last_name.errors %}ticket-error{% endif %}">{{ form.last_name }}</div>
           <div class="studioadmin-help col-xs-10 col-xs-offset-2">{{ form.last_name.help_text }}</div>
            {% if form.last_name.errors %}
                <div class="col-xs-10 col-xs-offset-2">
                    {{ form.last_name.errors }}
                </div>
            {% endif %}
       </div>
       <div class="form-group">
           <label class="control-label col-xs-2" for="email_id">{{ form.email.label }}{% if form.email.field.required %}*{% endif %}</label>
           <div class="col-xs-10 {% if form.email.errors %}ticket-error{% endif %}">{{ form.email }}</div>
           <div class="studioadmin-help col-xs-10 col-xs-offset-2">{{ form.email.help_text }}</div>
            {% if form.email.errors %}
                <div class="col-xs-10 col-xs-offset-2">
                    {{ form.email.errors }}
                </div>
            {% endif %}
       </div>

       {% include "account/disclaimer_form_content_shared.html" %}

       <div class="form-group">
           <div class="col-xs-12 vspace {% if form.confirm_name.errors %}ticket-error{% endif %}">
                <label class="control-label" for='password_id'>{{ form.confirm_name.label|safe }}{% if form.confirm_name.field.required %}*{% endif %}</label>
                <div class="col-xs-12 {% if form.password.errors %}ticket-error{% endif %}">
                    {{ form.confirm_name }} {% if form.confirm_name.errors %}{{ form.confirm_name.errors }}{% endif %}
                </div>
           </div>
           <div class="studioadmin-help col-xs-10 col-xs-offset-2">{{ form.confirm_name.help_text }}</div>
       </div>

        <div class="col-xs-12 vspace"><input class="btn btn-success" type="submit" value="Submit" /></div>
   </form>

