{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class="extra-top-margin container-fluid row">
    <div class="col-sm-11">
       <div class="panel panel-success">
            <div class="panel-heading">
                <h1 class="panel-title">{% trans "Change Password" %}</h1>
            </div>
           <div class="panel-body">

                <form method="POST" action="{% url 'account_login' %}" class="password_change">
                    {% csrf_token %}
                    {{ form|crispy }}
                    </br></br>
                    <button class="btn btn-success" type="submit" name="action">{% trans "Change Password" %}</button>
                </form>
           </div>
       </div>
    </div>
</div>
{% endblock %}
