{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class="extra-top-margin container-fluid row">
    <div class="col-12">
       <div class="card card-wm">
            <div class="card-header">
                <h1 class="card-title">{% trans "Change Password" %}</h1>
            </div>
           <div class="card-body">

                <form method="POST" action="{% url 'account_change_password' %}" class="password_change mock-bs-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    </br></br>
                    <button class="btn btn-wm" type="submit" name="action">{% trans "Change Password" %}</button>
                </form>
           </div>
       </div>
    </div>
</div>
{% endblock %}
