{% extends 'account/base.html' %}


{% block content %}

<div class="extra-top-margin container-fluid row">
       <div class="panel panel-success">
            <div class="panel-heading">
                <h1 class="panel-title">Your Profile</h1>
            </div>
           <div class="panel-body">
               <div class="col-sm-2"
            <p><strong>Username:</strong></p>
            <p><strong>First name:</strong></p>
            <p><strong>Last name:</strong></p>
            <p><strong>Primary email address:</strong></p>
               </div>
               <div class="col-sm-10">
                   <p>{{ user.username }}</p>
                   <p>{{ user.first_name }}</p>
                   <p>{{ user.last_name }}</p>
                   <p>{{ user.email }}</p>
               </div>
        </div>
       </div>
</div>
{% endblock content %}