{% extends 'account/base.html' %}
{% load bookingtags %}

{% block content %}

<div class="extra-top-margin container-fluid row">
       <div class="panel panel-success">
            <div class="panel-heading">
                <h1 class="panel-title">Your Profile</h1>
            </div>
           <div class="panel-body">
               <div class="col-xs-12">
                   <div class="col-xs-3"><p><strong>Username:</strong></p></div>
                   <div class="col-xs-9"><p>{{ user.username }}</p></div>
               </div>

               <div class="col-xs-12">
                   <div class="col-xs-3"><p><strong>First name:</strong></p></div>
                   <div class="col-xs-9"><p>{{ user.first_name }}</p></div>
               </div>

               <div class="col-xs-12">
                   <div class="col-xs-3"><p><strong>Last name:</strong></p></div>
                   <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3"><p>{{ user.last_name }}</p></div>
                  <div class="col-xs-3 col-sm-5 col-md-5 col-lg-6"><p><a href="{% url 'profile:update_profile' %}">Change</a></p></div>
               </div>

               <div class="col-xs-12">
                   <div class="col-xs-3"><p><strong>Primary email address:</strong></p></div>
                   <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3"><p>{{ user.email }}</p></div>
                    <div class="col-xs-3 col-sm-5 col-md-5 col-lg-6"><p><a href="{% url 'account_email' %}">Change</a></p></div>
               </div>

                <div class="col-xs-12">
                   <div class="col-xs-3"><p><strong>Connected social accounts:</strong></p></div>
                   <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                       <p>{% if user.socialaccount_set.exists %}
                            {% for sacc in user.socialaccount_set.all %}{{ sacc.provider|title }}{% if not forloop.last %}; {% endif %}{% endfor %}
                       {% else %}
                           None
                        {% endif %}
                       </p>
                   </div>
                    <div class="col-xs-3 col-sm-5 col-md-5 col-lg-6"><p><a href="{% url 'socialaccount_connections' %}">Change</a></p></div>
               </div>

               <div class="col-xs-12">
                   <div class="col-xs-3"><p><strong>Account Status:</strong></p></div>
                   <div class="col-xs-9">
                        <p>
                           {% if user.is_staff %}
                                Staff
                           {% elif user|in_group:"instructors" %}
                                Instructor
                           {% elif perms.booking.is_regular_student %}
                                Registered Student (confirmed regular student)
                           {% else %}
                                Registered Student
                           {% endif %}
                        </p>
                   </div>
               </div>


                   {% if request.user.is_staff or request.user|has_booked_class %}
                   <div class="col-xs-12">
                   <div class="col-xs-3"><p><strong>Mailing List:</strong></p></div>
                   <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                        <p>
                           {% if request.user|subscribed %}
                                Subscribed
                           {% else %}
                                Not subscribed
                           {% endif %}
                        </p>
                   </div>
                  <div class="col-xs-3 col-sm-5 col-md-5 col-lg-6"><p><a href="{% url 'subscribe' %}">Change</a></p></div>
                  </div>
                   {% endif %}

                   <div class="col-xs-12">
                   <div class="col-xs-3"><p><strong>Disclaimer:</strong></p></div>
                   <div class="col-xs-9">
                        <p>
                           {% if disclaimer %}
                                Completed
                            {% elif expired_disclaimer %}
                                Expired
                           {% else %}
                                Not completed
                           {% endif %}
                        </p>
                   </div>
                   </div>
                   {% if not disclaimer %}
                   <div class="col-xs-12">
                       <h3>DISCLAIMER</h3>
                       {% if expired_disclaimer %}
                            <p>Your disclaimer has expired.  We require disclaimers to be updated once a year for health and safety reasons.
                           You must review and confirm your information before attending any classes or workshops.</p>
                       {% else %}
                            <p>You have not completed a disclaimer form.
                           This must be completed before attending any classes or workshops.</p>
                       {% endif %}
                       <p><a href="{% url 'disclaimer_form' %}">Complete disclaimer form now</a></p>
                   </div>
                   {% else %}
                       <div class="col-xs-9 col-xs-offset-3">
                           <p>If you have any additional questions or concerns about the information you have provided, please contact
                            <a href="mailto:thewatermelonstudio@hotmail.com">thewatermelonstudio@hotmail.com</a>.</p>

                       </div>
                   {% endif %}
                <div class="col-xs-12">
                   <p>View our <a href="{% url 'data_protection' %}">data protection statement.</a></p>
               </div>

        </div>
       </div>
{% endblock content %}

