{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1>{% trans "Sign Up" %}</h1>

<p>Already have an account? Then please <a href="{{ login_url }}">sign in</a>.</p></br>

{% if socialaccount.providers  %}
<div class="socialaccount_ballot">
    <strong>Sign up with</strong>
  <div class="socialaccount_providers btn btn-primary" style="list-style-type: none;">
     {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </div></br></br></br>
{% endif %}

<p>Or sign up using the form below</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-success" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>


{% endblock %}
