{% extends "account/base.html" %}

{% load i18n %}

{% load socialaccount %}
{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container">

<h1 class="mt-2">{% trans "Sign Up" %}</h1>

<p>Already have an account? Then please <a href="{{ login_url }}">sign in</a>.</p>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers  %}
<div class="socialaccount_ballot">
    <strong>Sign up with</strong>
  <div class="socialaccount_providers" style="list-style-type: none;">
     {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  <p class="studioadmin-help">Note that by signing in with Facebook your email address and basic profile information will be shared for authentication purposes.</p>

  </div><br/>

</div>

{% endif %}

<p>Or sign up using the form below</p>

<form class="signup mock-bs-form" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}

    {% include 'account/includes/signup_form_content.html' %}

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-wm topspace" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

</div>

{% endblock %}
