{% extends 'account/base.html' %}
{% load static %}
{% load socialaccount %}

{% block content %}

<div class="small-margin extra-top-margin container-fluid row">
    <div class="col-sm-11">
       <div class="panel panel-success">
            <div class="panel-heading">
                <h1 class="panel-title">Edit Your Account Profile</h1>
            </div>
           <div class="panel-body">
                <form action="" method="post">{% csrf_token %}
                    {{ form.as_p}}


                    <input class="btn btn-success" type="submit" value="Update" />
                    <a href="{% url 'profile:profile' %}"><div class="btn btn-warning">Cancel</div></a>
                </form>
            </br>

            <p><strong>Connect a third-party account:</strong></p>
            <div class="socialaccount_providers btn btn-primary" style="list-style-type: none;">
               {% include "socialaccount/snippets/provider_list.html" with process="connect" %}
            </div>

       </div>
    </div>
</div>

{% endblock content %}
