{% load socialaccount %}
{% load accounttags %}

{% load allauth socialaccount %}
{% modify_redirect_field_value redirect_field_value as modified_redirect_value %}
{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}
    {% element provider_list %}
        {% for provider in socialaccount_providers %}
            {% if provider.id == "openid" %}
                {% for brand in provider.get_brands %}
                    {% provider_login_url provider openid=brand.openid_url process=process as href %}
                    {% element provider name=brand.name provider_id=provider.id href=href %}
                    {% endelement %}
                {% endfor %}
            {% endif %}
            {% provider_login_url provider process=process scope=scope auth_params=auth_params next=modified_redirect_value as href %}
            <a class="socialaccount_provider {{provider.id}} btn btn-primary" href="{{ href }}">{{ provider.name }}</a>
        {% endfor %}
    {% endelement %}
{% endif %}