{% load bookingtags %}

{% include 'booking/includes/alerts.html' %}

<div 
    class="row event-card booking-event-card-item pb-1 pt-1 py-2
    {% if booking_status == 'CANCELLED' %}past-event-row{% elif not booking.paid %}unpaid-booking-row{% endif %}
    ">
    
    <div class="col">
        {{ booking.event.date |  date:"D d M H:i" }}
            {% if not history %}
                <br/>
                {% if booking_status == 'OPEN' %}
                    {% if not booking.paid %}
                        <a href="{% url 'booking:shopping_basket' %}">
                            <span id='pay_button' class="btn table-btn btn-info" >
                                <i class="fa fa-shopping-basket"></i>
                            </span>
                        </a>
                    {% else %}
                        <a href="{% url 'booking:delete_booking' booking.pk %}?page={{ location_page }}">
                            <div class="btn btn-danger table-btn {% if not booking.paid %}table-cancel-btn{% endif %}">Cancel</div>
                        </a>        
                    {% endif %}
                {% elif booking.event.cancelled %}
                    {% if ev_type_code == 'EV' %}EVENT{% elif ev_type_code == 'CL' %}CLASS{% else %}ROOM HIRE{% endif %} CANCELLED
                {% elif not booking.event.bookable %}
                    {% if not booking.event.spaces_left %}
                        <div hx-get="{% url 'booking:toggle_waiting_list' booking.event.id %}">
                            {% include "booking/includes/waiting_list_button.html" %}
                        </div>
                    {% elif booking_status == 'CANCELLED' %}
                        <div type="button" id="rebook_button_disabled" class="btn btn-wm table-btn disabled">Rebook</div>
                    {% endif %}
                {% else %}
                    {% if request.user.currently_banned %}
                        <div class="btn btn-wm table-btn disabled">Rebook</div>
                    {% elif booking.auto_cancelled %}
                        <div
                                id="rebook_button_auto_cancelled_disabled"
                                class="btn btn-wm table-btn disabled"
                                title="Contact {{ booking.event.contact_email }} directly to rebook"
                        >Rebook</div>
                    {% else %}
                        <span hx-post="{% url 'booking:ajax_create_booking' booking.event.id %}?ref=bookings&location_page={{ location_page }}">
                        {% include "booking/includes/ajax_book_button.txt" %}
                        </span>
                    {% endif %}
                {% endif %}
            {% endif %}
    </div>
    <div class="col">
            {% if ev_type_code == 'EV' %}
            <a href="{% url 'booking:event_detail' booking.event.slug %}">
                {{ booking.event.name }}</a>
            {% elif ev_type_code == 'CL' %}
            <a href="{% url 'booking:lesson_detail' booking.event.slug %}">
                {{ booking.event.name }}</a>
            {% else %}
            <a href="{% url 'booking:room_hire_detail' booking.event.slug %}">
                {{ booking.event.name }}</a>
            {% endif %}
        <br/>
            {% with status=booking|format_status %}
            <span class="badge badge-pill {% if status == 'Open'%}badge-success{% else %}badge-secondary{% endif %}">
                {{ status }}
            </span>
            {% endwith %}
    </div>
   
    <div class="col text-center">
    {% if booking.status == "OPEN" %}
                {% comment %} <span class="text-center"><span class="badge badge-pill badge-location badge-location-{{ booking.event.location_index }}">{{ booking.event.location }}</span></span> {% endcomment %}
                <span class="studioadmin-help">{{ booking|format_paid_status }}</span>
            {% if booking.block %}
                <br/><span class="studioadmin-help">Block used</span>
            {% endif %}
        {% if not booking.paid and due_date_time %}
            <br/><span class="studioadmin-help">Due by: {{ due_date_time | date:"d M H:i"}}</span>
        {% endif %}
    {% endif %}
    </div>
</div>
