{% load bookingtags %}

{% if event.spaces_left == 0 %}
    <span class="badge badge-pill badge-spaces badge-secondary">
        {% if request.user.is_staff or request.user|in_group:"instructors" %}
            {{ event.spaces_left }}/{{ event.max_participants }}
        {% else %}
            FULL
        {% endif %}
    </span>
{% else %}
    <span class="badge badge-pill badge-spaces badge-spaces-available">
        {% if request.user.is_staff or request.user|in_group:"instructors" %}
            {{ event.spaces_left }}/{{ event.max_participants }}
        {% else %}
            SPACES
        {% endif %}
    </span>
{% endif %}
