{% include 'booking/includes/alerts.html' %}

<div 
        class="row event-card event-card-item mt-1 pb-1 mb-2
        {% if event.is_past or event.cancelled %}past-event-row{% endif %}
        {% if booking and booking.status == 'OPEN' and not booking.paid %}  
            unpaid-booking-row
        {% endif %}
    ">
    <div class="col-6 col-md-5">
        <span {% if booking and booking.status == 'OPEN' and booking.paid %}class="fas fa-check-circle text-success"{% endif %}></span>
        {{ event.date|date:"H:i" }} 
        {% if ev_type_for_url == 'events' %}
            <a href="{% url 'booking:event_detail' event.slug %}">{{ event.name }}</a>
            {% elif ev_type_for_url == 'lessons' %}
            <a href="{% url 'booking:lesson_detail' event.slug %}">{{ event.name }}</a>
            {% elif ev_type_for_url == 'room_hires' %}
            <a href="{% url 'booking:room_hire_detail' event.slug %}">{{ event.name }}</a>
        {% endif %}
        {% if booking and booking.status == 'OPEN' and not booking.no_show and booking.paid %}
            {% if event.show_video_link %}
                <a id="video_link_id_{{ event.id }}" class="btn btn-info table-btn" href="{{ event.video_link }}">Join online class</a>
            {% elif event.is_online %}
                <span id="video_link_id_disabled_{{ event.id }}" class="btn btn-info table-btn disabled">Join online class</span>
            {% endif %}
        {% endif %}
    </div>
    <div class="col-3 col-md-2">
        {% comment %} {% if location_index == 0 and location_count > 1 %}
            <span class="badge badge-pill badge-location badge-location-{{ event.location_index }}">{{ event.location|truncatechars:11 }}</span>
        {% endif %} {% endcomment %}
        £{{ event.cost }}
    </div>
    <div class="col-3 col-md-2">
        {% if ev_type_for_url == 'lessons' and event.external_instructor %}<span class="ext-instructor">Enquire for info</span>
        {% elif event.max_participants %}
            <span id="booking_count_{{ event.id }}_{{ location_index }}">{% include 'booking/includes/booking_count.html' %}</span>
        {% else %}N/A{% endif %}
    </div>
    {% comment %} Booking buttons {% endcomment %}
    {% if user.is_authenticated %}
        <div class="col-12 col-md-3">
            {% if event.is_past %}
                <span class="studioadmin-help">N/A - started</span>
            {% elif user.currently_banned %}
                <span class="ext-instructor">Account locked</span>
            {% else %}
                <span class="table-btns">
                    {% if not disclaimer %}
                        {% if ev_type_for_url == 'lessons' %}
                            <a class="ext-instructor" href="{% url 'booking:lesson_detail' event.slug %}">N/A - see details</a>
                        {% elif ev_type_for_url == 'events' %}
                            <a class="ext-instructor" href="{% url 'booking:event_detail' event.slug %}">N/A - see details</a>
                        {% else %}
                            <a class="ext-instructor" href="{% url 'booking:room_hire_detail' event.slug %}">N/A - see details</a>
                        {% endif %}
                    {% elif event.event_type.subtype == "Pole practice" and not is_regular_student %}
                        <a class="ext-instructor" href="{% url 'booking:lesson_detail' event.slug %}">N/A - see details</a>
                    {% elif event.bookable or event.id in booked_events or booking_open %}
                        {% if event.id in auto_cancelled_events or auto_cancelled %}
                            <div class="disabled btn btn-wm table-btn" id="autocancelled_button" title="Contact {{ event.contact_email }} directly to rebook">Rebook</div>
                        {% else %}
                            <span hx-post="{% url 'booking:ajax_create_booking' event.id %}?location_index={{ location_index }}&location_page={{ location_page }}&ref=events">
                            {% include "booking/includes/ajax_book_button.txt" %}
                            </span>
                        {% endif %}
                    {% elif event.external_instructor %}
                        {% if ev_type_for_url == 'events' %}
                            <a class="ext-instructor" href="{% url 'booking:event_detail' event.slug %}">
                        {% elif ev_type_for_url == 'lessons' %}
                            <a class="ext-instructor" href="{% url 'booking:lesson_detail' event.slug %}">
                        {% endif %}
                        Further details</a>
                    {% elif not event.bookable and event.booking_open %}
                        <div hx-get="{% url 'booking:toggle_waiting_list' event.id %}">
                            {% include "booking/includes/waiting_list_button.html" %}
                        </div>
                    {% else %}
                        <div class="disabled btn btn-wm table-btn">Book</div>
                    {% endif %}
                </span>
            {% endif %}
        </div>
    {% endif %}
</div>
