<form class="table-form" action="{% url 'booking:delete_booking' booking.id %}" method="get">
    <input class="btn btn-danger table-btn {% if unpaid %}table-events-cancel-btn{% endif %}" type="submit" value="Cancel"/>
    <input type="hidden" name="next" value="{{ ev_type }}" />
    <input type="hidden" name="tab" value="{{ tab }}">
    <input type="hidden" name="filter" value="{{ filter }}">
    <input type="hidden" name="page" value="{{ page }}">
    {% if unpaid and not paypal_pending %}
    <a href="{% url 'booking:shopping_basket' %}">
        <span id='pay_button' class="btn btn-info table-btn table-pay-btn" >
            <i class="fa fa-shopping-basket"></i>
        </span></a>
    {% endif %}
</form>
