<h3 class="checkout-total">
    Total: £ {% if total_unpaid_block_cost %}{{ total_unpaid_block_cost }}{% else %}0{% endif %}{% if show_vat %} <span class="vat">(incl. VAT)</span>
    {% endif %}
</h3>

<form id="checkout-blocks-form" method="post" action="{% url 'stripe_checkout' %}">
    {% csrf_token %}
    <input type="hidden" name="cart_blocks_total" id="cart_blocks_total_input" value="{{ total_unpaid_block_cost }}">
    <input
            class="btn mb-1 {% if total_unpaid_block_cost > 0 %}stripe-checkout-btn{% else %}btn-warning{% endif %}"
            type="submit"
            value="{% if total_unpaid_block_cost > 0 %}Checkout{% else %}Submit{% endif %}"
    />
</form>
