{% extends "base.html" %}
{% load static %}
{% load accounttags bookingtags %}

{% block extra_head %}
  <title>Membership Subscription</title>
    <link rel="stylesheet" href="{% static 'stripe_payments/css/stripe.css' %}" />
  <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block content %}
    {% if creating %}
      <h1 class="mt-2">Set up Membership Subscription</h1>
    {% else %}
      <h1 class="mt-2">Update Membership Subscription</h1>
    {% endif %}
    <hr>

    <div>
      <div>

      {% if preprocessing_error %}
          <h3 class="mt-1">There was a problem with your checkout</h3>
          {% if already_paid %}
              <p>This subscription has already been paid.</p>
          {% endif %}
          <p>Technical support has been notified and someone will be in contact shortly.</p>

      {% else %}

      <div id="subscription-checkout-summary">
        {% if creating %}
          <p>You are subscribing to {{membership.name}}.</p>
        {% else %}
          <p>You are updating your subscription for {{membership.name}}.</p>
        {% endif %}
      </div>

      <div>
          <h3 class="mt-1">Billing Details</h3>
          <form id="payment-form">
            <div id="payment-element">
              <!--Stripe.js injects the Payment Element-->
            </div>

            <div>
              <button id="payment-button" class="btn btn-dark"
                data-client_secret="{{ client_secret }}"
                data-customer_id="{{ customer_id }}"
                data-price_id="{{ membership.stripe_price_id}}"
                data-amount="{{ amount }}"
                data-stripe_account="{{ stripe_account }}"
                data-stripe_api_key="{{ stripe_api_key }}"
                data-return_url="{{ stripe_return_url }}"
                data-backdate="{{ backdate }}"
              >
                <div class="spinner hidden" id="spinner"></div>
                <span id="button-text">Submit</span>
              </button>
              <div id="payment-message" class="hidden"></div>
              <div id="payment-error" class="Error hidden"></div>
            </div>
          </form>

          {% include "stripe_payments/includes/stripe_info.html" %}
      </div>

      {% endif %}
    </div>
</div>
{% endblock content %}


{% block extra_js %}
    <script>
      var CSRF_TOKEN = '{{ csrf_token }}';
    </script>
    <script type='text/javascript' src="{% static 'stripe_payments/js/stripe-subscribe.js' %}"></script>
{% endblock %}
