[run]
omit=venv/*,booking/management/commands/upload_data.py,booking/management/commands/update_categories.py,../*migrations*,../*tests*,../*wsgi*,../*__init__*,timetable/management/commands/create_pip_hire_sessions.py,manage.py
relative_files = True
