*.pyc
.env
.idea/
db.sqlite3
staticfiles
collected-static
setlocalenv.sh
/venv
.vagrant/
bin/
build/
include/
lib/
local/
.DS_Store
htmlcov/
accounts/disclaimers.bu
accounts/test_file.txt
.coverage
provision/.vaultpass
pipsevents.log
.venv*/
prices.json
cache/