language: python

python:
  - "3.4"

addons:
  postgresql: "9.3"

env: SECRET_KEY='dummy_secret' EMAIL_HOST_PASSWORD='dummy_password' DATABASE_URL=postgres://postgres@localhost/travis_ci_test PAYPAL_RECEIVER_EMAIL=dummy-email@hotmail.com PAYPAL_TEST=True DEFAULT_STUDIO_EMAIL=watermelonstudiotest@gmail.com LOG_FOLDER=log_folder TRAVIS=True HEROKU=False SEND_ALL_STUDIO_EMAILS=True

install:
  - pip install -r requirements.txt
  - pip install coveralls
  - pip install psycopg2

before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
  - python manage.py migrate

script:
  - coverage run --source=pipsevents,booking,timetable,accounts,payments,studioadmin --omit=booking/management/commands/upload_data.py,../*migrations*,../*tests*,../*wsgi*,../*__init__* manage.py test

after_success:
  coveralls
