Django
coverage
coveralls
dj-database-url
django-allauth[socialaccount]
django-braces
django-classy-tags  # for cookie-law
django-cookie-law
crispy-bootstrap4
django-crispy-forms
git+https://github.com/rebkwok/django-datetime-widget.git@e6167f187f99ea201380337ddf54297ef908a0d5
django-debug-toolbar
django-email-obfuscator
django-environ
django-extensions
django-migration-testcase
django-one-time-notices
django-paypal
djangorestframework
dj-static
psycopg2
python-dateutil
PyYAML
mailchimp3
model-bakery
django-ckeditor
pillow
gunicorn
static3
shortuuid
beautifulsoup4
# Fork of simple-crypt that replaces pycrypto with pycryptodome
git+https://github.com/KyleKing/simple-crypt.git
pytest
pytest-django
pytest-cov
pytest-env
pytest-freezer
pytest-xdist
pymemcache
stripe
responses
