Django==1.11.7
coverage==4.3.4
dj-database-url==0.4.2
django-allauth==0.34.0
django-braces==1.11.0
django-crispy-forms==1.6.1
django-datetime-widget==0.9.3
django-debug-toolbar==1.7
django-environ==0.4.3
django-extensions==1.7.8
django-migration-testcase==0.0.11
django-paypal==0.3.6
djangorestframework==3.6.4
django-suit==0.2.25
dj-static==0.0.6
psycopg2==2.7.1
python-dateutil==2.6.0
PyYAML==3.12
mailchimp3==2.0.17
model-mommy==1.2.6
mock==2.0.0
django-ckeditor==5.2.2
pillow==4.1.1
gunicorn==19.7.1
static3==0.5.1
shortuuid==0.5.0
beautifulsoup4==4.5.3
django-responsive==0.3.0
pycrypto==2.6.1
simple-crypt==4.1.7
python-memcached==1.58