{% extends 'email_base.html' %}

{% block messagecontent %}
<div style="font-family: sans-serif;">

<p>The following users have not booked within the past year and have disclaimers that should be destroyed.</p>

<p>Paper disclaimers: please destroy any copies of disclaimers</p>
    <ul>
        {% for user in print_disclaimer_users %}
            <li>{{ user.first_name }} {{ user.last_name }}</li>
        {% endfor %}
    </ul>


<p>Online disclaimers: these have been automatically deleted</p>
    <ul>
        {% for user in online_disclaimer_users %}
            <li>{{ user.first_name }} {{ user.last_name }}</li>
        {% endfor %}
    </ul>

</div>
{% endblock %}

