{% extends 'admin/base.html' %}

{% block content %}
<div class="small-margin extra-top-margin container-fluid row">
    <div class="col-sm-9">
        <h4>Email users</h4>

        <p>You are emailing users for the following bookings:</p>
            <ul>
            {% for booking in bookings %}
                <li>{{ booking.user.first_name }} {{ booking.user.last_name }} ({{ booking.user.username }}):
                {{ booking.event }}</li>
            {% endfor %}
            </ul>
        <form action="" method="post">{% csrf_token %}

            <div class="form-group">
                <h5>{{ form.subject.label }}</h5>
                <p>{{ form.subject }}</p>
                <h5>{{ form.from_address.label }}</h5>
                <p>{{ form.from_address }}</br>
                {{ form.cc.label }}  {{ form.cc }}</p>
                <h5>{{ form.message.label }}</h5>
                <p>{{ form.message }}</p>
                <div>
                    <input class="btn btn-success" name="send_email" type="submit" value="Send" />
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
