{% extends 'email_base.html' %}

{% block messagecontent %}
<
 style="font-family: sans-serif;">

<p>Payment has been refunded from paypal and payment status set to unpaid.</p>

<p><strong>User: {% if user %}{{ user }}{% else %}{{ user_email }}{% endif %}}</strong></p>
<p><strong>Purchased:</strong>
     <ul>
    {% for obj in objs %}
        <li>{% if obj_type == "Booking" %}
            {{ obj.event }}
        {% elif obj_type == "Ticket Booking" %}
            {{ obj.ticketed_event }}
        {% elif obj_type == "Block %}
            {{ obj.block_type }}
        {% else %}
            {{ obj.code }}
        {% endif %}</li>
    {% endfor %}
    </ul>
</p>
<p><strong>Invoice number:</strong> {{ invoice_id }}</p>
<p><strong>Paypal Transaction id:</strong> {{ paypal_transaction_id }}</p>
<p><strong>Paypal Email:</strong> {{ paypal_email }}</p>

</div>
{% endblock %}