{% extends 'email_base.html' %}

{% block messagecontent %}
<div style="font-family: sans-serif;">

<p>Dear {{ user }},</p>

<p>Your payment to <strong>{{ paypal_email }}</strong> has now been processed.</p>

<p><strong>{{ obj_type }}:</strong>
     <ul>
    {% for obj in objs %}
        <li>{% if obj_type == "Booking" %}
            {{ obj.event }}
        {% elif obj_type == "Ticket Booking" %}
            {{ obj.ticketed_event }}
        {% elif obj_type == "Block" %}
            {{ obj.block_type }}
        {% else %}
            Gift Voucher
        {% endif %}</li>
    {% endfor %}
    </ul>
</p>
<p><strong>Invoice number:</strong> {{ invoice_id }}</p>

</div>
{% endblock %}
