{% extends 'email_base.html' %}

{% block messagecontent %}
<div style="font-family: sans-serif;">

<p>Payment has been refunded from paypal and payment status set to unpaid.</p>

<p><strong>User: {{ user }}</strong></p>
<p><strong>Purchased:</strong> {% if obj_type == "Booking" %}{{ obj.event }}{% elif obj_type == "Ticket Booking" %}{{ obj.ticketed_event }}{% else %}{{ obj.block_type }}{% endif %} ({{ obj_type }})</p>
<p><strong>Invoice number:</strong> {{ invoice_id }}</p>
<p><strong>Paypal Transaction id:</strong> {{ paypal_transaction_id }}</p>

</div>
{% endblock %}