{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="extra-top-margin container-fluid row">
    <div class="col-sm-12">
       <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title">New block booking</a></h2>
            </div>
            <div class="panel-body">
                <p>Blocks of 5 or 10 classes can be purchased.  Block booking is
                only applicable for pole level classes.</p>
                <p>Payment is required within one week of booking a block. After this time, your block will be deactivated.</p>
                <form action="" method="post">{% csrf_token %}
                    <div class="form-group">
                        <span>{{ form.as_p  }}</span>
                    <input class="btn btn-success" type="submit" value="Book block" />
                    </div>
                </form>
            </div>
       </div>

</div>
</div>

{% endblock content %}