{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="small-margin extra-top-margin container-fluid row">
    <div class="col-sm-11">
       <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title">New block booking</a></h2>
            </div>
            <div class="panel-body">
                <form action="" method="post">{% csrf_token %}
                    <div class="form-group">
                        <span>{{ form.as_p  }}</span>
                    <input class="btn btn-success" type="submit" value="Book block" />
                    </div>
                </form>
            </div>
       </div>

</div>
</div>

{% endblock content %}