{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="extra-top-margin container-fluid row">
    <div class="col-sm-12">
       <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title">New block booking</a></h2>
            </div>
            <div class="panel-body">
                <p>Block booking is only available for certain types of classes or events.  Please select a block
                    type from the dropdown list below.  You can only have one active block of each available type.</p>
                <p>After you choose a block you will be redirected to the Your Blocks page where you can make
                    payment.  Your block will not be activated until payment has been processed.</p>

                <h4>Block types available:</h4>
                {% for type in block_types %}
                    <p>{{ type.event_type.subtype }}</p>
                    <ul>
                        <li>Cost: £{{ type.cost }}</li>
                        <li>Number of classes in block: {{ type.size }}</li>
                        <li>Time until block expires: {{ type.duration }} months</li>
                    </ul>
                {% endfor %}

                <form action="" method="post">{% csrf_token %}
                    <div class="form-group">
                        <div class="dropdown">
                            <strong>Choose a block type:</strong> {{ form.block_type  }}
                        </div></br>

                       <input class="btn btn-success" type="submit" value="Book block" />
                    </div>
                </form>
            </div>
       </div>

</div>
</div>

{% endblock content %}