{% extends "base.html" %}
{% load static %}
{% load bookingtags %}

{% block content %}


<div class="container-fluid row">
    <h1>My blocks</h1>

    <div class="row>">
        <div class="col-sm-12">
            <div>
                <p>
                    {% if not disclaimer %}
                        {% if expired_disclaimer %}
                            Your disclaimer has expired.  Please <a href="{% url 'disclaimer_form' %}">review and confirm your information</a> before buying a block.</p>
                        {% else %}
                            Please complete a <a href="{% url 'disclaimer_form' %}">disclaimer form</a> before buying a block.
                        {% endif %}
                    {% elif can_book_block %}
                        <a href="{% url 'booking:add_block' %}" class="btn btn-success btn-new-block">Get a new block!</a>
                    {% endif %}
                    <span class="btn-group btn-group-sm pull-right">
                        <a class="btn btn-info-link" href="{% url 'booking:bookings' %}">My bookings</a>
                        <a class="btn btn-info-link" href="{% url 'booking:lessons' %}">All Classes</a>
                    </span>
                </p>
            </div>
            <div>
                {% if has_unpaid_block %}
                    {% if not valid_voucher %}
                        <form name="voucher_form" class="form-inline" method="post" action="">
                            {% csrf_token %}
                                <label for="code_id">{{ voucher_form.code.label }}</label> {{ voucher_form.code }}
                                <input class="btn btn-success table-btn" type="submit" name="apply_voucher" value="Apply" />
                                {% if voucher_error %}
                                    <p class="errorlist">{{ voucher_error }}</p>
                                {% endif %}
                        </form>
                    {% else %}
                        <p><strong>Voucher applied: {{ voucher.code }} ({{voucher.discount}}% discount)</strong>
                            <a class="btn btn-success table-btn" href="{% url 'booking:block_list' %}" />Remove</a></p>
                        <p class="errorlist">Note: Voucher has been applied to all qualifying blocks below; it can be used a maximum of {{ voucher.max_per_user }}
                        {% if voucher.max_per_user == 1 %}time{% else %}times{% endif %}
                        </p>
                    {% endif %}
                {% endif %}
            </div>
            {% if blockformlist %}
                <div class="panel panel-success">
                    <div class="table-responsive">
                        <table class="table">
                            <tr class="success">
                                <th>Paid</th>
                                <th>Block Status</th>
                                <th>Block Type</th>
                                <th>Cost</th>
                                <th class="hidden-sm hidden-xs">Start date</th>
                                <th>Expiry Date</th>
                                <th class="table-center" >Block size</th>
                                <th class="table-center">Bookings made</th>
                            </tr>
                            {% for blockform in blockformlist %}
                                <tr {% if blockform.block.active_block %}class="active_block"{% elif blockform.expired %}class="expired_block"{% else %}class="not_paid_block"{% endif %}>
                                    <td>{% if blockform.block.paid %}<span class="fa fa-check" aria-label="Yes"></span>
                                        {% elif blockform.expired %}
                                            <span class="fa fa-times" aria-label="No"></span>
                                        {% else %}
                                            {% include 'payments/blocklistpayment.html' %}
                                            <a href="{% url 'booking:delete_block' blockform.block.id%}"><span class="btn table-btn btn-danger">Delete</span></a>
                                        {% endif %}
                                    </td>
                                    <td>{% if blockform.block.active_block %}Active{% elif blockform.expired %}Expired{% else %}Not paid{% endif %}</td>
                                    <td>{{ blockform.block.block_type.event_type.subtype }} <span class="studioadmin-help">{{ blockform.block|format_block_type_id_user }}</span></td>
                                    <td>{% if blockform.block_cost %}
                                        £ {{ blockform.block_cost }}{% if blockform.voucher_applied %}<br/><span class="studioadmin-help">Voucher applied</span>{% endif %}
                                        {% else %}-{% endif %}</td>
                                    <td class="hidden-sm hidden-xs">{{ blockform.block.start_date|date:"d M Y" }}</td>
                                    <td>{{ blockform.block.expiry_date|date:"d M Y" }}</td>
                                    <td class="table-center">{{ blockform.block.block_type.size }}</td>
                                    <td class="table-center">{{ blockform.block.bookings_made }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}
