{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="container-fluid row">
    {% if history %}
        <h1>Your past bookings</h1>
    {% else %}
        <h1>Your bookings</h1>
    {% endif %}

    {% if bookings %}
    <p>Click on event title for more booking details.</p>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-success">

                <div class="table-responsive">
                    <table class="table">
                        <tr class="success">
                            <th>Booking</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Cost</th>
                            <th>Paid (confirmed </br>by attendee)</th>
                            <th>Payment confirmed </br>by organiser</th>
                            <th>Place confirmed</th>
                            {% if not history %}
                            <th></th>
                            <th></th>
                            {% endif %}
                        </tr>
                        {% for booking in bookings %}
                            <tr {% if booking.status == 'CANCELLED' %}class='cancelled'{% endif %}>
                                <td><a href="{% url 'booking:booking_detail' booking.pk %}">{{ booking.event.name }}</a></td>
                                <td>{{ booking.event.date |  date:"D d F, g:i a" }}</td>
                                <td>{{ booking.status }}</td>
                                <td>£{{ booking.event.cost }}</td>
                                <td align="center">{% if booking.event.cost and booking.paid %}<span class="confirmed glyphicon glyphicon-ok"></span>
                                    {% elif booking.event.cost and not booking.paid %}<span class="not-confirmed glyphicon glyphicon-remove"></span>
                                    {% else %}<strong>N/A</strong>{% endif %}</td>
                                <td align="center">{% if booking.event.cost and booking.payment_confirmed %}<span class="confirmed glyphicon glyphicon-ok"></span>
                                    {% elif booking.event.cost and not booking.payment_confirmed %}<span class="not-confirmed glyphicon glyphicon-remove"></span>
                                    {% else %}<strong>N/A</strong>{% endif %}</td>
                                <td align="center">{% if booking.space_confirmed %}<span class="confirmed glyphicon glyphicon-ok"></span>
                                    {% else %}<span class="not-confirmed glyphicon glyphicon-remove"></span>{% endif %}
                                </td>
                                {% if not history %}
                                    <td>
                                        {% if booking.event.cost > 0 and not booking.paid %}
                                             <div class="inc-btm-space">
                                                 <a {% if not booking.event.payment_open %}class="disabled"{% endif %}href="{% url 'booking:update_booking' booking.pk %}">
                                                     <div type="button" {% if not booking.event.payment_open %}disabled{% endif %} class="btn btn-success table-btn booking-btn">Confirm payment</div>
                                                 </a>
                                             </div>
                                        {% endif %}
                                        <a {% if not booking.event.can_cancel %}class="disabled"{% endif %}href="{% url 'booking:delete_booking' booking.pk %}">
                                            <div {% if not booking.event.can_cancel %}disabled{% endif %} class="btn btn-danger table-btn booking-btn">Cancel booking</div></a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>


        </div>
        </div>
    </div>
    {% else %}
        {% if history %}
            <p>You do not have any past class or event bookings.</p>
        {% else %}
            <p>You are not booked into any upcoming classes or events.</p>
        {% endif %}
    {% endif %}

</div>

{% endblock content %}