{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="small-margin extra-top-margin container-fluid row">

    <div class="col-sm-11">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Your booking for <a href="{% url 'booking:event_detail' booking.event.slug %}">{{ booking.event.name }}</a></h3>
            </div>
                <div class="panel-body">
                    <p>{{ booking.event.description }}</p>
                    <h4>Location</h4>
                    <p>{{ booking.event.location }}</p>
                    <h4>Date and time</h4>
                    <p>{{ booking.event.date |  date:"D d F, g:i a" }}</p>
                    <h4>Contact</h4>
                    <p>{{ booking.event.contact_person }}</p>
                    <p><a href="mailto:{{ booking.event.contact_email }}?Subject=Enquiry regarding booking for {{ booking.event.name }}" target="_blank">{{ booking.event.contact_email }}</a></p>

                    <h4>Payment information</h4>
                    <h5>Advance payment is {% if not booking.event.advance_payment_required %}not{% endif %} required for this event.</h5>
                    <p>Cost: £{{ booking.event.cost }}</p>
                    <p>{{ payment_text}}</p>

                    {% if booking.event.cost > 0 %}
                        <p><strong>Payment made (as confirmed by participant): {% if booking.paid %}<span class="confirmed">Yes</span>
                        {% else %}<span class="not-confirmed">No</span>{% endif %}</strong></p>
                            <p><strong>Paid (confirmed by organiser):
                                {% if booking.payment_confirmed %}
                                    <span class="confirmed">Yes</span>
                                {% elif booking.paid %}
                                    <span class="not-confirmed">Pending</span>
                                {% else %}
                                    <span class="not-confirmed">No</span>
                                {% endif %}
                            </strong></p>
                    {% endif %}

                        <p><strong>Place confirmed: {% if booking.space_confirmed %}<span class="confirmed">Yes</span>{% else %}
                            <span class="not-confirmed">Pending</span>{% endif %}</strong></p>

                        {% if not past %}
                             {% if include_confirm_payment_button %}
                                <button type="button" class="btn btn-success"><a href="{% url 'booking:update_booking' booking.pk %}">Confirm payment made and update booking</a></button>
                             {% endif %}
                                <button type="button" class="btn btn-danger"><a href="{% url 'booking:delete_booking' booking.pk %}">Delete booking</a></button>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}