{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="container-fluid row">
    {% if history %}
        <h1>Your past bookings</h1>
    {% else %}
        <h1>Your bookings</h1>
    {% endif %}

    {% if bookingformlist %}
    <p>Click on event title for more booking details.</p>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-success">

                <div class="table-responsive">
                    <table class="table">
                        <tr class="success">
                            <th>Date</th>
                            <th>Booking</th>
                            <th>Status</th>
                            <th class="table-center">Cost</th>
                            <th class="table-center">Paid</th>
                            <th class="table-center">Place confirmed</th>
                            {% if not history %}
                            <th></th>
                            {% endif %}
                        </tr>
                        {% for bookingform in bookingformlist %}
                            <tr {% if bookingform.booking.status == 'CANCELLED' %}class='expired'{% endif %}>
                                <td>{{ bookingform.booking.event.date |  date:"D d F, g:i a" }}</td>
                                <td><a href="{% url 'booking:booking_detail' bookingform.booking.pk %}">{{ bookingform.booking.event.name }}</a></td>
                                <td>{{ bookingform.booking.status }}</td>
                                <td class="table-center">£{{ bookingform.booking.event.cost }}</td>
                                <td class="table-center">{% if bookingform.booking.event.cost and bookingform.booking.paid %}<span class="confirmed glyphicon glyphicon-ok"></span>
                                    {% elif bookingform.booking.event.cost and not bookingform.booking.paid %}<span class="not-confirmed glyphicon glyphicon-remove"></span>
                                    {% else %}<strong>N/A</strong>{% endif %}</td>
                                {% if bookingform.booking.space_confirmed %}
                                    <td class="table-center confirmed glyphicon glyphicon-ok"></td>
                                    {% elif bookingform.booking.status == 'CANCELLED' %}
                                    <td class="table-center not-confirmed glyphicon glyphicon-remove"></td>
                                    {% else %}
                                    <td class="table-center not-confirmed"> Pending</td>
                                {% endif %}

                                {% if not history %}
                                    <td>
                                        {% if bookingform.booking.event.cost > 0 and not bookingform.booking.paid %}
                                        <div class="inc-btm-space">
                                        {% if bookingform.has_available_block %}
                                            {% if bookingform.booking.status == 'OPEN' %}
                                             <a {% if not bookingform.booking.event.payment_open %}class="disabled"{% endif %}href="{% url 'booking:update_booking' bookingform.booking.pk %}">
                                                 <div type="button" {% if not bookingform.booking.event.payment_open %}disabled{% endif %} class="btn btn-success table-btn booking-btn">Payment options</div>
                                             </a>
                                            {% endif %}
                                         {% elif bookingform.booking.event.payment_open %}
                                            {% include 'payments/bookinglistpayment.html' %}
                                         {% else %}
                                              <div type="button" disabled class="btn btn-success table-btn booking-btn">Buy now</div>
                                         {% endif %}
                                        </div>
                                        {% endif %}
                                        {% if bookingform.booking.status == 'OPEN' %}
                                        <a{% if not bookingform.booking.event.can_cancel %}class="disabled"{% endif %}
                                             href="{% url 'booking:delete_booking' bookingform.booking.pk %}">
                                            <div {% if not bookingform.booking.event.can_cancel %}disabled{% endif %}
                                                 class="btn btn-danger table-btn booking-btn">Cancel booking</div></a>
                                        {% else %}
                                            <a href="{% url 'booking:book_event' bookingform.booking.event.slug %}">
                                                <div type="button" class="btn btn-success table-btn booking-btn">Rebook</div></a>
                                        {% endif %}
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>


        </div>
        </div>
    </div>
    {% else %}
        {% if history %}
            <p>You do not have any past class or event bookings.</p>
        {% else %}
            <p>You are not booked into any upcoming classes or events.</p>
        {% endif %}
    {% endif %}

</div>

{% endblock content %}