{% extends "base.html" %}
{% load static %}
{% load bookingtags %}

{% block content %}

<div class="extra-top-margin container-fluid row">

    <div class="col-sm-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Your booking for
                    {% if type == "event" %}
                    <a href="{% url 'booking:event_detail' booking.event.slug %}">
                    {% elif type == "lesson" %}
                    <a href="{% url 'booking:lesson_detail' booking.event.slug %}">
                    {% endif %}
                        {{ booking.event.name }}</a></h3>
            </div>
                <div class="panel-body">
                    <p>{{ booking.event.description }}</p>
                    <ul class=list-group>
                        <li class="list-group-item"><strong>Location:</strong> {{ booking.event.location }}</li>
                        <li class="list-group-item"><strong>Date and time:</strong> {{ booking.event.date |  date:"D d F, g:i a" }}</li>
                        <li class="list-group-item"><strong>Contact: </strong>{{ booking.event.contact_person }}
                            (<a href="mailto:{{ booking.event.contact_email }}?Subject=Enquiry regarding booking for {{ booking.event.name }}" target="_blank">{{ booking.event.contact_email }}</a>)</li>
                        <li class="list-group-item"><p><strong>Payment information:</strong></p>
                            <p>Advance payment is {% if not booking.event.advance_payment_required %}not{% endif %} required for this event.</p>
                            <p>Cost: £{{ booking.event.cost }}</p>
                            <p>{{ payment_text}}</p>
                            {% if booking.event.payment_due_date %}
                                <p>Payment due by {{ booking.event.payment_due_date }}</p>
                            {% endif %}
                            {% if booking.event.payment_link %}
                                <p><a href="{{ booking.event.payment_link }}" target="_blank">{{ booking.event.payment_link }}</a></a></p>
                            {% endif %}
                        </li>
                        {% if booking.event.cancellation_period %}
                        <li class="list-group-item"><strong>Cancellation information</strong>
                            <p>Cancellation is allowed up to {{ booking.event.cancellation_period | format_cancellation }} prior to the
                            {% if type == "event" %}event{% elif type == "lesson" %}class{% endif %}</p></li>
                    {% endif %}
                    </ul>
                    {% if booking.event.cost > 0 %}
                        <p><strong>Payment made (as confirmed by participant): {% if booking.paid %}<span class="confirmed glyphicon glyphicon-ok"></span>
                        {% else %}<span class="not-confirmed glyphicon glyphicon-remove"></span>{% endif %}</strong></p>
                            <p><strong>Payment received (confirmed by organiser):
                                {% if booking.payment_confirmed %}
                                    <span class="confirmed glyphicon glyphicon-ok"></span>
                                {% elif booking.paid %}
                                    <span class="not-confirmed">Pending</span>
                                {% else %}
                                    <span class="not-confirmed glyphicon glyphicon-remove"></span>
                                {% endif %}
                            </strong></p>
                    {% endif %}

                    <p><strong>Place confirmed: {% if booking.space_confirmed %}<span class="confirmed glyphicon glyphicon-ok"></span>{% else %}
                        <span class="not-confirmed">Pending</span>{% endif %}</strong></p>

                    {% if not past %}
                        {% if include_confirm_payment_button %}<p>We currently cannot take payments directly online.  If you have paid via paypal or in person, please click the button
                            button below to confirm.  The organiser will receive a notification to review your booking.</p>
                            <a href="{% url 'booking:update_booking' booking.pk %}"><div class="btn btn-success">Confirm payment made</div></a>
                        {% else %}
                            <a class="disabled" href="{% url 'booking:update_booking' booking.pk %}"><div class="disabled btn btn-success">Confirm payment made</div></a>
                        {% endif %}

                        {% if booking.event.can_cancel %}
                            <a href="{% url 'booking:delete_booking' booking.pk %}"><div class="btn btn-danger">Cancel booking</div></a>
                        {% else %}
                            <a class="disabled" href="{% url 'booking:delete_booking' booking.pk %}"><div class="disabled btn btn-danger">Cancel booking</div></a>
                        {% endif %}
                    {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock content %}