{% extends "base.html" %}
{% load static %}
{% load bookingtags %}

{% block content %}

<div class="extra-top-margin container-fluid row">
    <div class="col-sm-12">
       <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title">Ticket booking for
                    <a href="{% url 'booking:ticketed_event_detail' ticketed_event.slug %}">{{ ticketed_event.name }}</a>
                    on {{ ticketed_event.date | date:"D d F, g:i a" }}</h2>
            </div>

            <div class="panel-body">
                <h4>Booking reference: {{ ticket_booking.booking_reference }}</h4>

                <p>Ticket price : £ {{ ticketed_event.ticket_cost }}</p>

                <form name="ticket_purchase_form" class="form-inline" method="post" action="">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ ticket_purchase_form.as_p }}
                        <input type="hidden" name="ticket_booking_id" value="{{ ticket_booking.id }}" />
                    </div>
                </form>

            {% if tickets %}
                <form method="post" class="form-horizontal" action="">
                    {% csrf_token %}
                    {{ ticket_formset.management_form }}
                    <input type="hidden" name="ticket_booking_id" value="{{ ticket_booking.id }}" />
                        <div {% if purchase_confirmed %}class="hide"{% endif %}>
                        {% if ticketed_event.extra_ticket_info_label or ticketed_event.extra_ticket_info1_label %}
                            <h4>Additional ticket information</h4>
                            {% for ticketform in ticket_formset %}
                                <span class="hide">{{ ticketform.id }}</span>
                                <span class="divider ticket-divider"></span>
                                <h5>Ticket # {{ ticketform.index }}</h5>
                                {% if ticketed_event.extra_ticket_info_label %}
                                    <div class="form-group">
                                        <label class="control-label col-xs-2">{{ ticketform.extra_ticket_info.label }}
                                        {% if ticketform.extra_ticket_info.field.required %}*{% endif %}</label>
                                        <div class="col-xs-10">{{ ticketform.extra_ticket_info }}</div>
                                        <div class="studioadmin-help col-xs-10 col-xs-offset-2">{{ ticketform.extra_ticket_info.help_text }}</div>
                                    </div>
                                {% endif %}
                                {% if ticketed_event.extra_ticket_info1_label %}
                                    <div class="form-group">
                                        <label class="control-label col-xs-2">{{ ticketform.extra_ticket_info1.label }}
                                        {% if ticketform.extra_ticket_info1.field.required %}*{% endif %}</label>
                                        <div class="col-xs-10">{{ ticketform.extra_ticket_info1 }}</div>
                                        <div class="studioadmin-help col-xs-10 col-xs-offset-2">{{ ticketform.extra_ticket_info1.help_text }}</div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </br>
                        {% endif %}
                        </div>
                    <div class="form-group col-sm-12">
                        {% if not paypalform and not purchase_confirmed %}
                                <input
                                    class="btn btn-success update-btn"
                                    type="submit" name="ticket_formset-submit"
                                    value="Confirm purchase"
                                    />
                        {% endif %}
                    </div>
                </form>

                {% if purchase_confirmed %}
                    <p>Your tickets have been reserved and will be held for you
                        {% if ticketed_event.payment_due_date %}
                            until {{ ticketed_event.payment_due_date }}.
                        {% elif ticketed_event.payment_time_allowed %}
                            for {{ ticketed_event.payment_time_allowed }} hours.
                        {% endif %}
                    </p>
                    {% if paypalform %}
                        <p>Click below to be transferred to PayPal to make your payment.</p>
                        {% include 'payments/payment.html' %}
                    {% else %}
                        <p>{{ ticketed_event.payment_info }}</p>
                    {% endif  %}
                {% endif %}
                </br>
            {% endif %}

            <form method="post" action="">
                {% csrf_token %}
                <input type="hidden" name="ticket_booking_id" value="{{ ticket_booking.id }}" />
                <input class="btn btn-danger update-btn" type="submit" name="cancel" value="Cancel"/>
            </form>
            </div>
       </div>

</div>
</div>

{% endblock content %}
