{% extends "base.html" %}
{% load static %}
{% load bookingtags %}

{% block content %}

<div class="extra-top-margin container-fluid row">
    <div class="col-sm-12">
       <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title">You are now booking for
                    {% if ev_type == 'event' %}
                    <a href="{% url 'booking:event_detail' event.slug %}">{{ event.name }}</a>
                    {% else %}
                    <a href="{% url 'booking:lesson_detail' event.slug %}">{{ event.name }}</a>
                    {% endif %}
                    on {{ event.date | date:"D d F, g:i a" }}</h2>
            </div>
            <div class="panel-body">
                <form action="" method="post">{% csrf_token %}
                    <div class="form-group">
                        {% if blocktype_available %}
                            {% if active_user_block %}
                                <p>You have an active block; you can use your block to pay for this booking.</p>
                            {% elif active_user_block_unpaid %}
                                <p>You have an unpaid block.  If you would like to use your block,
                                    click <a href="{% url 'booking:block_list' %}">here</a> to review and make your payment.</p>
                            {% endif %}

                        {% else %}
                            <p>(Note: block booking is not available for this {{ ev_type }} type.)</p>
                        {% endif %}

                        {% if not event.can_cancel %}
                            <p class="cancel-warning">Please note that the cancellation period for this {{ ev_type }} has passed.</p>
                            {% if event.cost %}
                                If you continue with the booking, you will not have the option to cancel it yourself.
                                {% if not event.advance_payment_required%}
                                    <p class="cancel-warning">Your payment will still be due even if you do not attend the {{ ev_type }}.</p>
                                {% else %}
                                    <p class="cancel-warning">If payment has not been received within approximately
                                        4 hours of booking, your booking will be automatically cancelled.</p>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <p>Cancellation is only allowed up to {{ event.cancellation_period | format_cancellation }}
                            before the {{ ev_type }} date.  {% if event.advance_payment_required %}If payment has not been
                            received by the cancellation period, your booking will be automatically cancelled. {% endif %}</p>
                        {% endif %}


                        <span class="hide">{{ form.event }}</span>
                        <span class="hide">{{ form.user }}</span>
                        {% if blocktype_available %}
                            {% if active_user_block %}
                                <input class="btn btn-success update-btn" type="submit" name="block_book" value="Book with block" />
                                <input class="btn btn-success update-btn" type="submit" name="book_one_off" value="Book as one-off" />
                            {% else %}
                                <input class="btn btn-success update-btn" type="submit" name="book_one_off" value="Book" />
                            {% endif %}

                        {% else %}
                            <input class="btn btn-success update-btn" type="submit" name="book_one_off" value="Book" />
                        {% endif %}

                        {% if can_be_free_class %}
                        <input class="btn btn-success update-btn" type="submit" name="claim_free" value="Claim free class**" /></br><hr>
                        <p class="studioadmin-help">** Please select this option only if you have a completed loyatly card and are eligible for a
                            free class.  Your request to
                            claim your free class will be sent to the studio. <span class="cancel-warning">You will not be booked into
                            the class until the studio has reviewed and confirmed that you are eligible.</span></br>
                            Please visit the studio <a target="_blank" href="http://thewatermelonstudio.co.uk/pricelist.php">website</a>
                            for information on loyalty cards.</p>
                        {% endif %}

                    </div>
                </form>
            </div>
       </div>

</div>
</div>

{% endblock content %}
