{% extends "base.html" %}
{% load static %}
{% load bookingtags %}

{% block content %}

<div class="extra-top-margin container-fluid row">
    <div class="col-sm-12">
       <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title">Ticket booking for
                    <a href="{% url 'booking:ticketed_event_detail' ticketed_event.slug %}">{{ ticketed_event.name }}</a>
                    on {{ ticketed_event.date | date:"D d F, g:i a" }}</h2>
            </div>

            <div class="panel-body">
                {{ ticket_booking.user.username }}

                <form method="post" action="">
                    <div class="form-group">
                        {{ ticket_purchase_form.quantity }}
                        <input type="hidden" name="ticket_booking_id" value="{{ ticket_booking.id }}" />
                        <input
                            class="btn btn-success update-btn"
                            type="submit" name={{ ticket_purchase_form_submit.prefix }}-submit"
                            value="Confirm quantity"
                            />
                    </div>
                </form>

            {% if ticket_formset %}
                <form method="post" action="">
                    {% csrf_token %}
                    {{ ticket_formset.management_form }}

                    {% for ticketform in ticket_formset %}
                        {{ ticketform.as_p}}
                    {% endfor %}
                    <div class="form-group">
                        <input
                            class="btn btn-success update-btn"
                            type="submit" name={{ ticket_formset_submit.prefix }}-submit"
                            value="Purchase tickets"
                            />
                    </div>
                </form>
            {% endif %}
            </div>
       </div>

</div>
</div>

{% endblock content %}
