{% extends "base.html" %}
{% load static %}
{% load bookingtags %}

{% block content %}

<div class="extra-top-margin container-fluid row">
    <div class="col-sm-12">
       <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title">Ticket booking for {{ ticketed_event.name }}
                    on {{ ticketed_event.date | date:"D d F, g:i a" }}</h2>
            </div>

            <div class="panel-body">
                <h4>Booking reference: {{ ticket_booking.booking_reference }}</h4>

                <p>Ticket price : £ {{ ticketed_event.ticket_cost }}</p>
                {% if not purchase_confirmed %}
                    <form name="ticket_purchase_form" class="form-inline" method="post" action="">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ ticket_purchase_form.as_p }}
                            <input type="hidden" name="ticket_booking_id" value="{{ ticket_booking.id }}" />
                        </div>
                    </form>
                {% else %}
                    <p>Quantity: {{ ticket_booking.tickets.count }}</p>
                    <p>Total ticket cost: £{{ ticket_booking|total_ticket_cost }}</p>
                {% endif %}

            {% if tickets %}
                <form class="dirty-check" method="post" class="form-horizontal" action="">
                    {% csrf_token %}
                    {{ ticket_formset.management_form }}
                    <input type="hidden" name="ticket_booking_id" value="{{ ticket_booking.id }}" />
                        <div {% if purchase_confirmed %}class="hide"{% endif %}>
                        {% if ticketed_event.extra_ticket_info_label or ticketed_event.extra_ticket_info1_label %}
                            <h4>Additional ticket information</h4>
                        {% endif %}
                            {% for ticketform in ticket_formset %}
                                <span class="hide">{{ ticketform.id }}</span>
                                {% if ticketed_event.extra_ticket_info_label %}
                                <span class="divider ticket-divider"></span>
                                <h5>Ticket # {{ ticketform.index }}</h5>
                                    <div class="form-group {% if not ticketed_event.extra_ticket_info_label %}hide{% endif %}">
                                        <label class="control-label col-xs-2">{{ ticketform.extra_ticket_info.label }}
                                        {% if ticketform.extra_ticket_info.field.required %}*{% endif %}</label>
                                        <div class="col-xs-10 {% if ticketform.extra_ticket_info.errors %}ticket-error{% endif %}">{{ ticketform.extra_ticket_info }}</div>
                                        <div class="studioadmin-help col-xs-10 col-xs-offset-2">{{ ticketform.extra_ticket_info.help_text }}</div>
                                        {% if ticketform.extra_ticket_info.errors %}
                                            <div class="col-xs-10 col-xs-offset-2">
                                                {{ ticketform.extra_ticket_info.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                                {% if ticketed_event.extra_ticket_info1_label %}
                                    <div class="form-group {% if not ticketed_event.extra_ticket_info_label %}hide{% endif %}">
                                        <label class="control-label col-xs-2">{{ ticketform.extra_ticket_info1.label }}
                                        {% if ticketform.extra_ticket_info1.field.required %}*{% endif %}</label>
                                        <div class="col-xs-10 {% if ticketform.extra_ticket_info1.errors %}ticket-error{% endif %}">{{ ticketform.extra_ticket_info1 }}</div>
                                        <div class="studioadmin-help col-xs-10 col-xs-offset-2">{{ ticketform.extra_ticket_info1.help_text }}</div>
                                        {% if ticketform.extra_ticket_info1.errors %}
                                            <div class="col-xs-10 col-xs-offset-2">
                                                {{ ticketform.extra_ticket_info.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </br>
                        </div>
                        {% if not paypalform and not purchase_confirmed %}
                            <div class="form-group">
                                <input
                                    class="btn btn-success update-btn"
                                    type="submit" name="ticket_formset-submit"
                                    value="Confirm purchase"
                                    />
                             </div>
                        {% endif %}
                    </form>
                {% endif %}


                {% if purchase_confirmed %}
                    <div>
                        <strong>Thank you for your ticket booking.</strong></br>
                        {% if ticketed_event.payment_due_date or ticketed_event.payment_time_allowed %}
                            Your tickets have been reserved and will be held for you {% if ticketed_event.payment_due_date %} until {{ ticketed_event.payment_due_date }}.
                            {% elif ticketed_event.payment_time_allowed %} for {{ ticketed_event.payment_time_allowed }} hours.{% endif %}
                        {% endif %}
                    </div>
                    </br>
                    {% if paypalform %}
                        <div>{{ ticketed_event.payment_info }}</div>
                        <div>Click below to be transferred to PayPal to make your payment.</div>
                        {% include 'payments/payment.html' %}</br>
                    {% else %}
                        <div>
                            {% if not ticketed_event.payment_info %}
                                Online payment is not available.  Please contact
                                <a href="mailto:{{ ticketed_event.contact_email }}">{{ ticketed_event.contact_email }}</a> for payment information.
                            {% else %}
                                {{ ticketed_event.payment_info }}
                            {% endif %}
                        </div></br>
                    {% endif  %}
                    <input type="button" class="btn btn-danger" onclick="history.back();" value="Back to ticket details">
                {% endif %}
                </br>

           {% if not purchase_confirmed %}
                <form method="post" action="">
                    {% csrf_token %}
                    <input type="hidden" name="ticket_booking_id" value="{{ ticket_booking.id }}" />
                    <input class="btn btn-danger update-btn" type="submit" name="cancel" value="Cancel"/>
                </form>
           {% endif %}

            </div>
       </div>
       </div>

</div>

{% endblock content %}
