{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="small-margin extra-top-margin container-fluid row">
    <div class="col-sm-11">
       <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title">You are now booking for <a href="{% url 'booking:event_detail' event.slug %}">{{ event.name }}</a></h2>
            </div>
            <div class="panel-body">
                <form action="" method="post">{% csrf_token %}
                    <div class="form-group">
                        {% if event.type == "PC" and active_user_block %}
                        <p>{{ form.use_active_block.help_text }}</p>
                        <p><strong>{{ form.use_active_block.label }}</strong> {{ form.use_active_block }}</p>
                        {% endif %}
                        <span class="hide">{{ form.event  }}</span>
                    <input class="btn btn-success" type="submit" value="Confirm and Book" />
                    </div>
                </form>
            </div>
       </div>

</div>
</div>

{% endblock content %}