{% extends "base.html" %}
{% load static %}
{% load bookingtags %}

{% block content %}

<div class="extra-top-margin container-fluid row">
    <div class="col-sm-12">
       <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title">You are now booking for
                    {% if ev_type == 'event' %}
                    <a href="{% url 'booking:event_detail' event.slug %}">{{ event.name }}</a>
                    {% elif ev_type == 'class' %}
                    <a href="{% url 'booking:lesson_detail' event.slug %}">{{ event.name }}</a>
                    {% else %}
                    <a href="{% url 'booking:room_hire_detail' event.slug %}">{{ event.name }}</a>
                    {% endif %}
                    on {{ event.date | date:"D d F, g:i a" }}</h2>
            </div>
            <div class="panel-body">
                <form action="" method="post">{% csrf_token %}
                    <div class="form-group">
                        {% if blocktype_available %}
                            {% if active_user_block %}
                                <p>You have an active block; you can use your block to pay for this booking.</p>
                            {% elif active_user_block_unpaid %}
                                <p>You have an unpaid block.  If you would like to use your block,
                                    click <a href="{% url 'booking:block_list' %}">here</a> to review and make your payment.</p>
                            {% endif %}

                        {% else %}
                            <p>(Note: block booking is not available.)</p>
                        {% endif %}

                        {% if event.payment_open and event.payment_time_allowed and event.can_cancel %}
                            <p>Once booked, your space will be held for
                                {{ event.payment_time_allowed }} hours pending payment.  If payment is not
                                received within this time, your booking will be automatically cancelled.
                            </p>
                        {% endif %}

                        {% if not event.can_cancel %}
                            <p class="cancel-warning">Please note that the cancellation period for this {{ ev_type }} has passed.</p>
                            {% if event.cost %}
                                <p>If you continue with the booking, you will not have the option to cancel.</p>
                                {% if not event.advance_payment_required%}
                                    <p class="cancel-warning">Your payment will still be due even if you do not attend the {{ ev_type }}.</p>
                                {% else %}
                                    <p class="cancel-warning">If payment has not been received within approximately
                                        4 hours of booking, your booking will be automatically cancelled.</p>
                                {% endif %}
                            {% endif %}
                        {% elif not event.allow_booking_cancellation %}
                            <p>Bookings are final and non-refundable; cancellation is not allowed for this {{ ev_type }}.</p>
                        {% elif event.cancellation_period > 0 %}
                            <p>Cancellation is only allowed up to {{ event.cancellation_period | format_cancellation }}
                            before the {{ ev_type }} date.</p>
                        {% endif %}


                        <span class="hide">{{ form.event }}</span>
                        <span class="hide">{{ form.user }}</span>
                        {% if blocktype_available %}
                            {% if active_user_block %}
                                <input class="btn btn-success update-btn" type="submit" name="block_book" value="Book & pay with block" />
                                <input class="btn btn-success update-btn" type="submit" name="book_one_off" value="Book & pay by paypal" />
                            {% else %}
                                <input class="btn btn-success update-btn" type="submit" name="book_one_off" value="Book" />
                            {% endif %}

                        {% else %}
                            <input class="btn btn-success update-btn" type="submit" name="book_one_off" value="Book" />
                        {% endif %}

                        {% if can_be_free_class %}
                        <input class="btn btn-success update-btn" type="submit" name="claim_free" value="Claim free class**" /></br><hr>
                        <p class="studioadmin-help">** Please select this option only if you are sure you are eligible for a
                            free class.  Your request to claim your free class will be sent to the studio. <br/><span class="cancel-warning">Your space will not be confirmed
                                until the studio has reviewed and confirmed that you are eligible.</span></p>
                        {% endif %}

                    </div>
                </form>
            </div>
       </div>

</div>
</div>

{% endblock content %}
