{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="extra-top-margin container-fluid row">
    <div class="col-sm-12">
       <div class="card">
            <div class="card-header">
                <h2 class="card-title">Cancel Booking</h2>
            </div>
       <div class="card-body">
                <h3>You are about to cancel your booking for
                    {% if event.event_type.event_type == 'EV' %}<a href="{% url 'booking:event_detail' event.slug %}">
                    {% elif event.event_type.event_type == 'CL' %}<a href="{% url 'booking:lesson_detail' event.slug %}">{% endif %}{{ event.name }}</a> on {{ event.date | date:"D d F, g:i a" }}</h3>
                <h4>Are you sure?</h4>
                {% if booking.paid %}
                    {% if event.allow_booking_cancellation and event.can_cancel %}
                        {% if booked_with_block and not booking.block.expired %}
                        <p>You used a block for this booking; your block will be updated automatically.</p>
                        {% elif event.event_type.event_type != 'EV' %}
                            <p>Please note that this booking is transferable but not refundable.
                                If you cancel you will be assigned a transfer block which can be used to book for another
                                {% if event.event_type.event_type == 'CL' %}class{% else %}room hire{% endif %} of the same type.</p>
                        {% else %}
                        <p>Please note that any payments already made will not be automatically
                        refunded.</p>
                        {% endif %}
                    {% elif not block_booked_within_allowed_time %}
                        {% if not event.allow_booking_cancellation %}
                            <p>This event is not eligible for refunds or transfer credit on cancellation.</p>
                        {% else %}
                            <p>The allowed cancellation period for this booking has passed.  If you continue, you will not be eligible for any refund or transfer credit.</p>
                        {% endif %}
                    {% endif %}
                {% endif %}
                <p>For further information, please email {{ event.contact_person }}
                at <a href="mailto:{{ event.contact_email }}?Subject=Enquiry regarding booking for {{ event.name }}" target="_blank">{{ event.contact_email }}</a></p>

            <form action="" method="post">{% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-danger" type="submit" value="Confirm cancel" />
                <a {% if request.META.HTTP_REFERER %}
                   href="{{ request.META.HTTP_REFERER }}"
                   {% else %}
                   href="{% url 'booking:bookings' %}"
                   {% endif %}>
                    <div class="btn btn-warning">Back</div></a>

            </form>
        </div>
        </div>
     </div>

</div>

{% endblock content %}