{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="extra-top-margin container-fluid row">
    <div class="col-sm-12">
       <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title">Cancel Booking</h2>
            </div>
       <div class="panel-body">
                <h3>You are about to cancel your booking for <a href="{% url 'booking:event_detail' event.slug %}">{{ event.name }}</a> on {{ event.date | date:"D d F, g:i a" }}!</h3>
                <h4>Are you sure?</h4>
                {% if booked_with_block %}
                <p>You used a block for this booking; your block will be updated automatically.</p>
                {% else %}
                <p>Please note that any payments already made will not be automatically
                refunded.</p>
                {% endif %}
                <p>For further information{% if not booked_with_block %} on payments{% endif %}, please email {{ event.contact_person }}
                at <a href="mailto:{{ event.contact_email }}?Subject=Enquiry regarding booking for {{ event.name }}" target="_blank">{{ event.contact_email }}</a></p>

            <form action="" method="post">{% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-danger" type="submit" value="Confirm cancel" />
                <a href="{% url 'booking:bookings' %}"><div class="btn btn-warning">Back</div></a>
            </form>
        </div>
        </div>
     </div>

</div>

{% endblock content %}