{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="extra-top-margin container-fluid row">
    <div class="col-sm-12">
       <div class="card card-wm">
            <div class="card-header">
                <h2 class="card-title">Delete Block</h2>
            </div>
       <div class="card-body">
                <h3>You are about to delete a block for {{ block_to_delete.block_type.event_type.subtype }} (x{{ block_to_delete.block_type.size }})</h3>
                <h4>Are you sure?</h4>
            <form action="" method="post">{% csrf_token %}
                <input class="btn btn-danger" type="submit" value="Delete block" />
                <a href="{% url 'booking:block_list' %}"><div class="btn btn-warning">Back</div></a>
            </form>
        </div>
        </div>
     </div>

</div>

{% endblock content %}