{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container-fluid row">

        <h1>Watermelon Studio {% if type == 'events' %}Events{% elif type == 'lessons' %}Classes{% endif %}</h1>
        {% if events %}
        <div class="row">
            <div class="col-sm-12">
                <p>Click on {% if type == 'events' %}event{% elif type == 'lessons' %}class{% endif %} name for more details</p>
                <div class="panel panel-success">

                    <div class="table-responsive">
                        <table class="table">
                            <tr class="success">
                                <th>Date</th>
                                <th>{% if type == 'events' %}Event{% elif type == 'lessons' %}Class{% endif %}</th>
                                <th>Location</th>
                                <th class="table-center">Cost</th>
                                <th class="table-center">Spaces</th>
                                <th class="table-center">Spaces left</th>
                                <th class="table-center">Booking open</th>
                                <th class="table-center">Payment open</th>
                                <th class="table-center">Booked</th>
                                {% if user.is_staff %}
                                <th class="table-center">Admin</th>
                                {% endif %}
                            </tr>
                            <tr class="filter-row">
                                <td class="filter-row" colspan=7>
                                <form class="filter-row" action="" method="get">
                                    <strong>Filter by {% if type == 'events' %}event name{% elif type == 'lessons' %}class type{% endif %}: {{ form.name }}</strong>
                                    <input class="btn btn-info table-btn" type="submit" value="Submit" />
                                </form>
                                </td>
                            </tr>
                            {% for event in events %}
                                <tr {% if event.bookable %}class="active_block"{% else %}class="inactive_block"{% endif %}>
                                    <td>{{ event.date | date:"D d F, g:i a" }}</td>
                                    <td>{% if type == 'events' %}
                                        <a href="{% url 'booking:event_detail' event.slug %}">{{ event.name }}</a>
                                        {% elif type == 'lessons' %}
                                        <a href="{% url 'booking:lesson_detail' event.slug %}">{{ event.name }}</a>
                                        {% endif %}</td>
                                    <td>{{ event.location }}</td>
                                    <td class="table-center">£{{ event.cost }}</td>
                                    <td class="table-center">{% if event.max_participants %}{{ event.max_participants }}{% else %}N/A{% endif %}</td>
                                    <td class="table-center">{% if event.max_participants %}{{ event.spaces_left }}{% else %}N/A{% endif %}</td>
                                    <td class="table-center">{% if event.booking_open %}<span class="fa fa-check"></span>{% else %}<span class="fa fa-times"></span>{% endif %}</td>
                                    <td class="table-center">{% if event.cost %}
                                        {% if event.payment_open %}<span class="fa fa-check"></span>{% else %}<span class="fa fa-times"></span>{% endif %}
                                        {% else %}N/A{% endif %}</td>
                                    <td class="table-center">{% if event in booked_events %}<span class="fa fa-check"></span>{% endif %}
                                        {% if event not in booked_events %}
                                            {% if event.bookable %}
                                                <a href="{% url 'booking:book_event' event.slug %}"><div class="btn btn-success table-btn">Book</div></a>
                                            {% else %}
                                                <div class="disabled btn btn-success table-btn">Book</div>
                                            {% endif %}
                                        {% endif %}</td>
                                    {% if user.is_staff %}
                                    <td class="table-center"><a href="{% url 'booking:register' event.slug %}">Register</a></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </table>
                    </div>



                </div>
            </div>
         </div>
        {% else %}
            <p>There are currently no {% if type == 'events' %}events{% elif type == 'lessons' %}classes{% endif %} available to book.</p>
        {% endif %}

    </div>



{% endblock content %}