{% extends "base.html" %}
{% load static %}
{% load bookingtags %}

{% block content %}

<div class="extra-top-margin container-fluid row">
    <div class="col-sm-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title"><a href="{% url 'booking:event_detail' event.slug %}">{{ event.name }}</a></h3>
            </div>
            <div class="panel-body">
                {% if past %}
                <h3>This event is now past.</h3>
                {% endif %}
                <p>{{ event.description }}</p>
                <ul class="list-group">
                    <li class="list-group-item"><strong>Location:</strong>  {{ event.location }}</li>
                    <li class="list-group-item"><strong>Date and time:</strong> {{ event.date |  date:"D d F, g:i a" }}</li>
                    {% if not past %}
                     <li class="list-group-item"><strong>Contact:</strong> {{ event.contact_person }}
                          (<a href="mailto:{{ event.contact_email }}?Subject=Enquiry regarding booking for {{ event.name }}" target="_blank">{{ event.contact_email }}</a>)</li>
                    <li class="list-group-item"><p></p><strong>Payment information</strong></p>
                        <p>Advance payment is {% if not event.advance_payment_required %}not{% endif %} required for this
                        {% if type == "event" %}event{% elif type == "lesson" %}class{% endif %}.</p>

                        <p>Cost: £ {{ event.cost }}</p>

                        <p>{{ event.payment_text }}</p>
                        <p><a href="{{ event.payment_link }}" target="_blank">{{ event.payment_link }}</a></p>

                        {% if event.payment_open and event.payment_due_date %}
                            <p>Payment is due by {{ event.payment_due_date |  date:"D d F Y" }}</p>
                        {% endif %}</li>
                    {% if event.cancellation_period %}
                        <li class="list-group-item"><strong>Cancellation information</strong>
                        <p>Cancellation is allowed up to {{ event.cancellation_period | format_cancellation }} prior to the
                        {% if type == "event" %}event{% elif type == "lesson" %}class{% endif %}</p></li>
                    {% endif %}

                    </ul>
                    {% if event.max_participants %}
                        <h5>There are a maximum {{ event.max_participants }} spaces for this
                            {% if type == "event" %}event{% elif type == "lesson" %}class{% endif %}.</h5>
                        <h5>Spaces left: {{ event.spaces_left }}</h5>
                    {% endif %}

                    {% if booked %}
                        <h5>{{ booking_info_text }}</h5>
                        <h5>See <a href="{% url 'booking:bookings' %}">your bookings</a> for details{% if event.cost %}, to
                         confirm payment and to check if your place has been confirmed{% endif %}.</h5>
                    {% else %}
                        {{ booking_info_text }}
                    {% endif %}

                    {% if bookable %}
                        <a href="{% url 'booking:book_event' event.slug %}"><div class="btn btn-success">Book</div></a>
                    {% endif %}
                {% endif %}

            </div>
        </div>
    </div>

</div>

{% endblock content %}