{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="extra-top-margin container-fluid row">
    <div class="col-xs-12">
            <h2>Gift Vouchers</h2>
            <div>
                <p>PLACEHOLDER - Description/instructions</p></div>
            <div>

                {% if paypal_form %}
                    {{ voucher_type }} (incl. VAT)
                    <div id="gift-voucher-paypal-form">
                    {{ paypal_form.render }}
                    </div>
                {% else %}
                <form id='gift-form' class="dirty-check" action="" method="post">{% csrf_token %}
                    {% for field in form %}
                    <div class="col-xs-12 vspace-sm">
                    <div class="form-group">
                    <label class="control-label col-xs-2" for="{{field.name}}_id">{{ field.label }}</label>
                    <div class="col-xs-10 {% if field.errors %}ticket-error{% endif %}">{{ field }}</div>
                    {% if field.errors %}
                        <div class="col-xs-12">{{ field.errors }}</div>
                    {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                       <div class="col-xs-10 col-xs-offset-2"><input class="btn btn-success" type="submit" value="Submit" /></div>
                </form>
               {% endif %}
    </div>
</div>

{% endblock content %}