{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="extra-top-margin container-fluid row">
    <div class="col-sm-12">
       <div class="card card-wm">
            <div class="card-header">
                <h2 class="card-title">Memberships</h2>
            </div>
            <div class="card-body">
                {% if has_membership %}
                    <p>You already have an active membership. View <a href="{% url 'membership_list' %}">your memberships</a> to update or cancel.</p>
                {% else %}
                    <p>Select a membership to add.</p>

                    <h4>Memerships available:</h4>
                    {% for membership in memberships %}
                        <p>{{ membership.name }}</p>
                        <p>{{ membership.description }}</p>
                        <ul>
                            <li>Cost: £{{ membership.price }}{% if show_vat %} (incl VAT){% endif %}</li>
                        </ul>
                    {% endfor %}

                    <form method="post" action="{% url 'membership_checkout' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Choose a membership:</label> {{ form.membership }}
                        </div>
                        <div class="form-group">
                            <label>{{ form.backdate.label }}</label> {{ form.backdate }}
                            <span class="studioadmin-help">{{ form.backdate.help_text }}</span>
                        </div>
                        <div class="form-group">
                            <label>{{ form.agree_to_terms.label }}</label> {{ form.agree_to_terms }}
                        </div>
                        <div class="form-group">
                        <input class="btn btn-wm" type="submit" value="Checkout" />
                        </div>
                    </form>
                </div>
            {% endif %}
       </div>

</div>
</div>

{% endblock content %}
