{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="extra-top-margin container-fluid row">
    <div class="col-sm-12">
       <div class="card card-wm">
            <div class="card-header">
                <h2 class="card-title">Memberships</h2>
                </div>
            <div class="card-body">
                <p>
                    Note: memberships run for a calendar month. Fees are taken on the 25th of each month for the next calendar month. This
                    allows your membership to run continuously.
                </p>
                <h4>Memberships available:</h4>
                {% if memberships %}
                    {% for membership in memberships %}
                        <details>
                        <summary>{{ membership }}</summary>
                        <dd class="ml-3">{{ membership.description|linebreaks }}
                            <ul>
                                {% for membership_item in membership.membership_items.all %}
                                <li>{{ membership_item }}</li>
                                {% endfor %}
                            </ul>
                        £{{ membership.price }}{% if show_vat %} (incl VAT){% endif %}</dd>
                        </details>
                    {% endfor %}
                
                    {% if has_ongoing_membership %}
                        <p class="mt-4">You already have an active membership. View <a href="{% url 'membership_list' %}">your memberships</a> to update or cancel.</p>
                    {% elif has_cancelled_current_membership %}
                        <p class="mt-4">You already have an active membership which ends after this month. You can create a new membership to 
                            start from next month.</p>  
                    {% endif %}

                    {% if form %}
                        <p>Select a membership to add.</p>
                        <form method="post" action="{% url 'membership_checkout' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Choose a membership:</label> {{ form.membership }}
                            </div>
                            <div class="form-group">
                                <label>{{ form.backdate.label }}</label> {{ form.backdate }}
                                <span class="studioadmin-help">{{ form.backdate.help_text }}</span>
                            </div>
                            <div class="form-group">
                                {{ form.agree_to_terms }} <label>{{ form.agree_to_terms.label }}</label> 
                            </div>
                            <div class="form-group">
                            <input class="btn btn-wm" type="submit" value="Checkout" />
                            </div>
                        </form>
                        </div>
                    {% endif %}
                {% else %}
                    No memberships are currently available.
                {% endif %}
       </div>

</div>
</div>

{% endblock content %}
