{% extends "base.html" %}
{% load static %}
{% load bookingtags %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'booking/vanilla-notify.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" />
<script type='text/javascript' src="{% static 'booking/vanilla-notify.min.js' %}"></script>
{% endblock %}

{% block perm_banner %}
    {{ block.super }}
    {% if user.is_authenticated %}
        <div id="message-row"  class="row">
            <div class="col-12">
                <div class="message alert alert-info alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    For private lesson availability please email <a href="mailto:{{ studio_email }}">{{ studio_email }}</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}


    <div class="row">
        <div class="col-12">
        <h1>Online Tutorials</h1>
            <h4>Click to view <a href="{% url 'booking:lessons' %}">Classes</a> or <a href="{% url 'booking:events' %}">Workshops</a></h4>

            {% if user.is_authenticated %}
                {% has_shopping_basket_items user as items_in_shopping_basket %}
                {% if items_in_shopping_basket %}
                <p class="errorlist">
                    You have items in your shopping basket.  Note that if payment or block allocation has
                    not been received within the required time (see individual class/workshop for details),
                     your booking will be automatically cancelled and you
                     will need to contact the studio directly to rebook.
                </p>
                {% endif %}
            {% endif %}
        </div>

            <div class="col-12">
                {% if not disclaimer and user.is_authenticated %}
                    {% if expired_disclaimer %}
                        <p>Your disclaimer has expired.  Please <a href="{% url 'disclaimer_form' %}">review and confirm your information</a> before making a purchase.</p>
                    {% else %}
                        <p>Please note that you will need to complete a <a href="{% url 'disclaimer_form' %}">disclaimer form</a> before making a purchase.</p>
                    {% endif %}
                {% endif %}

                {% if not user.is_authenticated %}
                    <p><a href="{% url 'account_login' %}?next={{request.get_full_path}}">Sign in</a> to purchase</p>
                {% endif %}


                {% if user.is_authenticated %}
                <div class="btn-group btn-group-sm float-right" role="group">
                    <a class="btn btn-info-link" href="{% url 'booking:bookings' %}">My bookings</a>
                    <a class="btn btn-info-link" href="{% url 'booking:purchased_tutorials' %}">My tutorials</a>
                    <a class="btn btn-info-link" href="{% url 'booking:block_list' %}">My blocks</a>
                </div>
                {% endif %}
            </div>

        {% if events_exist %}

            <div class="col-12">

                <div class="panel with-nav-tabs panel-success">

{#                    location_events is a list of objs passed from view: #}
{#                    [#}
{#                        {events: queryset, location: 'Beaverbank Place', index: 1}#}
{#                        {events: queryset, location: 'Other', index: 2}#}
{#                    ]  #}

                    <div class="panel-heading">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            {% for location_obj in location_events %}
                                {% if location_obj.index != 0 or location_events|length > 2 %}
                                <li class="nav-item {{ location_obj.index|get_active_class:tab }}">
                                    <a class="nav-link" id="navtab{{ location_obj.index }}" href="#tab{{ location_obj.index }}" data-toggle="tab" role="tab">{{ location_obj.location }}</a>
                                </li>
                                {% endif %}
                            {%  endfor %}
                        </ul>
                    </div>

                    <div class="panel-body">
                        <div class="tab-content">
                        {% for location_obj in location_events %}
                            <div class="tab-pane fade {{ location_obj.index|get_active_in_class:tab }}" id="tab{{ location_obj.index }}">
                                    {% if location_obj.queryset %}
                                        <div class="table-responsive">
                                        <table class="table table-condensed table-striped">
                                            <tr class="table-tab-header">
                                                {% if user.is_authenticated %}
                                                    <th></th>
                                                {% endif %}
                                                <th>Tutorial<br/>
                                                    <span class="studioadmin-help">Click for details</span>
                                                </th>
                                                <th></th>
                                                <th class="d-none d-md-table-cell table-center">Cost{% if show_vat %} <span class="vat">(incl VAT)</span>{% endif %}</th>
                                                <th class="d-none d-md-table-cell table-center">Payment open</th>
                                            </tr>

                                            {% for event in location_obj.queryset %}
                                                {% get_weekday event.date.weekday as table_shaded %}
                                                {% get_booking event user user_bookings as booking %}
                                                <tr class="
                                                    {% if event.bookable %}active_block{% else %}inactive_block{% endif %}
                                                    {{ table_shaded }}
                                                    {% if booking and booking.status == 'OPEN' and not booking.paid %}unpaid-booking-row{% endif %}

                                                    compress table-tab">
                                                {% if user.is_authenticated %}
                                                    {% if event.is_past %}
                                                    <td></td>
                                                    {% else %}
                                                    <td class="table-btns">
                                                            {% if not disclaimer %}
                                                                <a class="ext-instructor" href="{% url 'booking:tutorial_detail' event.slug %}">N/A - see details</a>
                                                            {% elif event.id in booked_events and booking.paid %}
                                                                Purchased
                                                            {% elif event.bookable %}
                                                                {% if event.id in auto_cancelled_events %}
                                                                    <div class="disabled btn btn-success table-btn" id="autocancelled_button" title="Contact {{ event.contact_email }} directly to purchase">Add to basket</div>
                                                                {% else %}
                                                                    <span
                                                                            id="book_{{ event.id }}_{{ location_obj.index }}"
                                                                            data-event_id="{{ event.id }}"
                                                                            data-location_index="{{ location_obj.index }}"
                                                                            data-location_count="{{ location_events|length }}"
                                                                            data-location_page="{{ location_obj.queryset.number }}"
                                                                            data-ref="online_tutorials"
                                                                            {% if event.id not in booked_events %}class="td_ajax_book_btn"{% endif %}>
                                                                    {% include "booking/includes/ajax_purchase_tutorial_button.txt" %}
                                                                    </span>
                                                                {% endif %}
                                                            {% else %}
                                                                <div class="disabled btn btn-success table-btn">Add to basket</div>
                                                            {% endif %}
                                                        {% endif %}
                                                    </td>
                                                  {% endif %}
                                                    <td class="table-event">
                                                        <a href="{% url 'booking:tutorial_detail' event.slug %}">{{ event.name }}</a>
                                                    </td>
                                                    <td>
                                                        {% if booking and booking.status == 'OPEN' and not booking.no_show and booking.paid %}
                                                            {% if event.show_video_link %}
                                                                <a id="video_link_id_{{ event.id }}" class="btn btn-info table-btn" href="{{ event.video_link }}">View tutorial</a>
                                                            {% elif event.is_online %}
                                                                <span id="video_link_id_disabled_{{ event.id }}" class="btn btn-info table-btn disabled">View tutorial</span>
                                                            {% endif %}
                                                        {% endif %}
                                                    </td>

                                                    <td class="d-none d-md-table-cell table-center">£{{ event.cost }}</td>
                                                    <td class="d-none d-md-table-cell table-center">{% if event.cost %}
                                                        {% if event.payment_open %}<span class="fa fa-check"></span>{% else %}<span class="fa fa-times"></span>{% endif %}
                                                        {% else %}N/A{% endif %}</td>
                                                </tr>
                                            {% endfor %}
                                                <tr>
                                                    <div class="filter-form-group">
                                                        <form class="filter-row form-inline" action="" method="get">
                                                            <label>FILTER BY: </label>
                                                            <label>{{ form.name.label }}</label>{{ form.name }}
                                                            <input type="hidden" name="tab" value="{{ location_obj.index }}">
                                                            <input class="btn btn-sm btn-success" type="submit" value="Go">
                                                        </form>
                                                    </div>
                                                    {% include 'booking/includes/event_pagination.html' %}
                                                </tr>

                                        </table>
                                        </div>
                                        {% include 'booking/includes/event_pagination.html' %}
                                    {% else %}
                                    <h3>Coming soon!</h3>
                                    {% endif %}
                                </div>
                          {% endfor %}
                        </div> <!-- tab content -->
                    </div> <!-- panel body -->
                </div>
            </div>

        {% else %}
            <div class="col-12">
            <p>There are currently no online tutorials available to purchase.</p>
            </div>
        {% endif %}

    </div>


{% endblock content %}


{% block extra_js %}
<script src="{% static 'booking/js/updateLocation.js' %}"></script>
<script>
    $(document).ready(function() {
        // messages timeout for 10 sec
        setTimeout(function() {
            $('#message-row').fadeOut('slow');
        }, 10000); // <-- time in milliseconds, 1000 =  1 sec
    });
</script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-multidatespicker/1.6.6/jquery-ui.multidatespicker.min.js" integrity="sha512-mMP7O0G5Vv01th+kpYux7RbD89Mx/iQnIvxcKdctiPyADgJzacfQJ8k2AsB8695AAuR2uPuxk7dawb1eehjcuQ==" crossorigin="anonymous"></script>
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script type='text/javascript' src="{% static 'booking/js/events_booking_ajax-v1.js' %}"></script>
<script type='text/javascript' src="{% static 'booking/js/toggle_waiting_list_ajax.js' %}"></script>
<script type='text/javascript'>$.widget.bridge('uitooltip', $.ui.tooltip);</script>
<script>
  /*** Handle jQuery plugin naming conflict between jQuery UI and Bootstrap ***/
  $.widget.bridge('uibutton', $.ui.button);
  $.widget.bridge('uitooltip', $.ui.tooltip);
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#id_date_selection').multiDatesPicker(
            {
                minDate: 0,
                dateFormat: "d-M-yy",
            }
        );
        // Fix jumping back to current month - see https://github.com/dubrox/Multiple-Dates-Picker-for-jQuery-UI/issues/221
        $.datepicker._selectDateOverload = $.datepicker._selectDate;
        $.datepicker._selectDate = function (id, dateStr) {
        var target = $(id);
        var inst = this._getInst(target[0]);
        inst.inline = true;
        $.datepicker._selectDateOverload(id, dateStr);
        inst.inline = false;
        if (target[0].multiDatesPicker != null) {
        target[0].multiDatesPicker.changed = false;
        } else {
        target.multiDatesPicker.changed = false;
        }
        this._updateDatepicker(inst);
        };
    });
</script>

{% endblock %}
