{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container-fluid row">

        <h1>Tickets for Watermelon Studio Shows, Competitions and Events</h1>
        {% if ticketed_events %}
        <div class="row">
            <div class="col-sm-12">
                <p>Click on event name for more details</p>
                {% if not user.is_authenticated %}
                    <p><a href="{% url 'account_login' %}?next={{request.get_full_path}}">Sign in</a> to book</p>
                {% endif %}
                <div class="panel panel-success">

                    <div class="table-responsive">
                        <table class="table">
                            <tr class="success">
                                {% if user.is_authenticated %}
                                    <th class="table-center">Booked</th>
                                {% endif %}
                                <th>Date</th>
                                <th>Event</th>
                                <th class="hidden-sm hidden-xs">Location</th>
                                <th class="hidden-sm hidden-xs table-center">Ticket Cost</th>
                                <th class="hidden-sm hidden-xs table-center">Payment open</th>
                            </tr>

                            {% for event in ticketed_events %}
                                <tr>
                                {% if user.is_authenticated %}
                                    <td class="table-center">
                                        {% if event in tickets_booked_events %}
                                            <span class="fa fa-check"></span>
                                            {% if event.bookable %}
                                                <a href="{% url 'booking:book_ticketed_event' event.slug %}"><div id="book_button" class="btn btn-success table-btn">Buy more tickets</div></a>
                                            {% else %}
                                                Event fully booked
                                            {% endif %}
                                        {% else %}
                                            {% if event.bookable %}
                                                <a href="{% url 'booking:book_ticketed_event' event.slug %}"><div id="book_button" class="btn btn-success table-btn">Buy tickets</div></a>
                                            {% else %}
                                                Event fully booked
                                            {% endif %}
                                        {% endif %}</td>
                                    {% endif %}
                                    <td>{{ event.date | date:"D d M H:i" }}</td>
                                    <td><a href="{% url 'booking:ticketed_event_detail' event.slug %}">{{ event.name }}</a></td>
                                    <td class="hidden-sm hidden-xs">{{ event.location }}</td>
                                    <td class="hidden-sm hidden-xs table-center">£{{ event.ticket_cost }}</td>
                                    <td class="hidden-sm hidden-xs table-center">
                                        {% if event.cost %}
                                            {% if event.payment_open %}<span class="fa fa-check"></span>{% else %}<span class="fa fa-times"></span>{% endif %}
                                        {% else %}
                                            N/A
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>


                </div>
            </div>
         </div>
        {% else %}
            <p>There are currently no ticketed events available to book.</p>
        {% endif %}

    </div>



{% endblock content %}
