{% extends "base.html" %}
{% load static %}
{% load bookingtags %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'booking/vanilla-notify.css' %}">
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12 pt-2">
        <div class="card card-wm">
            <div class="card-header">
                <h3 class="card-title">Online Tutorial</h3>
            </div>

            <div class="card-body">
                <h2>{{ tutorial.name }}</h2>
                <div class="float-right">
                {% if tutorial.show_video_link and booked and booking.paid %}
                    <a id="video_link_id" class="btn btn-info" href="{{ tutorial.video_link }}">View video link</a>
                {% else %}
                    <div id="video_link_disabled_id" class="btn btn-outline-secondary disabled">Video link enabled after purchase</div>
                {% endif %}
                </div>
            </div>
        
            <div class="card-body pt-0">
                {% if tutorial.cancelled %}
                    <h3>This {{ event_type__str }} has been cancelled.</h3>
                {% endif %}

                {% if not disclaimer %}
                    {% if expired_disclaimer %}
                        <p>Your disclaimer has expired.  Please <a href="{% url 'disclaimer_form' %}">review and confirm your information</a> before purchasing</p>
                    {% else %}
                        <p>Please note that you will need to complete a <a href="{% url 'disclaimer_form' %}">disclaimer form</a> before purchasing</p>
                    {% endif %}
                {% endif %}

                <ul class="list-group">
                    {% if tutorial.description %}
                        <li class="list-group-item"><p><strong>Description</strong></p>
                        <p>{{ tutorial.description | safe }}</p>
                        </li>
                    {% endif %}
                    {% if not tutorial.cancelled %}
                         <li class="list-group-item"><strong>Contact:</strong> {{ tutorial.contact_person }}
                              (<a href="mailto:{{ tutorial.contact_email }}?Subject=Enquiry regarding {{ tutorial.name }}" target="_blank">{{ tutorial.contact_email }}</a>)</li>
                        <li class="list-group-item"><p><strong>Payment information</strong></p>
                            
                            <p>Cost: £ {{ tutorial.cost }}{% if show_vat %} (incl VAT){% endif %}</p>

                            <p>{{ payment_text | safe }}</p>
                        </li>
                    {% endif %}
                </ul>

                {% if not past %}
                    {% if not tutorial.cancelled %}
                        <span id="booked_text">{% include 'booking/includes/event_booking_detail.html' %}</span>
                    {% endif %}  <!-- cancelled -->
                    {% endif %}  <!-- past -->
            </div>
        </div>
    </div>

</div>

{% endblock content %}

{% block extra_js %}
<script type='text/javascript' src="{% static 'booking/vanilla-notify.min.js' %}"></script>
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
{% endblock %}
