{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="extra-top-margin container-fluid row">
    <div class="col-sm-12">
       <div class="panel panel-success">
            <div class="panel-heading">
                <h1 class="panel-title">Your block booking</h1>
            </div>
           <div class="panel-body">
                <form action="" method="post">{% csrf_token %}
                    <h4>{{ form.paid.label}}</h4>
                    <p class="hide">{{ form.paid }}</p>
                    <p>We currently cannot take payments directly online.  If you have paid via paypal or in person, please confirm by
                        clicking the button below.  The organiser will receive a notification that you have confirmed payment.

                    <p>Please note that your block payment will be marked as pending
                    until the organiser has reviewed and confirmed it.</p>
                    <input class="btn btn-success" type="submit" value="Confirm payment made" />
                </form>
                {% include 'payments/payment.html' %}
               <a href="{% url 'booking:block_list' %}"><div class="btn btn-warning">Cancel</div></a>
            </div>
       </div>
    </div>


</div>

{% endblock content %}