{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block content %}

       <div class="card card-wm">
            <div class="card-header">
                <h1 class="card-title">Your booking for {{ booking.event }}</h1>
            </div>

            {% if booking.event.cost != 0 %}
            <div class="card-body">
                <h4>Cost: £ {{ paypal_cost|floatformat:2 }}{% if show_vat %} (incl VAT){% endif %}</h4>
                    {% if booking.event.payment_open %}
                        {% if not valid_voucher %}
                            <form name="voucher_form" class="form-inline" method="post" action="">
                                {% csrf_token %}
                                    <label for="code_id">{{ voucher_form.code.label }}</label> {{ voucher_form.code }}
                                    <input class="btn btn-wm table-btn" type="submit" name="apply_voucher" value="Apply" />
                                    {% if voucher_error %}
                                        <p class="errorlist">{{ voucher_error }}</p>
                                    {% endif %}
                            </form>
                        {% else %}
                            <p><strong>Voucher applied: {{ voucher.code }} ({{voucher.discount}}% discount)</strong>
                                <a class="btn btn-wm table-btn" href="{% url 'booking:update_booking' booking.id %}" />Remove</a></p>
                            <small>You have already used this voucher {% if times_voucher_used == 1 %}once{% else %}{{ times_voucher_used }} times{% endif %} (max {{ voucher.max_per_user }})</small>
                        {% endif %}
                     {% endif %}
            </div>
            <div class="card-body">
                {% if booking.event.payment_open %}
                <span class="divider"></span>
                    {% if payment_method == "paypal" %}
                        <h4>Pay with PayPal</h4>
                        <p>Click below to be transferred to paypal to make your payment.</p>
                        {% include 'payments/payment.html' %}

                        {% if event.payment_open and event.payment_time_allowed %}
                            <p>Note: Your space will be held for
                                {{ event.payment_time_allowed }} hours pending payment.  If payment is not
                                received within this time, your booking will be automatically cancelled.
                            </p>
                        {% endif %}
                    {% else %}
                        <a class="btn btn-info" href="{% url 'booking:shopping_basket' %}">Go to shopping basket</a>
                    {% endif %}
                {% else %}
                    <h4>Payment information</h4>
                    {{ booking.event.payment_info|safe }}
                {% endif %}
            </div>
            <div class="card-body">

                   <form action="" method="post">{% csrf_token %}
                       <span class="divider"></span>
                        <span class="hide">{{ form.paid  }}</span>
                        <div>
                        {% if active_user_block %}
                        <h4>Pay with Block</h4>
                            <p>You have an active block; would you like to use your block to pay for this booking?</p>
                            <input class="btn btn-wm update-btn" type="submit" name="block_book" value="Use my block" />
                        {% elif blocktype_available %}
                         <h4>Pay with Block</h4>
                            <p>Block booking is available for this class.  Click below to buy a new block.
                                Once your block is paid, you can return to this page and use your block to pay for this booking.</p>
                            <a class="btn btn-wm update-btn" href="{% url 'booking:add_block' %}">Buy a block</a>
                        {% endif %}
                    </br></br>
                    </div>
                    </form>
           </div>

                {% else %}
           <div class="card-body">
               <h5>There is no cost associated with this event.</h5>
           </div>
                {% endif %}


           </div>

       </div>
{% endblock content %}
