
<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}&start_date={{ form.start_date.value }}&end_date={{ form.end_date.value }}">Previous</a>
    {% else %}
        <a class="disabled" disabled=disabled href="#">Previous</a>
    {% endif %}
    <span class="page-current">
        --  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} --
    </span>
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}&start_date={{ form.start_date.value }}&end_date={{ form.end_date.value }}">Next</a>
    {% else %}
        <a class="disabled" href="#">Next</a>
    {% endif %}
</div>