<div class="modal-dialog modal-md">
    <div class="modal-content">
        <form id="user-booking-form" method='post' class="form" role="form" action='{% url "studioadmin:bookingedit" booking.id %}'>

            <div class="modal-header">
                    <h4 class="modal-title" id="UserBookingModalLabel">Editing booking for {{ booking.user.first_name }} {{ booking.user.last_name}}</h4>
                    <h4>{{ booking.event }} {% if booking.event.cancelled %}(CANCELLED){% endif %}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

            </div>

            <div class="modal-body">
                {% csrf_token %}
                {{ form.non_field_errors }}
                    {% for field in form %}
                         <div class="form-group">
                            {% if field.field.widget.input_type  == "checkbox" %}
                                {{ field }}
                                <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                            {% else %}
                                <label for="id_{{ field.name }}">{{ field.label }}</label>
                                {{ field }}
                            {% endif %}
                            {% if field.errors %}
                                <div class="form-error">
                                    {% for error in field.errors %}
                                        <span class="fa fa-exclamation-triangle"></span>{{ error|escape }}
                                    {% endfor %}
                                </div>
                            {% endif %}



                            {% if field.errors %}
                                <div class="form-error">
                                    {% for error in field.errors %}
                                        <span class="fas fa-exclamation-triangle"></span>{{ error|escape }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
            </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-outline-secondary" data-dismiss="modal" value="Cancel" />
                    <input type="submit" class="btn btn-wm" value="Save" />
                </div>
        </form>


        <script>
            var form_options = {
                target: '#UserBookingModal',
                success: function() { }
            };

            $('#user-booking-form').ajaxForm(form_options);
        </script>

    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->