<div class="modal-dialog modal-md">
    <div class="modal-content">
        <form id="user-booking-add-form" method='post' class="form" role="form" action='{% url "studioadmin:bookingadd" form_user.id %}'>

            <div class="modal-header">
                    <h4 class="modal-title" id="UserBookingAddModalLabel">Adding booking for {{ form_user.first_name }} {{ form_user.last_name}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>

            <div class="modal-body">
                {% csrf_token %}
                {{ form.non_field_errors }}
                    {% for field in form.visible_fields %}
                         <div class="form-group">
                            {% if field.field.widget.input_type  == "checkbox" %}
                                {{ field }}
                                <label for="id_new_{{ field.name }}">{{ field.label }}</label>
                            {% else %}
                                <label for="id_new_{{ field.name }}">{{ field.label }}</label>
                                {{ field }}
                            {% endif %}

                            {% if field.errors %}
                                <div class="form-error">
                                    {% for error in field.errors %}
                                        <span class="fa fa-exclamation-triangle"></span>{{ error|escape }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    {% for field in form.hidden_fields %}
                         <div style="display:none;">{{ field }}</div>
                     {% endfor %}
            </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-outline-secondary" data-dismiss="modal" value="Cancel" />
                    <input type="submit" class="btn btn-wm" value="Save" />
                </div>
        </form>


        <script>
            var form_options = {
                target: '#UserBookingAddModal',
                success: function() { }
            };

            $('#user-booking-add-form').ajaxForm(form_options);
        </script>

    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->