{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row container-fluid">
    {% if user.is_authenticated %}
    <div class="col-12">
    <div class="btn-group btn-group-sm float-right" role="group">
        <a class="btn btn-info-link" href="{% url 'booking:bookings' %}">My bookings</a>
        <a class="btn btn-info-link" href="{% url 'booking:block_list' %}">My blocks</a>
        <a class="btn btn-info-link" href="{% url 'booking:lessons' %}">All Classes</a>
    </div>
    </div>
    {% endif %}

    <div class="col-12">
    {% if obj_unknown %}
        <h3>PayPal Payment</h3>
        {% if cart_items %}
            <p>Your payment for the following item(s) is being processed:</p>
            {% for item in cart_items %}
                <ul>
                    <li>{{ item }}</li>
                </ul>
            {% endfor %}
            <p>You should receive payment confirmations from PayPal and from the
            studio shortly.</p>
        {% else %}
            <p>Thank you for your payment which is currently being processed.
                Please check your email for payment confirmations from PayPal and from the studio.</p>
        {% endif %}
        <p>If you have not received payment confirmation within a
                few hours, please check your spam folder and contact
            <a href="mailto:{{ organiser_email }}?subject=Payment enquiry">
                {{ organiser_email }}</a> if you need any further information.</p>
    {% else %}
        {% for obj in objs %}
            {% if obj == 'paypal_test' %}
                <h3>Test Payment {% if test_ipn_complete %}for {{ test_paypal_email }}{% endif %}</h3>
                {% if test_ipn_complete %}
                    <p>The test payment has completed successfully.</p>
                {% else %}
                    <p>The test payment is being processed.  You should receive an email notification of status shortly.</p>
                {% endif %}
            {% else %}
                <h3>Payment for {{ obj }}</h3>
            {% endif %}
            {% if payment_status == 'Completed' and obj.paid %}
                <p>Your payment has been successfully completed.</p>
            {% elif payment_status == 'Completed' or payment_status == 'Pending' %}
                <p>Your payment is being processed.  You should receive payment confirmations from PayPal and from the
        studio shortly.</p>
            {% endif %}
        {% endfor %}



            <p>If you
            have not received payment confirmation within a few hours, please check
            your spam folder and contact
            <a href="mailto:{{ organiser_email }}?subject=Payment enquiry">
                {{ organiser_email }}</a> if you need any further information.</p>

    {% endif %}
    </div>
</div>

{% endblock %}
