{% extends 'email_base.html' %}

{% block messagecontent %}
<div style="font-family: sans-serif;">

<p>You have cancelled your booking for {{ event }}. 

{% if block_booked_within_allowed_time %}
 Your block has been updated.</p>
 {% else %}</p>
 <p>
    {% if not event.allow_booking_cancellation %}
        Please note that this booking is not eligible for refunds or transfer credit on cancellation.
    {% elif not event.can_cancel %}
        Please note that you have cancelled after the allowed cancellation period and therefore you are not eligible for any refund or transfer credit.
    {% else %}
        {% if booking.membership %}
            You used your membership to make this booking; your membership has been updated.
        {% elif booking.block %}
            You used a block to make this booking; your block has been updated. Please note that your block 
            expires on <strong>{{ booking.block.expiry_date|date:"d M Y" }}</strong>.  Please ensure you use your returned
            credit by this date.
        {% elif booking.paid %}
            {% if event.event_type.event_type == 'CL' %}
                This booking is not refundable; a transfer credit has been created for you and can be used for your next booking for the same class type. Transfer credit is valid for 2 weeks.
            {% elif event.event_type.event_type == 'RH' %}
                This booking is not refundable; a transfer credit has been created for you and can be used for your next room hire booking. Transfer credit is valid for 2 weeks.
            {% elif booking.free_class %}
                This booking was marked as free. If you decide to reopen this booking you will need to resubmit a free class request for approval.
            {% else %}
                Please note that payments are not automatically refunded. The organiser has been informed of your cancellation and will be in contact soon.
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}
</p>

<p>
    For further information please contact {{ booking.event.contact_person }} at
    <a href="mailto:{{ booking.event.contact_email }}">{{ booking.event.contact_email }}</a>
</p>
</div>
{% endblock %}
