{% extends 'email_base.html' %}

{% block messagecontent %}

<div style="font-family: sans-serif">
    <h4>Welcome to The Watermelon Studio!</h4>

    <p>We look forward to welcoming you to your first class at Watermelon.</p>
    <p style="color: red;">Please note if you are late in any way you will be turned away due to the health and safety of our warm up.
        You will not be offered a refund or credit if this happens, with no exceptions.</p>

    <ul>
        <li>When you arrive please follow our signs to the changing room/lockers. All you need to bring into the studio with you is water and your locker key!</li>

        <li>Lockers take a (returnable) £1 coin or token.</li>

        <li>Please leave all jewellery and shoes in the lockers.</li>

        <li>Please wait in the reception until your class is called.</li>

        <li>If you have any questions when you finish, don’t hesitate to ask your instructor.</li>
    </ul>
    <p>You can find our full terms and conditions <a href="https://www.thewatermelonstudio.co.uk/t&c.html">here</a>.</p>

    Thank you,

</div>
{% endblock %}
