{% extends 'email_base.html' %}

{% block messagecontent %}
<div style="font-family: sans-serif;">

<p>Your ticket booking ref {{ ticket_booking.booking_reference }} for {{ ticket_booking.ticketed_event }} has been cancelled.</p>

<p>This booking cannot be reopened. If you would like more tickets, please repurchase at
    <a href="{{ host }}{% url 'booking:ticketed_events' %}">{{ host }}{% url 'booking:ticketed_events' %}</a>
</p>
<p>
    For further information please contact {{ ticket_booking.ticketed_event.contact_person }} at
    <a href="mailto:{{ ticket_booking.ticketed_event.contact_email }}">{{ ticket_booking.ticketed_event.contact_email }}</a>
</p>
</div>
{% endblock %}
