{% extends "studioadmin/base_v1.html" %}
{% load static %}
{% load bookingtags %}

{% block bodytag %}<body onload="startTime()">{% endblock %}
{% block studioadmincontent %}

        <span class="small float-right" id="show-clock"></span>
        <h2 class="pt-2">Activity Log</h2>

        <div class=row>
            <div class="col-sm-12">
            <form action="" method="get">
                <div>{{ form.hide_empty_cronjobs }}
                <label for="hide_empty_cronjobs_id"></label>
                <span class='studioadmincbox-help'> Hide notifications for automatic jobs where no action was required</span></div>
                {{ form.search }} {{ form.search_date }}
                <input class="btn btn-info table-btn" type="submit" name='search_submitted' value="Search" />
                <input class="btn btn-info table-btn" type="submit" name='reset' value="Reset" />
            </form>
        </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card card-wm">

                    <div class="table-responsive">
                        <table class="table tablesorter" id="sortTable">
                            <thead>
                            <tr class="success">
                                <th>Timestamp</th>
                                <th>Log</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for log in logs %}
                                <tr>
                                    <td class="studioadmin-tbl">{{ log.timestamp|formatted_uk_date }}:{{ log.timestamp|date:"s" }}</td>
                                    <td class="studioadmin-tbl">{{ log.log }}</td>
                                </tr>
                            {% endfor %}

                            {% if not logs %}
                                <tr>
                                    <td colspan="2">No logs found</td>
                                </tr>
                            {% endif %}

                            </tbody>
                        </table>
                        
                        {% get_pagination_params "activitylog" as pagination_params %}
                        {% include 'booking/includes/pagination.html' %}

                    </div>
                </div>
            </div>
         </div>


{% endblock studioadmincontent %}

{% block extra_js %}
    <script src="{% static 'studioadmin/js/clock.js' %}"></script>
{% endblock %}
