{% extends "studioadmin/base_v1.html" %}
{% load static %}
{% load bookingtags %}

{% block studioadmincontent %}
    
    <div class="row pt-2">
        <div class="col">
        <h2>{% if show_past %}Past{% else %}Scheduled{% endif %} {% if type == 'events' %}Events{% elif type == 'lessons' %}Classes{% elif type == 'room_hires' %}Room Hires{% elif type == 'online_tutorials' %}Online Tutorials{% endif %}</h2>
        <p class="studioadmin-help">Note: only {% if type == 'events' %}events{% elif type == 'lessons' %}
            classes{% elif type == 'room_hires' %}room hires{% elif type == 'online_tutorials' %}tutorials{% endif %} that have not yet been booked can be completely deleted. If an event has bookings it can be cancelled.</p>
        </div>
    </div>
    {% if events %}
        <div class="row">
            <div class="top-button-row col">
                <a class="btn btn-wm open-all-btn" href="{% url 'studioadmin:open_all_events' type %}" >Open all {% if type == 'events' %}events{% elif type == 'lessons' %}
            classes{% elif type == 'room_hires' %}room hires{% elif type == 'online_tutorials' %}tutorials{% endif %}</a><br/>
            <span class="studioadmin-help">Make all visible and open booking and payment</span>
            </div>
        </div>
    {% else %}
        <div>There are no {% if show_past %}past{% else %}upcoming{% endif %}
                {% if type == 'events' %}events{% elif type == 'lessons' %}classes{% elif type == 'room_hires' %}room hires{% elif type == 'online_tutorials' %}tutorials{% endif %} to display.
            </div>
    {% endif %}

    <div class="row">
        <div class="col">
        <form class="form dirty-check" method="post" action="">
            {% csrf_token %}
            <div class="top-button-row float-right">
                {% if show_past %}
                <input class="btn btn-info table-btn filter-btn float-right" name="upcoming" type="submit" value="Show upcoming {% if type == 'events' %}events{% elif type == 'lessons' %}classes{% elif type == 'online_tutorials' %}tutorials{% endif %}" />
                {% else %}
                <input class="btn btn-info table-btn filter-btn float-right" name="past" type="submit" value="Show past {% if type == 'events' %}events{% elif type == 'lessons' %}classes{% elif type == 'online_tutorials' %}tutorials{% endif %}" />
                {% endif %}
            </div>
        </form>
    </div>
    </div>
    <div class="row">
        <div class="col">
        {% if events %}
            <div class="card card-wm">
                <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tr><th colspan=6 class="studioadmin-help">Click on a row for more details</th></tr>
                        <tr class="success">
                            <th class="d-none d-md-block">Date</th>
                            <th>
                                {% if type == 'events' %}Event{% elif type == 'lessons' %}Class{% elif type == 'room_hires' %}Room Hire{% elif type == 'online_tutorials' %}Tutorial{% endif %}</br>
                                <span class="studioadmin-help">Click for register</span>
                            </th>
                            {% if location_count > 1 %}<th class="text-center"><small>Location</small></th>{% endif %}
                            <th class="text-center"><small>Bookings</small><br/><span class="studioadmin-help">(waiting list)</span></th>
                            <th class="text-center text-nowrap"><small>Visible/<br/>Book/Pay</small></th>
                            <th class="text-center"></th>
                        </tr>

                        {% for event in events %}
                        <tr data-widget="expandable-table" aria-expanded="false" 
                        {% if event.cancelled %}class="cancelled-event"{% endif %}
                        
                        >
                            <td class="text-nowrap pr-4 d-none d-md-block">{{ event.date | date:"D d M Y, H:i" }}</td>
                            <td class="text-nowrap pr-2">
                                <span class="d-block d-md-none">{{ event.date | date:"D d M Y, H:i" }} <br/></span>
                                <a href="{% url 'studioadmin:event_register' event.slug %}">{{ event.name }}</a>
                                    <span class="studioadmin-help">({{ event.event_type.subtype }})</span>
                                {% if event.is_online and not event.video_link %}
                                    <span class="cancel-warning"> <i class="fas fa-exclamation-circle"></i> Video link missing <i class="fas fa-exclamation-circle"></i><span class="error">
                                {% endif %}
                            </td>
                            {% if location_count > 1 %}
                                <td class="text-center pl-2 pr-2">
                                    <span class="d-none d-md-block badge badge-pill badge-location badge-location-{{ event.location_index }}">{{ event.location }}</span>
                                    <span class="d-block d-md-none badge badge-pill badge-location badge-location-xs badge-location-{{ event.location_index }}">{{ event.location.0 }}</span>
                                </span>
                            </td>
                            {% endif %}
                            <td class="text-center pr-2 pl-2">
                                {% if event.waitinglistusers.count > 0 %}
                                    <a href="{% url 'studioadmin:event_waiting_list' event.id %}">{{ event |bookings_count }}</a>
                                {% else %}
                                    {{ event |bookings_count }}
                                {% endif %} / 
                                {% if event.max_participants %}{{ event.max_participants }}{% else %}N/A{% endif %}</td>
                            
                            <td class="text-center pl-2 pr-2">
                                    {% if event.visible_on_site %}<i class="text-{% if event.cancelled %}secondary{% else %}success{% endif %} fas fa-eye"></i>{% else %}<i class="text-{% if event.cancelled %}secondary{% else %}danger{% endif %} fas fa-eye-slash"></i>{% endif %}
                                    {% if event.booking_open %}<i class="text-{% if event.cancelled %}secondary{% else %}success{% endif %} fas fa-user ml-1"></i>{% else %}<i class="text-{% if event.cancelled %}secondary{% else %}danger{% endif %} fas fa-user-slash ml-1"></i>{% endif %}
                                    {% if event.payment_open %}<i class="text-{% if event.cancelled %}secondary{% else %}success{% endif %} fas fa-pound-sign ml-1"></i>{% else %}<i class="text-{% if event.cancelled %}secondary{% else %}danger{% endif %} fas fa-pound-sign ml-1"></i>{% endif %}
                            </td>
                            
                            <td class="text-center">
                                {% if event.cancelled %}
                                    CANCELLED
                                {% else %}
                                    {% if event.bookings.exists %}
                                        <a href="{% url 'studioadmin:cancel_event' event.slug %}">
                                            <div id="cancel_button" class="btn btn-sm btn-danger table-btn">Cancel</div>
                                        </a>
                                    {% else %}
                                        <form action="{% url 'studioadmin:delete_event' event.slug %}" method="post">
                                            {% csrf_token %}
                                            <button class="btn no-shrink text-danger" type="submit" value="Delete"><i class="fas fa-trash"></i></button>
                                        </form>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                            
                            <tr class="expandable-body">
                            <td colspan=6>
                                <p class="mt-2">
                                    <a class="btn btn-wm-outline btn-sm"
                                        href="{{ event.get_admin_edit_url }}?from_page={{ event_page.number }}"><span class="fas fa-edit"></span>  Edit this {{ type_name_singular }}
                                    </a>
                                        <a class="ml-2 btn btn-wm-outline btn-sm " href="{% url 'studioadmin:clone_event' event.slug %}"><i class="far fa-clone"></i> Clone this {{ type_name_singular }}</a>
                                        <button 
                                        class="ml-2 btn btn-wm-outline btn-sm" 
                                        hx-get="{% url 'studioadmin:eventedit' event.id %}" 
                                        hx-target="#dialog"><i class="fas fa-eye"></i> Edit visibility and options
                                    </button>
                                </p>
                                <p><strong>Allowed Group: </strong>{{ event.allowed_group_for_event }}</p>
                                {% if type == 'lessons' or type == "room_hires" %}
                                    <p {% if event.categories.exists %}class="mb-0"{% endif %}><strong>Filters: </strong>
                                        {% if event.categories.exists %}
                                            <ul>
                                                {% for category in event.categories.all %}
                                                <li>{{ category }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% else %}
                                        -
                                        {% endif %}
                                    </p>
                                {% endif %}
                                <p><strong>Max Participants: </strong>
                                    {% if event.max_participants %}{{ event.max_participants }}{% else %}N/A{% endif %}
                                    </p>
                                {% if type != "online_tutorials" %}
                                    <p><strong>Advance payment required: </strong>
                                        {% if event.advance_payment_required %}
                                            <i class="text-{% if event.cancelled %}secondary{% else %}success{% endif %} fas fa-check-circle"></i>
                                        {% else %}
                                            <i class="text-{% if event.cancelled %}secondary{% else %}danger{% endif %} fas fa-times-circle"></i>
                                        {% endif %}
                                    </p>
                                    <p><strong>Cancellation allowed: </strong>
                                        {% if event.allow_booking_cancellation %}
                                            <i class="text-{% if event.cancelled %}secondary{% else %}success{% endif %} fas fa-check-circle"></i>
                                        {% else %}
                                            <i class="text-{% if event.cancelled %}secondary{% else %}danger{% endif %} fas fa-times-circle"></i>
                                        {% endif %}
                                    </p>
                                {% endif %}
                            </td>
                            </tr>
                    {% endfor %}
                    <tr>
                        <td colspan=6>
                            {% get_pagination_params "admin_events" as pagination_params %}
                            {% with page_obj=event_page %}
                                {% include 'booking/includes/pagination.html' %}
                            {% endwith %}
                        </td>
                    </tr>
                </table>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    </div>

            <!-- Placeholder for the modal -->
            <div id="edit-event-modal" class="modal fade">
                <div id="dialog" class="modal-dialog" hx-target="this"></div>
              </div>

{% endblock studioadmincontent %}

{% block extra_js %}
<script src="https://unpkg.com/htmx.org@1.6.1/dist/htmx.min.js"></script>
<script type='text/javascript' src="{% static 'studioadmin/js/editevent.js' %}"></script>
{% endblock %}
