{% extends "studioadmin/base_v1.html" %}
{% load crispy_forms_tags %}
{% load bookingtags %}

{% block studioadmincontent %}
<div class="card mt-2">
    <div class="card-body">
            <h1>New users banner</h1>
            <p>
                This banner will be shown only to users who are not logged in. After login, it will
                no longer appear. This is most suitable for messages to users who are new to the site. 
            </p>
            <p>    
                New users will ALSO see the main all-users banner if there is one.
            </p>
            <p>
                It will look like this:
            </p>
        <div class="mb-4">{% new_users_banner %}</div>

        {% if form.errors %}
            <p class="text-danger">Please correct the errors below:</p>
        {% endif %}

        <form method="post" action="">
            {% csrf_token %}
            <div style="position: relative">
            {%  crispy form %}
            </div>
        </form>
        </div>
    </div>
{% endblock %}
