{% extends "base.html" %}

{% load staticfiles %}
{% load socialaccount %}
{% providers_media_js %}


{% block left-nav-items %}
<li class="active-nav"><a href="{% url 'booking:lessons' %}" target="_blank">Main booking site</a></li>
<!---add to menu at small sizes where side nav disappears-->
<span class="divider visible-xs"></span>
    <li class="adminmenu-title visible-xs">Studio Admin</li>
{% if request.user.is_staff %}
    <span class="divider visible-xs"></span>

             <li class="dropdown">
              <a href="#" class="dropdown-toggle adminmenu active-nav visible-xs" data-toggle="dropdown" role="button" aria-expanded="false"><strong>Classes </strong></strong><span class="fa fa-caret-down"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="active-nav"><a href="{% url 'studioadmin:lessons' %}">{% if sidenav_selection == 'lessons' %}
                        <span class="sidebar_active">View and edit classes</span>{% else %}View and edit classes{% endif %}</a></li>
                <li class="active-nav"><a href="{% url 'studioadmin:add_lesson' %}">{% if sidenav_selection == 'add_lesson' %}
                            <span class="sidebar_active">Add a new class</span>{% else %}Add a new class{% endif %}</a></li>
                <li class="active-nav"><a href="{% url 'studioadmin:class_register_list' %}">{% if sidenav_selection == 'lessons_register' %}
                        <span class="sidebar_active">Class registers</span>{% else %}Registers & waiting lists{% endif %}</a></li>
                <li class="active-nav"><a href="{% url 'studioadmin:register-day' %}">{% if sidenav_selection == 'register_day' %}
                <span class="sidebar_active">Print registers by date</span>{% else %}Print registers by date{% endif %}</a></li>
              </ul>
            </li>

                 <li class="dropdown">
                  <a href="#" class="dropdown-toggle adminmenu active-nav visible-xs" data-toggle="dropdown" role="button" aria-expanded="false"><strong>Timetable </strong></strong><span class="fa fa-caret-down"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="active-nav"><a href="{% url 'studioadmin:timetable' %}">{% if sidenav_selection == 'timetable' %}
                            <span class="sidebar_active">View and edit timetable</span>{% else %}View and edit timetable{% endif %}</a></li>
                    <li class="active-nav"><a href="{% url 'studioadmin:add_session' %}">{% if sidenav_selection == 'add_session' %}
                            <span class="sidebar_active">Add a new session</span>{% else %}Add a new session{% endif %}</a></li>
                    <li class="active-nav"><a href="{% url 'studioadmin:upload_timetable' %}">{% if sidenav_selection == 'upload_timetable' %}
                            <span class="sidebar_active">Upload timetable</span>{% else %}Upload timetable{% endif %}</a></li>
                </ul>
            </li>

                 <li class="dropdown">
                  <a href="#" class="dropdown-toggle adminmenu active-nav visible-xs" data-toggle="dropdown" role="button" aria-expanded="false"><strong>Workshops/Events </strong></strong><span class="fa fa-caret-down"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="active-nav"><a href="{% url 'studioadmin:events' %}">{% if sidenav_selection == 'events' %}
                        <span class="sidebar_active">View and edit events</span>{% else %}View and edit events{% endif %}</a></li>
                    <li class="active-nav"><a href="{% url 'studioadmin:add_event' %}">{% if sidenav_selection == 'add_event' %}
                        <span class="sidebar_active">Add a new event</span>{% else %}Add a new event{% endif %}</a></li>
                     <li class="active-nav"><a href="{% url 'studioadmin:event_register_list' %}">{% if sidenav_selection == 'events_register' %}
                        <span class="sidebar_active">Event registers</span>{% else %}Registers & waiting lists{% endif %}</a></li>
                     <li class="active-nav"><a href="{% url 'studioadmin:register-day' %}">{% if sidenav_selection == 'register_day' %}
                    <span class="sidebar_active">Print registers by date</span>{% else %}Print registers by date{% endif %}</a></li>
                </ul>
            </li>

                 <li class="dropdown">
                  <a href="#" class="dropdown-toggle adminmenu active-nav visible-xs" data-toggle="dropdown" role="button" aria-expanded="false"><strong>Ticketed Events </strong></strong><span class="fa fa-caret-down"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="active-nav"><a href="{% url 'studioadmin:ticketed_events' %}">{% if sidenav_selection == 'ticketed_events' %}
                         <span class="sidebar_active">View and edit</span>{% else %}View and edit{% endif %}</a></li>
                    <li class="active-nav"><a href="{% url 'studioadmin:add_ticketed_event' %}">{% if sidenav_selection == 'add_ticketed_event' %}
                        <span class="sidebar_active">Add new ticketed event</span>{% else %}Add new ticketed event{% endif %}</a></li>
                    <li class="active-nav"><a href="{% url 'studioadmin:print_tickets_list' %}">{% if sidenav_selection == 'print_ticket_list' %}
                        <span class="sidebar_active">View and print ticket lists</span>{% else %}View and print ticket lists{% endif %}</a></li>
                </ul>
            </li>

                 <li class="dropdown">
                  <a href="#" class="dropdown-toggle adminmenu active-nav visible-xs" data-toggle="dropdown" role="button" aria-expanded="false"><strong>Students </strong></strong><span class="fa fa-caret-down"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="active-nav"><a href="{% url 'studioadmin:users' %}">{% if sidenav_selection == 'users' %}
                        <span class="sidebar_active">Registered users</span>{% else %}Registered users{% endif %}</a></li>
                    <li class="active-nav"><a href="{% url 'studioadmin:blocks' %}">{% if sidenav_selection == 'blocks' %}
                        <span class="sidebar_active">Blocks</span>{% else %}Blocks{% endif %}</a></li>
                    <li class="active-nav"><a href="{% url 'studioadmin:choose_email_users' %}">{% if sidenav_selection == 'email_users' %}
                        <span class="sidebar_active">Bulk email to students</span>{% else %}Bulk email to students{% endif %}</a></li>
                    <li class="active-nav"><a href="{% url 'studioadmin:mailing_list' %}">{% if sidenav_selection == 'mailing_list' %}
                        <span class="sidebar_active">Mailing list</span>{% else %}Mailing list{% endif %}</a></li>
                </ul>
            </li>

            <li class="dropdown">
                  <a href="#" class="dropdown-toggle adminmenu active-nav visible-xs" data-toggle="dropdown" role="button" aria-expanded="false"><strong>Vouchers </strong></strong><span class="fa fa-caret-down"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="active-nav"><a href="{% url 'studioadmin:vouchers' %}">{% if sidenav_selection == 'vouchers' %}
                        <span class="sidebar_active">View and edit vouchers</span>{% else %}View and edit vouchers{% endif %}</a></li>
                    <li class="active-nav"><a href="{% url 'studioadmin:add_voucher' %}">{% if sidenav_selection == 'add_voucher' %}
                        <span class="sidebar_active">Add a new voucher</span>{% else %}Add a new voucher{% endif %}</a></li>
                </ul>
            </li>

            <li class="dropdown">
                  <a href="#" class="dropdown-toggle adminmenu active-nav visible-xs" data-toggle="dropdown" role="button" aria-expanded="false"><strong>PayPal Email Check </strong></strong><span class="fa fa-caret-down"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="active-nav"><a href="{% url 'studioadmin:test_paypal_email' %}">{% if sidenav_selection == 'test_paypal' %}
                        <span class="sidebar_active">Test PayPal</span>{% else %}Tets PayPal{% endif %}</a></li>
                </ul>
            </li>

             <li class="dropdown">
                 <li class="active-nav visible-xs"><a class='adminmenu' href="{% url 'studioadmin:activitylog' %}">{% if sidenav_selection == 'activitylog' %}
                    <span class="sidebar_active">Activity Log</span>{% else %}Activity Log{% endif %}</a></li>
            </li>

{% else %}
    <li class="active-nav visible-xs"><a class='adminmenu' href="{% url 'studioadmin:class_register_list' %}">{% if sidenav_selection == 'lessons_register' %}
        <span class="sidebar_active">Class/Room Hire Registers</span>{% else %}Class/Room Hire Registers{% endif %}</a></li>
    <li class="active-nav visible-xs"><a class='adminmenu' href="{% url 'studioadmin:register-day' %}">{% if sidenav_selection == 'register_day' %}
        <span class="sidebar_active">View/print registers by date</span>{% else %}View/print registers by date{% endif %}</a></li>
    <li class="active-nav visible-xs"><a class='adminmenu' href="{% url 'studioadmin:users' %}">{% if sidenav_selection == 'users' %}
        <span class="sidebar_active">Registered users</span>{% else %}Registered users{% endif %}</a></li>
{% endif %}
{% endblock %}

{% block admin-nav %}{% endblock admin-nav %}

{% block content %}

    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">

            <ul class="sidebar-nav">
                <li class="sidebar-brand">Studio Admin</li>

                {% if request.user.is_staff %}
                    <li class="sidebar-title">
                        <a id="toggler" href="#" data-toggle="collapse" class="active" data-target="#classes">
                            <span class="fa classes
                                {% if sidenav_selection == 'lessons' or sidenav_selection == 'add_lesson' %}
                                    fa-minus-square
                                {% else %}
                                    fa-plus-square
                                {% endif %}">
                            </span>
                            Scheduled Classes</br><span class="studioadmin-help sidebar-help">(including room hire)</span>
                        </a>
                    </li>
                        <span id="classes" class="collapse {% if sidenav_selection == 'lessons' or sidenav_selection == 'add_lesson' %} in{% endif %}">
                            <li><a href="{% url 'studioadmin:lessons' %}">{% if sidenav_selection == 'lessons' %}
                        <span class="sidebar_active">View and edit classes</span>{% else %}View and edit classes{% endif %}</a></li>
                        <li><a href="{% url 'studioadmin:add_lesson' %}">{% if sidenav_selection == 'add_lesson' %}
                            <span class="sidebar_active">Add a new class</span>{% else %}Add a new class{% endif %}</a></li>
                        <li><a href="{% url 'studioadmin:class_register_list' %}">{% if sidenav_selection == 'lessons_register' %}
                        <span class="sidebar_active">Registers & waiting lists</span>{% else %}Registers & waiting lists{% endif %}</a></li>
                        </span>

                    <li class="sidebar-title">
                        <a id="toggler" href="#" data-toggle="collapse" class="active" data-target="#timetable">
                            <span class="fa timetable
                                {% if sidenav_selection == 'timetable' or sidenav_selection == 'add_session' or sidenav_selection == 'upload_timetable'%}                                fa-minus-square
                                {% else %}
                                    fa-plus-square
                                {% endif %}">
                            </span>
                            Timetable
                        </a>
                    </li>
                    <span id="timetable" class="collapse {% if sidenav_selection == 'timetable' or sidenav_selection == 'add_session' or sidenav_selection == 'upload_timetable'%} in{% endif %}">
                         <li><a href="{% url 'studioadmin:timetable' %}">{% if sidenav_selection == 'timetable' %}
                        <span class="sidebar_active">View and edit timetable</span>{% else %}View and edit timetable{% endif %}</a></li>
                        <li><a href="{% url 'studioadmin:add_session' %}">{% if sidenav_selection == 'add_session' %}
                        <span class="sidebar_active">Add a new session</span>{% else %}Add a new session{% endif %}</a></li>
                        <li><a href="{% url 'studioadmin:upload_timetable' %}">{% if sidenav_selection == 'upload_timetable' %}
                        <span class="sidebar_active">Upload timetable</span>{% else %}Upload timetable{% endif %}</a></li>
                    </span>

                    <li class="sidebar-title">
                        <a id="toggler" href="#" data-toggle="collapse" class="active" data-target="#events">
                            <span class="fa events
                                {% if sidenav_selection == 'events' or sidenav_selection == 'add_event' %}
                                    fa-minus-square
                                {% else %}
                                    fa-plus-square
                                {% endif %}">
                            </span>
                            Events/Workshops
                        </a>
                    </li>
                    <span id="events" class="collapse {% if sidenav_selection == 'events' or sidenav_selection == 'add_event' %} in{% endif %}">
                         <li><a href="{% url 'studioadmin:events' %}">{% if sidenav_selection == 'events' %}
                        <span class="sidebar_active">View and edit events</span>{% else %}View and edit events{% endif %}</a></li>
                         <li><a href="{% url 'studioadmin:add_event' %}">{% if sidenav_selection == 'add_event' %}
                        <span class="sidebar_active">Add a new event</span>{% else %}Add a new event{% endif %}</a></li>
                        <li><a href="{% url 'studioadmin:event_register_list' %}">{% if sidenav_selection == 'events_register' %}
                        <span class="sidebar_active">Registers & waiting lists</span>{% else %}Registers & waiting lists{% endif %}</a></li>
                    </span>

                     <li class="sidebar-title">
                        <a id="toggler" href="#" data-toggle="collapse" class="active" data-target="#registers">
                            <span class="fa registers
                                {% if sidenav_selection == 'register_day' %}
                                    fa-minus-square
                                {% else %}
                                    fa-plus-square
                                {% endif %}">
                            </span>
                            Print Registers
                        </a>
                    </li>
                    <span id="registers" class="collapse {% if sidenav_selection == 'register_day' %} in{% endif %}">
                        <li class="active-nav"><a href="{% url 'studioadmin:register-day' %}">{% if sidenav_selection == 'register_day' %}
                        <span class="sidebar_active">Print registers by date</span>{% else %}Print registers by date{% endif %}</a></li>
                    </span>

                     <li class="sidebar-title">
                        <a id="toggler" href="#" data-toggle="collapse" class="active" data-target="#ticketed-events">
                            <span class="fa ticketed-events
                                {% if sidenav_selection == 'ticketed_events' or sidenav_selection == 'add_ticketed_event' or sidenav_selection == 'print_tickets_list' %}
                                    fa-minus-square
                                {% else %}
                                    fa-plus-square
                                {% endif %}">
                            </span>
                            Ticketed Events/Shows
                        </a>
                    </li>
                    <span id="ticketed-events" class="collapse {% if sidenav_selection == 'ticketed_events' or sidenav_selection == 'add_ticketed_event' or sidenav_selection == 'print_tickets_list' %} in{% endif %}">
                        <li class="active-nav"><a href="{% url 'studioadmin:ticketed_events' %}">{% if sidenav_selection == 'ticketed_events' %}
                             <span class="sidebar_active">View and edit</span>{% else %}View and edit{% endif %}</a></li>
                        <li class="active-nav"><a href="{% url 'studioadmin:add_ticketed_event' %}">{% if sidenav_selection == 'add_ticketed_event' %}
                            <span class="sidebar_active">Add new ticketed event</span>{% else %}Add new ticketed event{% endif %}</a></li>
                        <li class="active-nav"><a href="{% url 'studioadmin:print_tickets_list' %}">{% if sidenav_selection == 'print_tickets_list' %}
                            <span class="sidebar_active">View and print ticket lists</span>{% else %}View and print ticket lists{% endif %}</a></li>
                    </span>

                    <li class="sidebar-title">
                        <a id="toggler" href="#" data-toggle="collapse" class="active" data-target="#users">
                            <span class="fa users
                                {% if sidenav_selection == 'users' or sidenav_selection == 'blocks' or sidenav_selection == 'email_users' %}
                                    fa-minus-square
                                {% else %}
                                    fa-plus-square
                                {% endif %}">
                            </span>
                            Students
                        </a>
                    </li>
                    <span id="users" class="collapse {% if sidenav_selection == 'users' or sidenav_selection == 'blocks' or sidenav_selection == 'email_users' or sidenav_selection == 'mailing_list' %} in{% endif %}">
                        <li><a href="{% url 'studioadmin:users' %}">{% if sidenav_selection == 'users' %}
                        <span class="sidebar_active">Registered users</span>{% else %}Registered users{% endif %}</a></li>
                        <li><a href="{% url 'studioadmin:blocks' %}">{% if sidenav_selection == 'blocks' %}
                        <span class="sidebar_active">Blocks</span>{% else %}Blocks{% endif %}</a></li>
                        <li><a href="{% url 'studioadmin:choose_email_users' %}">{% if sidenav_selection == 'email_users' %}
                        <span class="sidebar_active">Bulk email to students</span>{% else %}Bulk email to students{% endif %}</a></li>
                        <li class="active-nav"><a href="{% url 'studioadmin:mailing_list' %}">{% if sidenav_selection == 'mailing_list' %}
                        <span class="sidebar_active">Mailing list</span>{% else %}Mailing list{% endif %}</a></li>
                    </span>

                    <li class="sidebar-title">
                        <a id="toggler" href="#" data-toggle="collapse" class="active" data-target="#vouchers">
                            <span class="fa events
                                {% if sidenav_selection == 'vouchers' or sidenav_selection == 'add_voucher' %}
                                    fa-minus-square
                                {% else %}
                                    fa-plus-square
                                {% endif %}">
                            </span>
                            Vouchers
                        </a>
                    </li>
                    <span id="vouchers" class="collapse {% if sidenav_selection == 'vouchers' or sidenav_selection == 'add_voucher' %} in{% endif %}">
                         <li><a href="{% url 'studioadmin:vouchers' %}">{% if sidenav_selection == 'vouchers' %}
                        <span class="sidebar_active">View and edit vouchers</span>{% else %}View and edit vouchers{% endif %}</a></li>
                         <li><a href="{% url 'studioadmin:add_voucher' %}">{% if sidenav_selection == 'add_voucher' %}
                        <span class="sidebar_active">Add a new voucher</span>{% else %}Add a new voucher{% endif %}</a></li>
                    </span>

                    <li class="sidebar-title">
                        <a id="toggler" href="#" data-toggle="collapse" class="active" data-target="#test_paypal">
                            <span class="fa log
                                {% if sidenav_selection == 'test_paypal' %}
                                    fa-minus-square
                                {% else %}
                                    fa-plus-square
                                {% endif %}">
                            </span>
                            PayPal Email Check
                        </a>
                    </li>
                    <span id="test_paypal" class="collapse {% if sidenav_selection == 'test_paypal' %} in{% endif %}">
                        <li class="active-nav"><a href="{% url 'studioadmin:test_paypal_email' %}">{% if sidenav_selection == 'test_paypal' %}
                        <span class="sidebar_active">Test PayPal Email</span>{% else %}Test PayPal Email{% endif %}</a></li>
                    </span>

                    <li class="sidebar-title">
                        <a id="toggler" href="#" data-toggle="collapse" class="active" data-target="#log">
                            <span class="fa log
                                {% if sidenav_selection == 'activitylog' %}
                                    fa-minus-square
                                {% else %}
                                    fa-plus-square
                                {% endif %}">
                            </span>
                            Site Activity Log
                        </a>
                    </li>
                    <span id="log" class="collapse {% if sidenav_selection == 'activitylog' %} in{% endif %}">
                        <li class="active-nav"><a href="{% url 'studioadmin:activitylog' %}">{% if sidenav_selection == 'activitylog' %}
                        <span class="sidebar_active">View log</span>{% else %}View log{% endif %}</a></li>
                    </span>

                {% else %}
                    <li class="sidebar-title">
                            Registers/Waiting lists
                    </li>
                        <li><a href="{% url 'studioadmin:class_register_list' %}">{% if sidenav_selection == 'lessons_register' %}
                        <span class="sidebar_active">Classes/Room Hire</span>{% else %}Classes/Room Hire{% endif %}</a></li>
                    <li><a href="{% url 'studioadmin:register-day' %}">{% if sidenav_selection == 'register_day' %}
                        <span class="sidebar_active">View/print registers by date</span>{% else %}View/print registers by date{% endif %}</a></li>
                    <li class="active-nav"><a href="{% url 'studioadmin:users' %}">{% if sidenav_selection == 'users' %}
                        <span class="sidebar_active">Registered users</span>{% else %}Registered users{% endif %}</a></li>
                {% endif %}
            </ul>

        </div>

        <!-- Page content -->
        <div id="page-content-wrapper">

            <!-- Keep all page content within the page-content inset div! -->
            <div class="page-content inset">


            {% block studioadmincontent %}{% endblock %}

            </div>
        </div>
</div>
{% endblock %}

{% block extra_footer %}
{% endblock %}
