{% extends "base.html" %}

{% load staticfiles %}
{% load url from future %}
{% load socialaccount %}
{% providers_media_js %}


{% block left-nav-items %}
<li class="active-nav"><a href="{% url 'booking:lessons' %}" target="_blank">Main booking site</a></li>
<!---add to menu at small sizes where side nav disappears-->
<li class="dropdown">
  <a href="#" class="dropdown-toggle active-nav visible-xs" data-toggle="dropdown" role="button" aria-expanded="false">Studio Admin<span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <li class="active-nav"><a href="{% url 'studioadmin:lessons' %}">{% if sidenav_selection == 'lessons' %}
                    <span class="sidebar_active">View and edit classes</span>{% else %}View and edit classes{% endif %}</a></li>
    <li class="active-nav"><a href="{% url 'studioadmin:add_lesson' %}">{% if sidenav_selection == 'add_lesson' %}
                        <span class="sidebar_active">Add a new class</span>{% else %}Add a new class{% endif %}</a></li>
    <li class="active-nav"><a href="{% url 'studioadmin:class_register_list' %}">{% if sidenav_selection == 'lessons_register' %}
                    <span class="sidebar_active">Class registers</span>{% else %}Registers & waiting lists{% endif %}</a></li>
    <li class="divider"></li>
    <li class="active-nav"><a href="{% url 'studioadmin:timetable' %}">{% if sidenav_selection == 'timetable' %}
                    <span class="sidebar_active">View and edit timetable</span>{% else %}View and edit timetable{% endif %}</a></li>
    <li class="active-nav"><a href="{% url 'studioadmin:add_session' %}">{% if sidenav_selection == 'add_session' %}
                    <span class="sidebar_active">Add a new session</span>{% else %}Add a new session{% endif %}</a></li>
    <li class="active-nav"><a href="{% url 'studioadmin:upload_timetable' %}">{% if sidenav_selection == 'upload_timetable' %}
                    <span class="sidebar_active">Upload timetable</span>{% else %}Upload timetable{% endif %}</a></li>
    <li class="divider"></li>
    <li class="active-nav"><a href="{% url 'studioadmin:events' %}">{% if sidenav_selection == 'events' %}
                <span class="sidebar_active">View and edit events</span>{% else %}View and edit events{% endif %}</a></li>
    <li class="active-nav"><a href="{% url 'studioadmin:add_event' %}">{% if sidenav_selection == 'add_event' %}
                <span class="sidebar_active">Add a new event</span>{% else %}Add a new event{% endif %}</a></li>
    <li class="active-nav"><a href="{% url 'studioadmin:event_register_list' %}">{% if sidenav_selection == 'events_register' %}
                    <span class="sidebar_active">Event registers</span>{% else %}Registers & waiting lists{% endif %}</a></li>
    <li class="divider"></li>
    <li class="active-nav"><a href="{% url 'studioadmin:users' %}">{% if sidenav_selection == 'users' %}
                    <span class="sidebar_active">Registered users</span>{% else %}Registered users{% endif %}</a></li>
    <li class="active-nav"><a href="{% url 'studioadmin:blocks' %}">{% if sidenav_selection == 'blocks' %}
                    <span class="sidebar_active">Blocks</span>{% else %}Blocks{% endif %}</a></li>
    <li class="active-nav"><a href="{% url 'studioadmin:choose_email_users' %}">{% if sidenav_selection == 'email_users' %}
                    <span class="sidebar_active">Bulk email to students</span>{% else %}Bulk email to students{% endif %}</a></li>
    <li class="divider"></li>
    <li class="active-nav"><a href="{% url 'studioadmin:activitylog' %}">{% if sidenav_selection == 'activitylog' %}
                    <span class="sidebar_active">Activity Log</span>{% else %}Activity Log{% endif %}</a></li>

  </ul>
</li>
{% endblock %}

{% block admin-nav %}{% endblock admin-nav %}

{% block content %}
<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">

            <ul class="sidebar-nav">
                <li class="sidebar-brand">Studio Admin</li>
                <li class="sidebar-title">Scheduled Classes</li>
                    <li><a href="{% url 'studioadmin:lessons' %}">{% if sidenav_selection == 'lessons' %}
                    <span class="sidebar_active">View and edit classes</span>{% else %}View and edit classes{% endif %}</a></li>
                    <li><a href="{% url 'studioadmin:add_lesson' %}">{% if sidenav_selection == 'add_lesson' %}
                        <span class="sidebar_active">Add a new class</span>{% else %}Add a new class{% endif %}</a></li>
                    <li><a href="{% url 'studioadmin:class_register_list' %}">{% if sidenav_selection == 'lessons_register' %}
                    <span class="sidebar_active">Registers & waiting lists</span>{% else %}Registers & waiting lists{% endif %}</a></li>
                <li class="sidebar-title">Timetable</li>
                     <li><a href="{% url 'studioadmin:timetable' %}">{% if sidenav_selection == 'timetable' %}
                    <span class="sidebar_active">View and edit timetable</span>{% else %}View and edit timetable{% endif %}</a></li>
                    <li><a href="{% url 'studioadmin:add_session' %}">{% if sidenav_selection == 'add_session' %}
                    <span class="sidebar_active">Add a new session</span>{% else %}Add a new session{% endif %}</a></li>
                    <li><a href="{% url 'studioadmin:upload_timetable' %}">{% if sidenav_selection == 'upload_timetable' %}
                    <span class="sidebar_active">Upload timetable</span>{% else %}Upload timetable{% endif %}</a></li>
                <li class="sidebar-title">Events</li>
                     <li><a href="{% url 'studioadmin:events' %}">{% if sidenav_selection == 'events' %}
                    <span class="sidebar_active">View and edit events</span>{% else %}View and edit events{% endif %}</a></li>
                     <li><a href="{% url 'studioadmin:add_event' %}">{% if sidenav_selection == 'add_event' %}
                    <span class="sidebar_active">Add a new event</span>{% else %}Add a new event{% endif %}</a></li>
                    <li><a href="{% url 'studioadmin:event_register_list' %}">{% if sidenav_selection == 'events_register' %}
                    <span class="sidebar_active">Registers & waiting lists</span>{% else %}Registers & waiting lists{% endif %}</a></li>
                <li class="sidebar-title">Students</li>
                    <li><a href="{% url 'studioadmin:users' %}">{% if sidenav_selection == 'users' %}
                    <span class="sidebar_active">Registered users</span>{% else %}Registered users{% endif %}</a></li>
                    <li><a href="{% url 'studioadmin:blocks' %}">{% if sidenav_selection == 'blocks' %}
                    <span class="sidebar_active">Blocks</span>{% else %}Blocks{% endif %}</a></li>
                    <li><a href="{% url 'studioadmin:choose_email_users' %}">{% if sidenav_selection == 'email_users' %}
                    <span class="sidebar_active">Bulk email to students</span>{% else %}Bulk email to students{% endif %}</a></li>
                <li class="sidebar-title">Site Activity Log</li>
                    <li class="active-nav"><a href="{% url 'studioadmin:activitylog' %}">{% if sidenav_selection == 'activitylog' %}
                    <span class="sidebar_active">View log</span>{% else %}View log{% endif %}</a></li>

            </ul>

        </div>

        <!-- Page content -->
        <div id="page-content-wrapper">

            <!-- Keep all page content within the page-content inset div! -->
            <div class="page-content inset">


            {% block studioadmincontent %}{% endblock %}

            </div>
        </div>
</div>
{% endblock %}
