
<!DOCTYPE html>
{% load static %}
{% load bookingtags %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 minimum-scale=0.5 user-scalable=yes"/>
    <title>Watermelon Studio Booking - Admin
    {% block head_title %}{% endblock %}
    </title>
    {% block extra_head %}
    {% endblock %}

    <link rel="shortcut icon" href="{% static 'booking/images/favicon_new.ico' %}" type="image/vnd.microsoft.icon">
    <link rel="shortcut icon" type="image/png" href="{% static 'booking/images/icon_new.png' %}">
    <link rel="apple-touch-icon" href="{% static 'booking/images/icon_new.png' %}">

  {% check_debug as is_debug_on %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" integrity="sha512-aEe/ZxePawj0+G2R+AaIxgrQuKT68I28qh+wgLrcAJOz3rxCP+TwrK5SPN+E5I+1IQjNtcfvb96HDagwrKRdBw==" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">

  <!-- Custom styles -->
    <link href="{% static 'booking/css/custom-v1.14.8.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'booking/css/print.css' %}"  type="text/css" media="print" />
    <link href="{% static 'studioadmin/css/studioadmin-v0.1.css' %}" rel="stylesheet">
     
  {% block head %}{% endblock %}
</head>

<body class="hold-transition sidebar-mini" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
<div class="wrapper">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-light navbar-white">
    <div class="container">
    <a href="https://www.thewatermelonstudio.co.uk" class="navbar-brand">
        <img src="{% static 'booking/images/logo_brand_new.png' %}" height="50px" alt="The Watermelon Studio Logo" class="brand-image img-circle elevation-0" style="opacity: .8">
        <span class="brand-text font-weight-light">Admin</span>
    </a>
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
          </li>
        <li class="nav-item d-none d-sm-inline-block">
        <a href="/" class="nav-link">View site</a>
        </li>
    </ul>
    
    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">

        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                {{request.user}}
                <i class="fas fa-caret-down"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <span class="dropdown-header">Account</span>
                <div class="dropdown-divider"></div>
                <a href="{% url 'account_change_password' %}" class="dropdown-item">Change password</a>
                <a href="{% url 'profile:profile' %}" class="dropdown-item">Profile</a>
                <a href="{% url 'account_logout' %}" class="dropdown-item">Sign Out</a>
        </li>

    </ul>
    </div>
</nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-light-danger elevation-2">
    <!-- Brand Logo -->
    <a href="{% url 'studioadmin:v1_class_register_list' %}" class="brand-link text-sm ">
        <img src="{% static 'booking/images/logo_brand_new.png' %}" alt="Logo" class="brand-image img-circle elevation-0"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Admin</span>
      </a>

    <!-- Sidebar -->
    <div class="sidebar">

        <!-- Sidebar Menu -->
        <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
            <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
            
            <!-- Dashboard -->
            <li class="nav-item">
                <a href="{% url 'studioadmin:landing' %}" class="nav-link {% if sidenav_selection == 'landing' %}active{% endif %}">
                    <i class="fas fa-tachometer-alt"></i>
                    <p>
                    Dashboard
                    </p>
                </a>
            </li>
            <!-- Dashboard -->

            <!-- Setup -->
            <li class="nav-item {% if sidenav_selection in 'allowed_groups,event_types' %}menu-open{% endif %}">
                <a href="#" class="nav-link {% if sidenav_selection in 'allowed_groups,event_types' %}active{% endif %}">
                    <i class="nav-icon fas fa-cog"></i>
                    <p>
                    Setup
                    <i class="right fas fa-angle-left"></i>
                    </p>
                </a>

                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{% url 'studioadmin:v1_setup_allowed_groups' %}" class="nav-link {% if sidenav_selection == 'allowed_groups' %}active{% endif %}">
                            <i class="fas fa-user-friends"></i>
                            <p>Allowed Groups</p>
                        </a>
                        </li>
                        <li class="nav-item">
                        <a href="{% url 'studioadmin:v1_setup_event_types' %}" class="nav-link {% if sidenav_selection == 'event_types' %}active{% endif %}">
                            <i class="fas fa-flag"></i>
                            <p>Event types</p>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Setup -->

            <!-- Classes -->
            <li class="nav-item {% if sidenav_selection in 'lessons,add_lesson,lessons_register' %}menu-open{% endif %}">
                <a href="#" class="nav-link {% if sidenav_selection in 'lessons,add_lesson,lessons_register' %}active active-wm{% endif %}">
                    <i class="nav-icon fas fa-school"></i>
                    <p>
                    Classes
                    <i class="right fas fa-angle-left"></i>
                    </p>
                </a>

                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{% url 'studioadmin:v1_lessons' %}" class="nav-link {% if sidenav_selection == 'lessons' %}active{% endif %}">
                            <i class="fas fa-pencil-alt"></i>
                            <p>View/edit</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'studioadmin:v1_add_lesson' %}" class="nav-link {% if sidenav_selection == 'add_lesson' %}active{% endif %}">
                            <i class="fas fa-plus"></i>
                            <p>Add new</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'studioadmin:v1_class_register_list' %}" class="nav-link {% if sidenav_selection == 'lessons_register' %}active{% endif %}">
                            <i class="fas fa-clipboard-list"></i>
                            <p>Registers</p>
                        </a>
                    </li>
                        
                </ul>
            </li>
            <!-- Classes -->

            <!-- Workshops -->
            <li class="nav-item {% if sidenav_selection in 'events,add_event,events_register' %}menu-open{% endif %}">
                <a href="#" class="nav-link {% if sidenav_selection in 'events,add_event,events_register' %}active active-wm{% endif %}">
                    <i class="fas fa-building"></i>
                    <p>
                    Workshops/Events
                    </p>
                </a>

                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{% url 'studioadmin:v1_events' %}" class="nav-link {% if sidenav_selection == 'events' %}active{% endif %}">
                            <i class="fas fa-pencil-alt"></i>
                            <p>View/edit</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'studioadmin:v1_add_event' %}" class="nav-link {% if sidenav_selection == 'add_event' %}active{% endif %}">
                            <i class="fas fa-plus"></i>
                            <p>Add new</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'studioadmin:v1_event_register_list' %}" class="nav-link {% if sidenav_selection == 'events_register' %}active{% endif %}">
                            <i class="fas fa-clipboard-list"></i>
                            <p>Registers</p>
                        </a>
                    </li>
                        
                </ul>
            </li>
            <!-- Classes -->



            <li class="nav-item">
            <a href="{% url 'studioadmin:v1_activitylog' %}" class="nav-link {% if sidenav_selection == 'activitylog' %}active{% endif %}">
                <i class="fas fa-running"></i>
                <p>
                Activity Log
                </p>
            </a>
            </li>
        </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
    </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        {% block studioadmincontent %}{% endblock %}
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
    <!-- Content of the sidebar goes here -->
    </div>
</aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
<footer class="main-footer">
    {% include 'common/footer.html' %}
</footer>

</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous" defer></script>
<script src="https://unpkg.com/htmx.org/dist/ext/class-tools.js" defer></script>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
{% comment %} <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script> {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js" integrity="sha512-YSdqvJoZr83hj76AIVdOcvLWYMWzy6sJyIMic2aQz5kh2bPTd9dzY3NtdeEAzPp/PhgZqr4aJObB3ym/vsItMg==" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/2.11.0/browser/overlayscrollbars.browser.es6.min.js" integrity="sha512-cUttwnAJPjxtNV0J7YWEQmgAXdSA8To+RO/1eQgrjMMtDmuyNP0wYgNqNQ9insqV270l/ht3ooGiRuC0oLgpig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.AreYouSure/1.9.0/jquery.are-you-sure.min.js" integrity="sha512-YuZemcyQ8r4w8tdxIzkJVgWfHrzSQN9PuF18I490DE8H97DOkrt+bolBf3/mve+9t8SLWODBzFCCPxH/vZYqBg==" crossorigin="anonymous"></script> {% endcomment %}
{% comment %} <script src="{% static 'booking/js/custom-v1.8.js' %}"></script> {% endcomment %}

<script>
    var $jq = jQuery.noConflict();
    /*** Handle jQuery plugin naming conflict between jQuery UI and Bootstrap ***/
    {% comment %} $jq.widget.bridge('uibutton', $jq.ui.button);
    $jq.widget.bridge('uitooltip', $jq.ui.tooltip); {% endcomment %}
</script>


{% block extra_js %}{% endblock %}


<script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"rayId":"94fa4ea72fa8ae03","serverTiming":{"name":{"cfExtPri":true,"cfEdge":true,"cfOrigin":true,"cfL4":true,"cfSpeedBrain":true,"cfCacheStatus":true}},"version":"2025.6.2","token":"2437d112162f4ec4b63c3ca0eb38fb20"}' crossorigin="anonymous"></script>
</body>
</html>

