{% extends "base.html" %}

{% load static %}
{% load bookingtags %}
{% load socialaccount %}
{% providers_media_js %}


{% block extra-collapsed-menu %}{% endblock %}
{% block left-nav-items %}
    <li class="active-nav"><a href="{% url 'booking:lessons' %}" target="_blank"><small>Main booking site</small></a></li>

    <!---add to menu at small sizes where side nav disappears-->
<span class="divider d-inline-block d-md-none"></span>
    <li class="adminmenu-title d-block d-md-none">Studio Admin</li>

{% if request.user.is_staff %}
    <li class="adminmenu-title d-block d-md-none"><a href="{% url 'studioadmin:reactivated_block_status' %}"><small>Reactivated credit status</small></a></li>
    <span class="divider d-block d-md-none"></span>
             <li class="dropdown">
              <a href="#" class="dropdown-toggle adminmenu d-block d-md-none" data-toggle="dropdown" role="button" aria-expanded="false"><strong>Classes </strong></a>
              <ul class="dropdown-menu ml-4" role="menu">
                <li class="active-nav"><a href="{% url 'studioadmin:lessons' %}">{% if sidenav_selection == 'lessons' %}
                        <span class="sidebar_active">View and edit classes</span>{% else %}View and edit classes{% endif %}</a></li>
                <li class="active-nav"><a href="{% url 'studioadmin:add_lesson' %}">{% if sidenav_selection == 'add_lesson' %}
                            <span class="sidebar_active">Add a new class</span>{% else %}Add a new class{% endif %}</a></li>
                <li class="active-nav"><a href="{% url 'studioadmin:class_register_list' %}">{% if sidenav_selection == 'lessons_register' %}
                        <span class="sidebar_active">Class registers</span>{% else %}Registers & waiting lists{% endif %}</a></li>
                <li class="active-nav"><a href="{% url 'studioadmin:register-day' %}">{% if sidenav_selection == 'register_day' %}
                <span class="sidebar_active">Print registers by date</span>{% else %}Print registers by date{% endif %}</a></li>
              </ul>
            </li>

                 <li class="dropdown">
                  <a href="#" class="dropdown-toggle adminmenu d-block d-md-none" data-toggle="dropdown" role="button" aria-expanded="false"><strong>Timetable </strong></a>
                  <ul class="dropdown-menu ml-4" role="menu">
                    <li class="active-nav"><a href="{% url 'studioadmin:timetable' %}">{% if sidenav_selection == 'timetable' %}
                            <span class="sidebar_active">View and edit timetable</span>{% else %}View and edit timetable{% endif %}</a></li>
                    <li class="active-nav"><a href="{% url 'studioadmin:add_session' %}">{% if sidenav_selection == 'add_session' %}
                            <span class="sidebar_active">Add a new session</span>{% else %}Add a new session{% endif %}</a></li>
                    <li class="active-nav"><a href="{% url 'studioadmin:upload_timetable' %}">{% if sidenav_selection == 'upload_timetable' %}
                            <span class="sidebar_active">Upload timetable</span>{% else %}Upload timetable{% endif %}</a></li>
                </ul>
            </li>

             <li class="dropdown">
                  <a href="#" class="dropdown-toggle adminmenu d-block d-md-none" data-toggle="dropdown" role="button" aria-expanded="false"><strong>Workshops/Events </strong></a>
                  <ul class="dropdown-menu ml-4" role="menu">
                    <li class="active-nav"><a href="{% url 'studioadmin:events' %}">{% if sidenav_selection == 'events' %}
                        <span class="sidebar_active">View and edit events</span>{% else %}View and edit events{% endif %}</a></li>
                    <li class="active-nav"><a href="{% url 'studioadmin:add_event' %}">{% if sidenav_selection == 'add_event' %}
                        <span class="sidebar_active">Add a new event</span>{% else %}Add a new event{% endif %}</a></li>
                     <li class="active-nav"><a href="{% url 'studioadmin:event_register_list' %}">{% if sidenav_selection == 'events_register' %}
                        <span class="sidebar_active">Event registers</span>{% else %}Registers & waiting lists{% endif %}</a></li>
                     <li class="active-nav"><a href="{% url 'studioadmin:register-day' %}">{% if sidenav_selection == 'register_day' %}
                    <span class="sidebar_active">Print registers by date</span>{% else %}Print registers by date{% endif %}</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle adminmenu d-block d-md-none" data-toggle="dropdown" role="button" aria-expanded="false"><strong>Online Tutorials </strong></a>
                  <ul class="dropdown-menu ml-4" role="menu">
                    <li class="active-nav"><a href="{% url 'studioadmin:online_tutorials' %}">{% if sidenav_selection == 'online_tutorials' %}
                        <span class="sidebar_active">View and edit tutorials</span>{% else %}View and edit tutorials{% endif %}</a></li>
                    <li class="active-nav"><a href="{% url 'studioadmin:add_online_tutorial' %}">{% if sidenav_selection == 'add_online_tutorial' %}
                        <span class="sidebar_active">Add a new tutorial</span>{% else %}Add a new tutorial{% endif %}</a></li>
                     <li class="active-nav"><a href="{% url 'studioadmin:online_tutorials_register_list' %}">{% if sidenav_selection == 'online_tutorials_register' %}
                        <span class="sidebar_active">Registers</span>{% else %}Registers{% endif %}</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle adminmenu d-block d-md-none" data-toggle="dropdown" role="button" aria-expanded="false"><strong>Ticketed Events </strong></a>
                  <ul class="dropdown-menu ml-4" role="menu">
                    <li class="active-nav"><a href="{% url 'studioadmin:ticketed_events' %}">{% if sidenav_selection == 'ticketed_evs' %}
                         <span class="sidebar_active">View and edit</span>{% else %}View and edit{% endif %}</a></li>
                    <li class="active-nav"><a href="{% url 'studioadmin:add_ticketed_event' %}">{% if sidenav_selection == 'add_ticketed_ev' %}
                        <span class="sidebar_active">Add new ticketed event</span>{% else %}Add new ticketed event{% endif %}</a></li>
                    <li class="active-nav"><a href="{% url 'studioadmin:print_tickets_list' %}">{% if sidenav_selection == 'print_ticket_list' %}
                        <span class="sidebar_active">View and print ticket lists</span>{% else %}View and print ticket lists{% endif %}</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle adminmenu d-block d-md-none" data-toggle="dropdown" role="button" aria-expanded="false"><strong>Students </strong></a>
                  <ul class="dropdown-menu ml-4" role="menu">
                    <li class="active-nav"><a href="{% url 'studioadmin:users' %}">{% if sidenav_selection == 'users' %}
                        <span class="sidebar_active">Registered users</span>{% else %}Registered users{% endif %}</a></li>
                    <li class="active-nav"><a href="{% url 'studioadmin:blocks' %}">{% if sidenav_selection == 'blocks' %}
                        <span class="sidebar_active">Blocks</span>{% else %}Blocks{% endif %}</a></li>
                    <li class="active-nav"><a href="{% url 'studioadmin:choose_email_users' %}">{% if sidenav_selection == 'email_users' %}
                        <span class="sidebar_active">Bulk email</span>{% else %}Bulk email{% endif %}</a></li>
                    <li class="active-nav"><a href="{% url 'studioadmin:mailing_list' %}">{% if sidenav_selection == 'mailing_list' %}
                        <span class="sidebar_active">Mailing list</span>{% else %}Mailing list{% endif %}</a></li>
                    <li class="active-nav"><a href="{% url 'studioadmin:event_disclaimers' %}">{% if sidenav_selection == 'event_disclaimers' %}
                        <span class="sidebar_active">Event disclaimers</span>{% else %}Event disclaimers{% endif %}</a></li>
                    <li class="active-nav"><a href="{% url 'studioadmin:users_status' %}">{% if sidenav_selection == 'attendance' %}
                        <span class="sidebar_active">Attendance</span>{% else %}Attendance{% endif %}</a></li>

                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle adminmenu d-block d-md-none" data-toggle="dropdown" role="button" aria-expanded="false"><strong>Vouchers </strong></a>
                  <ul class="dropdown-menu ml-4" role="menu">
                    <li class="active-nav"><a href="{% url 'studioadmin:vouchers' %}">{% if sidenav_selection == 'vouchers' %}
                        <span class="sidebar_active">Class/event vouchers</span>{% else %}Class/event vouchers{% endif %}</a></li>
                    <li class="active-nav"><a href="{% url 'studioadmin:add_voucher' %}">{% if sidenav_selection == 'add_voucher' %}
                        <span class="sidebar_active">Add new voucher</span>{% else %}Add new voucher{% endif %}</a></li>
                    <li class="active-nav"><a href="{% url 'studioadmin:block_vouchers' %}">{% if sidenav_selection == 'block_vouchers' %}
                        <span class="sidebar_active">Block vouchers</span>{% else %}Block vouchers{% endif %}</a></li>
                    <li class="active-nav"><a href="{% url 'studioadmin:add_block_voucher' %}">{% if sidenav_selection == 'add_block_voucher' %}
                        <span class="sidebar_active">Add new block voucher</span>{% else %}Add new block voucher{% endif %}</a></li>
                    <li class="active-nav"><a href="{% url 'studioadmin:gift_vouchers' %}">{% if sidenav_selection == 'gift_vouchers' %}
                        <span class="sidebar_active">Gift vouchers</span>{% else %}Gift vouchers{% endif %}</a></li>

                </ul>
            </li>

            <li class="dropdown">
                  <a href="#" class="dropdown-toggle adminmenu d-block d-md-none" data-toggle="dropdown" role="button" aria-expanded="false"><strong>PayPal Email Check </strong></a>
                  <ul class="dropdown-menu ml-4" role="menu">
                    <li class="active-nav"><a href="{% url 'studioadmin:test_paypal_email' %}">{% if sidenav_selection == 'test_paypal' %}
                        <span class="sidebar_active">Test PayPal</span>{% else %}Test PayPal{% endif %}</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle adminmenu d-block d-md-none" data-toggle="dropdown" role="button" aria-expanded="false"><strong>Disclaimer Versions </strong></a>
                  <ul class="dropdown-menu ml-4" role="menu">
                    <li class="active-nav"><a href="{% url 'studioadmin:disclaimer_content_list' %}">{% if sidenav_selection == 'disclaimer_content_list' %}
                        <span class="sidebar_active">Disclaimer versions</span>{% else %}Disclaimer versions{% endif %}</a></li>
                    <li class="active-nav"><a href="{% url 'studioadmin:disclaimer_content_new' %}">{% if sidenav_selection == 'disclaimer_content_new' %}
                        <span class="sidebar_active">New version</span>{% else %}New version{% endif %}</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle adminmenu d-block d-md-none" data-toggle="dropdown" role="button" aria-expanded="false"><strong>Notifications </strong></a>
                <ul class="dropdown-menu ml-4" role="menu">
                  <li class="active-nav"><a href="{% url 'studioadmin:all_users_banner' %}">{% if sidenav_selection == 'all_banner' %}
                      <span class="sidebar_active">All users banner</span>{% else %}All users banner{% endif %}</a></li>
                  <li class="active-nav"><a href="{% url 'studioadmin:new_users_banner' %}">{% if sidenav_selection == 'new_banner' %}
                    <span class="sidebar_active">New user banner</span>{% else %}New user banner{% endif %}</a></li>
                  <li class="active-nav"><a href="{% url 'studioadmin:popup_notification' %}">{% if sidenav_selection == 'popup_notification' %}
                    <span class="sidebar_active">Pop-up notification</span>{% else %}Pop-up notification{% endif %}</a></li>  
                </ul>
          </li>

          <li class="dropdown">
            <li class="d-block d-md-none"><a class='adminmenu' href="{% url 'studioadmin:activitylog' %}">{% if sidenav_selection == 'activitylog' %}
                    <span class="sidebar_active">Activity Log</span>{% else %}Activity Log{% endif %}</a></li>
            </li>
{% elif request.user|in_group:"instructors" %}
    <li class="d-block d-md-none"><a class='adminmenu' href="{% url 'studioadmin:class_register_list' %}">{% if sidenav_selection == 'lessons_register' %}
        <span class="sidebar_active">Class/Room Hire Registers</span>{% else %}Class/Room Hire Registers{% endif %}</a></li>
    <li class="d-block d-md-none"><a class='adminmenu' href="{% url 'studioadmin:online_tutorials_register_list' %}">{% if sidenav_selection == 'online_tutorials_register' %}
        <span class="sidebar_active">Online Tutorials Registers</span>{% else %}Online Tutorials Registers{% endif %}</a></li>
    <li class="d-block d-md-none"><a class='adminmenu' href="{% url 'studioadmin:event_register_list' %}">{% if sidenav_selection == 'events_register' %}
        <span class="sidebar_active">Event/Workshop Registers</span>{% else %}Event/Workshop Registers{% endif %}</a></li>
    <li class="d-block d-md-none"><a class='adminmenu' href="{% url 'studioadmin:register-day' %}">{% if sidenav_selection == 'register_day' %}
        <span class="sidebar_active">View/print registers by date</span>{% else %}View/print registers by date{% endif %}</a></li>
    <li class="d-block d-md-none"><a class='adminmenu' href="{% url 'studioadmin:users' %}">{% if sidenav_selection == 'users' %}
        <span class="sidebar_active">Registered users</span>{% else %}Registered users{% endif %}</a></li>
    <li class="d-block d-md-none"><a class='adminmenu' href="{% url 'studioadmin:event_disclaimers' %}">{% if sidenav_selection == 'event_disclaimers' %}
        <span class="sidebar_active">Event disclaimers</span>{% else %}Event disclaimers{% endif %}</a></li>
    <li class="d-block d-md-none"><a class='adminmenu' href="{% url 'studioadmin:users_status' %}">{% if sidenav_selection == 'attendance' %}
        <span class="sidebar_active">Attendance</span>{% else %}Attendance{% endif %}</a></li>
{% elif perms.accounts.view_nonregistereddisclaimer %}
    <li class="d-block d-md-none"><a class='adminmenu' href="{% url 'studioadmin:event_disclaimers' %}">{% if sidenav_selection == 'event_disclaimers' %}
    <span class="sidebar_active">Event disclaimers</span>{% else %}Event disclaimers{% endif %}</a></li>
{% endif %}
{% endblock %}

{% block admin-nav %}{% endblock admin-nav %}

{% block notices %}{% endblock notices %}
{% block banner %}{% endblock banner %}
{% block new_banner %}{% endblock %}


{% block content %}

    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">

            <ul class="sidebar-nav">
                <li class="sidebar-brand">Studio Admin</li>

                {% if request.user.is_staff %}
                    <li class="bg-warning"><a href="{% url 'studioadmin:reactivated_block_status' %}"><small>Reactivated credit status</small></a></li>

                    <li class="sidebar-title">
                        <a id="toggler" href="#" data-toggle="collapse" class="active" data-target="#classes">
                            <span class="fa classes
                                {% if sidenav_selection in 'lessons,add_lesson,lessons_register' %}
                                    fa-minus-square
                                {% else %}
                                    fa-plus-square
                                {% endif %}">
                            </span>
                            Scheduled Classes</br><span class="studioadmin-help sidebar-help">(including room hire)</span>
                        </a>
                    </li>
                        <span id="classes" class="collapse {% if sidenav_selection in 'lessons,add_lesson,lessons_register' %} in show{% endif %}">
                            <li><a href="{% url 'studioadmin:lessons' %}">{% if sidenav_selection == 'lessons' %}
                        <span class="sidebar_active">View and edit classes</span>{% else %}View and edit classes{% endif %}</a></li>
                        <li><a href="{% url 'studioadmin:add_lesson' %}">{% if sidenav_selection == 'add_lesson' %}
                            <span class="sidebar_active">Add a new class</span>{% else %}Add a new class{% endif %}</a></li>
                        <li><a href="{% url 'studioadmin:class_register_list' %}">{% if sidenav_selection == 'lessons_register' %}
                        <span class="sidebar_active">Registers & waiting lists</span>{% else %}Registers & waiting lists{% endif %}</a></li>
                        </span>

                    <li class="sidebar-title">
                        <a id="toggler" href="#" data-toggle="collapse" class="active" data-target="#timetable">
                            <span class="fa timetable
                                {% if sidenav_selection in 'timetable,add_session,upload_timetable' %}
                                    fa-minus-square
                                {% else %}
                                    fa-plus-square
                                {% endif %}">
                            </span>
                            Timetable
                        </a>
                    </li>
                    <span id="timetable" class="collapse {% if sidenav_selection in 'timetable,add_session,upload_timetable' %} in show{% endif %}">
                         <li><a href="{% url 'studioadmin:timetable' %}">{% if sidenav_selection == 'timetable' %}
                        <span class="sidebar_active">View and edit timetable</span>{% else %}View and edit timetable{% endif %}</a></li>
                        <li><a href="{% url 'studioadmin:add_session' %}">{% if sidenav_selection == 'add_session' %}
                        <span class="sidebar_active">Add a new session</span>{% else %}Add a new session{% endif %}</a></li>
                        <li><a href="{% url 'studioadmin:upload_timetable' %}">{% if sidenav_selection == 'upload_timetable' %}
                        <span class="sidebar_active">Upload timetable</span>{% else %}Upload timetable{% endif %}</a></li>
                    </span>

                    <li class="sidebar-title">
                        <a id="toggler" href="#" data-toggle="collapse" class="active" data-target="#events">
                            <span class="fa events
                                {% if sidenav_selection in 'events,add_event,events_register' %}
                                    fa-minus-square
                                {% else %}
                                    fa-plus-square
                                {% endif %}">
                            </span>
                            Events/Workshops
                        </a>
                    </li>
                    <span id="events" class="collapse {% if sidenav_selection in 'events,add_event,events_register' %} in show{% endif %}">
                         <li><a href="{% url 'studioadmin:events' %}">{% if sidenav_selection == 'events' %}
                        <span class="sidebar_active">View and edit events</span>{% else %}View and edit events{% endif %}</a></li>
                         <li><a href="{% url 'studioadmin:add_event' %}">{% if sidenav_selection == 'add_event' %}
                        <span class="sidebar_active">Add a new event</span>{% else %}Add a new event{% endif %}</a></li>
                        <li><a href="{% url 'studioadmin:event_register_list' %}">{% if sidenav_selection == 'events_register' %}
                        <span class="sidebar_active">Registers & waiting lists</span>{% else %}Registers & waiting lists{% endif %}</a></li>
                    </span>

                    <li class="sidebar-title">
                        <a id="toggler" href="#" data-toggle="collapse" class="active" data-target="#tutorials">
                            <span class="fa events
                                {% if sidenav_selection in 'online_tutorials,add_online_tutorial,online_tutorials_register' %}
                                    fa-minus-square
                                {% else %}
                                    fa-plus-square
                                {% endif %}">
                            </span>
                            Online Tutorials
                        </a>
                    </li>
                    <span id="tutorials" class="collapse {% if sidenav_selection in 'online_tutorials,add_online_tutorial,online_tutorials_register' %} in show{% endif %}">
                         <li><a href="{% url 'studioadmin:online_tutorials' %}">{% if sidenav_selection == 'online_tutorials' %}
                        <span class="sidebar_active">View and edit tutorials</span>{% else %}View and edit tutorials{% endif %}</a></li>
                         <li><a href="{% url 'studioadmin:add_online_tutorial' %}">{% if sidenav_selection == 'add_online_tutorial' %}
                        <span class="sidebar_active">Add a new tutorial</span>{% else %}Add a new tutorial{% endif %}</a></li>
                        <li><a href="{% url 'studioadmin:online_tutorials_register_list' %}">{% if sidenav_selection == 'online_tutorials_register' %}
                        <span class="sidebar_active">Registers</span>{% else %}Registers{% endif %}</a></li>
                    </span>

                     <li class="sidebar-title">
                        <a id="toggler" href="#" data-toggle="collapse" class="active" data-target="#registers">
                            <span class="fa registers
                                {% if sidenav_selection == 'register_day' %}
                                    fa-minus-square
                                {% else %}
                                    fa-plus-square
                                {% endif %}">
                            </span>
                            Print Registers
                        </a>
                    </li>
                    <span id="registers" class="collapse {% if sidenav_selection == 'register_day' %} in show{% endif %}">
                        <li class="active-nav"><a href="{% url 'studioadmin:register-day' %}">{% if sidenav_selection == 'register_day' %}
                        <span class="sidebar_active">Print registers by date</span>{% else %}Print registers by date{% endif %}</a></li>
                    </span>

                     <li class="sidebar-title">
                        <a id="toggler" href="#" data-toggle="collapse" class="active" data-target="#ticketed-events">
                            <span class="fa ticketed-events
                                {% if sidenav_selection in 'ticketed_evs,add_ticketed_ev,print_tickets_list' %}
                                    fa-minus-square
                                {% else %}
                                    fa-plus-square
                                {% endif %}">
                            </span>
                            Ticketed Events/Shows
                        </a>
                    </li>
                    <span id="ticketed-events" class="collapse {% if sidenav_selection in 'ticketed_evs,add_ticketed_ev,print_tickets_list' %} in show{% endif %}">
                        <li class="active-nav"><a href="{% url 'studioadmin:ticketed_events' %}">{% if sidenav_selection == 'ticketed_evs' %}
                             <span class="sidebar_active">View and edit</span>{% else %}View and edit{% endif %}</a></li>
                        <li class="active-nav"><a href="{% url 'studioadmin:add_ticketed_event' %}">{% if sidenav_selection == 'add_ticketed_ev' %}
                            <span class="sidebar_active">Add new ticketed event</span>{% else %}Add new ticketed event{% endif %}</a></li>
                        <li class="active-nav"><a href="{% url 'studioadmin:print_tickets_list' %}">{% if sidenav_selection == 'print_tickets_list' %}
                            <span class="sidebar_active">View and print ticket lists</span>{% else %}View and print ticket lists{% endif %}</a></li>
                    </span>

                    <li class="sidebar-title">
                        <a id="toggler" href="#" data-toggle="collapse" class="active" data-target="#users">
                            <span class="fa users
                                {% if sidenav_selection in 'users,blocks,email_users,mailing_list,event_disclaimers,attendance' %}
                                    fa-minus-square
                                {% else %}
                                    fa-plus-square
                                {% endif %}">
                            </span>
                            Students
                        </a>
                    </li>
                    <span id="users" class="collapse {% if sidenav_selection in 'users,blocks,email_users,mailing_list,event_disclaimers,attendance'%} in show{% endif %}">
                        <li><a href="{% url 'studioadmin:users' %}">{% if sidenav_selection == 'users' %}
                        <span class="sidebar_active">Registered users</span>{% else %}Registered users{% endif %}</a></li>
                        <li><a href="{% url 'studioadmin:blocks' %}">{% if sidenav_selection == 'blocks' %}
                        <span class="sidebar_active">Blocks</span>{% else %}Blocks{% endif %}</a></li>
                        <li><a href="{% url 'studioadmin:choose_email_users' %}">{% if sidenav_selection == 'email_users' %}
                        <span class="sidebar_active">Bulk email</span>{% else %}Bulk email{% endif %}</a></li>
                        <li class="active-nav"><a href="{% url 'studioadmin:mailing_list' %}">{% if sidenav_selection == 'mailing_list' %}
                        <span class="sidebar_active">Mailing list</span>{% else %}Mailing list{% endif %}</a></li>
                        <li class="active-nav"><a href="{% url 'studioadmin:event_disclaimers' %}">{% if sidenav_selection == 'event_disclaimers' %}
                        <span class="sidebar_active">Event disclaimers</span>{% else %}Event disclaimers{% endif %}</a></li>
                        <li class="active-nav"><a href="{% url 'studioadmin:users_status' %}">{% if sidenav_selection == 'attendance' %}
                        <span class="sidebar_active">Attendance</span>{% else %}Attendance{% endif %}</a></li>

                    </span>

                    <li class="sidebar-title">
                        <a id="toggler" href="#" data-toggle="collapse" class="active" data-target="#vouchers">
                            <span class="fa events
                                {% if sidenav_selection in 'vouchers,add_voucher,block_vouchers,add_block_voucher' %}
                                    fa-minus-square
                                {% else %}
                                    fa-plus-square
                                {% endif %}">
                            </span>
                            Vouchers
                        </a>
                    </li>
                    <span id="vouchers" class="collapse {% if sidenav_selection in 'vouchers,add_voucher,block_vouchers,add_block_voucher,gift_vouchers' %} in show{% endif %}">
                         <li><a href="{% url 'studioadmin:vouchers' %}">{% if sidenav_selection == 'vouchers' %}
                        <span class="sidebar_active">Class/event vouchers</span>{% else %}Class/event vouchers{% endif %}</a></li>
                         <li><a href="{% url 'studioadmin:add_voucher' %}">{% if sidenav_selection == 'add_voucher' %}
                        <span class="sidebar_active">Add new voucher</span>{% else %}Add new voucher{% endif %}</a></li>
                        <li><a href="{% url 'studioadmin:block_vouchers' %}">{% if sidenav_selection == 'block_vouchers' %}
                        <span class="sidebar_active">Block vouchers</span>{% else %}Block vouchers{% endif %}</a></li>
                         <li><a href="{% url 'studioadmin:add_block_voucher' %}">{% if sidenav_selection == 'add_block_voucher' %}
                        <span class="sidebar_active">Add new block voucher</span>{% else %}Add new block voucher{% endif %}</a></li>
                        <li class="active-nav"><a href="{% url 'studioadmin:gift_vouchers' %}">{% if sidenav_selection == 'gift_vouchers' %}
                        <span class="sidebar_active">Gift vouchers</span>{% else %}Gift vouchers{% endif %}</a></li>
                    </span>

                    <li class="sidebar-title">
                        <a id="toggler" href="#" data-toggle="collapse" class="active" data-target="#test_paypal">
                            <span class="fa log
                                {% if sidenav_selection == 'test_paypal' %}
                                    fa-minus-square
                                {% else %}
                                    fa-plus-square
                                {% endif %}">
                            </span>
                            PayPal Email Check
                        </a>
                    </li>
                    <span id="test_paypal" class="collapse {% if sidenav_selection == 'test_paypal' %} in show{% endif %}">
                        <li class="active-nav"><a href="{% url 'studioadmin:test_paypal_email' %}">{% if sidenav_selection == 'test_paypal' %}
                        <span class="sidebar_active">Test PayPal Email</span>{% else %}Test PayPal Email{% endif %}</a></li>
                    </span>

                <li class="sidebar-title">
                        <a id="toggler" href="#" data-toggle="collapse" class="active" data-target="#disclaimerversions">
                            <span class="fa events
                                {% if sidenav_selection in 'disclaimer_content_list,disclaimer_content_new,disclaimer_content_view' %}
                                    fa-minus-square
                                {% else %}
                                    fa-plus-square
                                {% endif %}">
                            </span>
                            Disclaimer Versions
                        </a>
                    </li>
                    <span id="disclaimerversions" class="collapse {% if sidenav_selection in 'disclaimer_content_list,disclaimer_content_new,disclaimer_content_view' %} in show{% endif %}">
                         <li><a href="{% url 'studioadmin:disclaimer_content_list' %}">{% if sidenav_selection == 'disclaimer_content_list' %}
                        <span class="sidebar_active">Disclaimer versions</span>{% else %}Disclaimer versions{% endif %}</a></li>
                         <li><a href="{% url 'studioadmin:disclaimer_content_new' %}">{% if sidenav_selection == 'disclaimer_content_new' %}
                        <span class="sidebar_active">New version</span>{% else %}New version{% endif %}</a></li>
                    </span>

                    <li class="sidebar-title">
                        <a id="toggler" href="#" data-toggle="collapse" class="active" data-target="#notifications">
                            <span class="fa log
                                {% if sidenav_selection == 'notifications' %}
                                    fa-minus-square
                                {% else %}
                                    fa-plus-square
                                {% endif %}">
                            </span>
                            Notifications
                        </a>
                    </li>
                    <span id="notifications" class="collapse {% if sidenav_selection in 'all_banner,new_banner,popup_notification' %} in show{% endif %}">
                        <li class="active-nav">
                            <a href="{% url 'studioadmin:all_users_banner' %}">{% if sidenav_selection == 'all_banner' %}
                                <span class="sidebar_active">All users banner</span>{% else %}All users banner{% endif %}
                            </a>
                        </li>
                        <li class="active-nav">
                            <a href="{% url 'studioadmin:new_users_banner' %}">{% if sidenav_selection == 'new_banner' %}
                                <span class="sidebar_active">New user banner</span>{% else %}New user banner{% endif %}
                            </a>
                        </li>
                        <li class="active-nav">
                            <a href="{% url 'studioadmin:popup_notification' %}">{% if sidenav_selection == 'popup_notification' %}
                                <span class="sidebar_active">Pop-up notification</span>{% else %}Pop-up notification{% endif %}
                            </a>
                        </li>
                    </span>

                    <li class="sidebar-title">
                        <a id="toggler" href="#" data-toggle="collapse" class="active" data-target="#log">
                            <span class="fa log
                                {% if sidenav_selection == 'activitylog' %}
                                    fa-minus-square
                                {% else %}
                                    fa-plus-square
                                {% endif %}">
                            </span>
                            Site Activity Log
                        </a>
                    </li>
                    <span id="log" class="collapse {% if sidenav_selection == 'activitylog' %} in show{% endif %}">
                        <li class="active-nav"><a href="{% url 'studioadmin:activitylog' %}">{% if sidenav_selection == 'activitylog' %}
                        <span class="sidebar_active">View log</span>{% else %}View log{% endif %}</a></li>
                    </span>

                {% elif request.user|in_group:"instructors" %}
                    <li class="sidebar-title">
                            Registers/Waiting lists
                    </li>
                        <li><a href="{% url 'studioadmin:class_register_list' %}">{% if sidenav_selection == 'lessons_register' %}
                        <span class="sidebar_active">Classes/Room Hire</span>{% else %}Classes/Room Hire{% endif %}</a></li>
                    <li><a href="{% url 'studioadmin:event_register_list' %}">{% if sidenav_selection == 'events_register' %}
                        <span class="sidebar_active">Events/Workshops</span>{% else %}Events/Workshops{% endif %}</a></li>
                    <li><a href="{% url 'studioadmin:register-day' %}">{% if sidenav_selection == 'register_day' %}
                        <span class="sidebar_active">View/print registers by date</span>{% else %}View/print registers by date{% endif %}</a></li>
                    <li class="active-nav"><a href="{% url 'studioadmin:users' %}">{% if sidenav_selection == 'users' %}
                        <span class="sidebar_active">Registered users</span>{% else %}Registered users{% endif %}</a></li>
                    <li class="active-nav"><a href="{% url 'studioadmin:event_disclaimers' %}">{% if sidenav_selection == 'event_disclaimers' %}
                        <span class="sidebar_active">Event disclaimers</span>{% else %}Event disclaimers{% endif %}</a></li>
                {% elif perms.accounts.view_nonregistereddisclaimer %}
                <li class="active-nav"><a href="{% url 'studioadmin:event_disclaimers' %}">{% if sidenav_selection == 'event_disclaimers' %}
                    <span class="sidebar_active">Event disclaimers</span>{% else %}Event disclaimers{% endif %}</a></li>
                {% endif %}
            </ul>

        </div>

        <!-- Page content -->
        <div id="page-content-wrapper">

            <!-- Keep all page content within the page-content inset div! -->
            <div class="page-content inset">


            {% block studioadmincontent %}{% endblock %}

            </div>
        </div>
</div>
{% endblock %}

{% block extra_footer %}
{% endblock %}
