{% extends "studioadmin/base_v1.html" %}
{% load static %}
{% load bookingtags %}

{% block studioadmincontent %}

    <div class="pt-2">

        <h2>Block Vouchers</h2>



        <div class="row">
            <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table tablesorter" id="sortTable">
                            <thead>
                            <tr class="success">
                                <th class="text-center">Voucher code</br><span class="studioadmin-help">Click to edit</span></th>
                                <th class="text-center">Discount</th>
                                <th class="text-center">Start Date</th>
                                <th class="text-center">Expiry Date</th>
                                <th class="text-center">Members only?</th>
                                <th class="text-center">Max<br/>per user</th>
                                <th class="text-center">Max<br/>total uses</th>
                                <th class="text-center">Times used</br><span class="studioadmin-help">Click for details</span></th>
                                <th>Block Types</th>
                                <th class="text-center">Printable<br/>voucher</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if vouchers %}
                                {% for voucher in vouchers %}
                                {% voucher_expired voucher as expired %}
                                <tr {% if expired %}class="expired_block"{% endif %}>
                                    <td class="text-center studioadmin-tbl"><a href="{% url 'studioadmin:edit_block_voucher' voucher.pk %}">{{ voucher.code }}</a></td>
                                    <td class="text-center studioadmin-tbl">{{ voucher.discount }}%</td>
                                    <td class="text-center studioadmin-tbl">{{ voucher.start_date|date:"d M Y" }}
                                    <td class="text-center studioadmin-tbl">{% if voucher.expiry_date %}{{ voucher.expiry_date|date:"d M Y" }}{% else %}N/A{% endif %}</td>
                                    <td class="text-center studioadmin-tbl">{{ voucher.members_only|yesno }}</td>
                                    <td class="text-center studioadmin-tbl">{% if voucher.max_per_user %}{{ voucher.max_per_user }}{% else %}N/A{% endif %}</td>
                                    <td class="text-center studioadmin-tbl">{% if voucher.max_vouchers %}{{ voucher.max_vouchers }}{% else %}N/A{% endif %}</td>
                                    <td class="text-center studioadmin-tbl"><a href="{% url 'studioadmin:block_voucher_uses' voucher.pk %}">{{ voucher|times_block_voucher_used }}</a></td>
                                    <td class="studioadmin-tbl">{% for bt in voucher.block_types.all %}{{ bt }}</br>{% endfor %}</td>
                                    <td class="text-center studioadmin-tbl"><a href="{% url 'booking:gift_voucher_details' voucher.code %}" target="_blank"><span class="fas fa-link"></span></a> </td>
                                </tr>
                                {% endfor %}
                                
                            {% else %}
                              <tr><td colspan="9" class="studioadmin-tbl">No vouchers found</td></tr>
                            {% endif %}
                            </tbody>
                            
                        </table>
                        {% include 'booking/includes/pagination.html' %}
                    </div>
                </div>
            </div>
         </div>

{% endblock studioadmincontent %}
