{% extends "studioadmin/base.html" %}
{% load static %}
{% load bookingtags %}

{% block studioadmincontent %}

    <div class="container-fluid row">

        <h2>Currently Active Blocks</h2>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-success">

                    <div class="table-responsive">
                        <table class="table">
                            <tr class="success">
                                <th class="table-center">Block type</th>
                                <th class="table-center">User</th>
                                <th class="table-center">Block Size
                                <th class="table-center">Used</th>
                                <th class="table-center">Start Date</th>
                                <th class="table-center">Expiry Date</th>
                                <th class="table-center">Paid</th>

                            </tr>
                            {% for block in blocks %}
                            <tr>
                                <td class="table-center studioadmin-tbl">{{ block.block_type }}</td>
                                <td class="table-center studioadmin-tbl">{{ user.first_name }} {{ user.last_name }} ({{ user.username }})</td>
                                <td class="table-center studioadmin-tbl">{{ block.size }}</td>
                                <td class="table-center studioadmin-tbl"></td>
                                <td class="table-center studioadmin-tbl">{{ block.start_date }}</td>
                                <td class="table-center studioadmin-tbl">{{ block.expiry_date }}</td>
                                <td class="table-center studioadmin-tbl">{{ block.paid }}</td>

                            </tr>
                            {% endfor %}

                        </table>
                    </div>
                </div>
            </div>
         </div>

    </div>

{% endblock studioadmincontent %}