{% extends "studioadmin/base_v1.html" %}
{% load static %}

{% block studioadmincontent %}

    <h2>Cancelling {{ event }}</h2>

    <p>You are cancelling {{ event_type }} {{ event }}.</p>

    {% if open_bookings or no_shows %}
        {%  if open_bookings %}
            <p>Bookings for the following users are open and will be cancelled.</p>

            <ul>
            {% if open_block_bookings %}
                {% for booking in open_block_bookings %}
                <li>{{ booking.user.first_name }} {{ booking.user.last_name }} (paid by block)</li>
                {% endfor %}
            {% endif %}

            {% if open_membership_bookings %}
                {% for booking in open_membership_bookings %}
                <li>{{ booking.user.first_name }} {{ booking.user.last_name }} (paid by membership)</li>
                {% endfor %}
            {% endif %}

            {% if open_expired_block_bookings %}
                {% for booking in open_block_bookings %}
                <li>{{ booking.user.first_name }} {{ booking.user.last_name }} (paid by block - now expired)</li>
                {% endfor %}
            {% endif %}

            {% if open_free_non_block_bookings %}
                {% for booking in open_free_non_block_bookings %}
                <li>{{ booking.user.first_name }} {{ booking.user.last_name }} (free class - assigned manually)</li>
                {% endfor %}
            {% endif %}

            {% if open_free_block_bookings %}
                {% for booking in open_free_block_bookings %}
                <li>{{ booking.user.first_name }} {{ booking.user.last_name }} (free class - block)</li>
                {% endfor %}
            {% endif %}

            {% if open_direct_paid_bookings %}
                {% for booking in open_direct_paid_bookings %}
                <li>{{ booking.user.first_name }} {{ booking.user.last_name }} (paid directly)</li>
                {% endfor %}
            {% endif %}

            {% if open_deposit_only_paid_bookings %}
                {% for booking in open_deposit_only_paid_bookings %}
                <li>{{ booking.user.first_name }} {{ booking.user.last_name }} (deposit only paid)</li>
                {% endfor %}
            {% endif %}

            {% if open_unpaid_bookings %}
                {% for booking in open_unpaid_bookings %}
                <li>{{ booking.user.first_name }} {{ booking.user.last_name }} (unpaid)</li>
                {% endfor %}
            {% endif %}
            </ul>
        {% endif %}

        {% if event.event_type.event_type == 'EV' %}
            {% if open_direct_paid_bookings or open_deposit_only_paid_bookings %}
                Users who paid directly for this {{ event_type }} will need to be refunded
            {% endif %}
        {% endif %}

        {% if no_shows %}
            <p>Bookings for the following users were previously cancelled but
            remain paid because
            {% if not event.allow_booking_cancellation %}
                this {{ event_type }} is non-refundable.
            {% else %}
                the booking was cancelled after the allowed cancellation period.
            {% endif %}<br/>
            These users will <strong>NOT</strong> be emailed notification of the {{ event_type }} cancellation and will <strong>NOT</strong>
            be automatically refunded or issued transfer credit.<br/>
            Please review and determine if refunds are necessary.</p>
            <ul>
                {% for booking in no_shows %}
                    <li>{{ booking.user.first_name }} {{ booking.user.last_name }}
                        {% if booking.block %}(paid by block)
                        {% elif booking.free_class %}(free class)
                        {% else %}(paid directly - i.e. cash/paypal)
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% else %}
        <p>There are no open bookings for this {{ event_type }}.</p>
    {% endif %}

    <form action="" method="post">{% csrf_token %}
        {% if open_bookings %}
            <p><strong>Blocks/memberships will be updated for any bookings made with these payment methods.
                Bookings made with expired blocks will be assigned transfer credit.</strong></p>
        {% endif %}
        {% if open_direct_paid_bookings or open_free_non_block_bookings %}
            <span>
        {% else %}
            <span class="hide">
        {% endif %}
            {% if event.event_type.event_type != 'EV' %}
                <p><strong>How do you want to deal with bookings paid directly (i.e. by cash/paypal) and free classes not associated with automatic free-class blocks?</strong><br>
                <input type="radio" name="direct_paid_action" value="transfer" checked="checked"> Create transfer credits<br>
                <input type="radio" name="direct_paid_action" value="refund"> Refund manually</p>
            {% endif %}
        </span>

        <p><strong>Please confirm you want to cancel this {{ event_type }}.</strong></p>
        <input class="btn btn-wm" type="submit" name="confirm" value="Yes, cancel this {{ event_type }}" />
        <input class="btn btn-danger" type="submit" name="cancel" value="No, take me back" />
    </form>


{% endblock studioadmincontent %}
