{% extends "studioadmin/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load bookingtags %}

{% block extra_head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css" integrity="sha512-EvvoSMXERW4Pe9LjDN9XDzHd66p8Z49gcrB7LCUplh0GcEHiV816gXGwIhir6PJiwl0ew8GFM2QaIg2TW02B9A==" crossorigin="anonymous" />
{% endblock %}

{% block studioadmincontent %}
        <h2>Choose Students to Email </h2>
        <p>Select by class, workshop/event and/or select specific students.</p>

    <div id="spin-container">
        <i id="spin1" class="fa-2x fas fa-spinner fa-spin email-spinner"></i>
        <i id="spin2" class="fa-2x fas fa-spinner fa-spin email-spinner"></i>
        <i id="spin3" class="fa-2x fas fa-spinner fa-spin email-spinner"></i>
    </div>
        <a id="toggler" href="#" data-toggle="collapse" data-target="#userfilters">
            <h4><span class="fa fa-plus-square"></span> View/hide selection options</h4>
        </a>
            <div class="card card-wm">
                <span id="userfilters" class="collapse">

                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ userfilterform|crispy }}
                        <div class="col-12 mt-2">
                            <input class="btn table-btn btn-secondary" name="filter" type="submit" value="Show Students" /><br/>
                        </div>
                    </form>
                </div>
                </span>
            {% if usersformset.forms %}
                {% if usersformset.forms %}
                    <div class="col-12">
                        <span class="header-not-bold">Select/unselect all</span> <input checked="checked" class="regular-checkbox studioadmin-list" id="select-all" type="checkbox"><label for={{ "select-all" }}></label>
                    </div>
                {% endif %}
                <form method="post" action="">
                    {% csrf_token %}
                    {{ usersformset.management_form }}

                    <table class="table tablesorter" id="sortTable">
                            <thead>
                            <tr class="success compress">
                                <th class="text-center">Username <span class="fa fa-sort"></span></th>
                                <th class="text-center">First Name <span class="fa fa-sort"></span></th>
                                <th class="text-center">Last Name <span class="fa fa-sort"></span></th>
                                <th class="text-center">Email address</th>
                                <th class="text-center">Select students to email</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for userform in usersformset %}
                            <tr class="compress">
                                <span class="hide">{{ userform.id }}</span>
                                <td class="text-center studioadmin-tbl">{{ userform.instance.username|abbr_username }}</td>
                                <td class="text-center studioadmin-tbl">{{ userform.instance.first_name|abbr_name }}</td>
                                <td class="text-center studioadmin-tbl">{{ userform.instance.last_name|abbr_name }}</td>
                                <td class="text-center studioadmin-tbl">{{ userform.instance.email|abbr_email }}</td>
                                <td class="text-center studioadmin-tbl">{{ userform.email_user }}<label for={{ userform.email_user_cbox_id }}></label></td>
                            </tr>
                            {% endfor %}
                            <tr>
                        </tbody>
                            <tr>
                            <td class="studioadmin-tbl" colspan="5">
                                <input class="btn btn-wm studioadmin-tbl" name="formset_submitted" type="submit" value="Email selected students" />
                            </td>
                            </tr>

                        </table>
                </form>
            {% elif showing_students %}
                <div>No students match selected options.</div>
            {% endif %}
        </div>

{% endblock studioadmincontent %}


{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.min.js" integrity="sha512-aFvi2oPv3NjnjQv1Y/hmKD7RNMendo4CZ2DwQqMWzoURKxcqAoktj0nNG4LU8m23+Ws9X5uVDD4OXLqpUVXD5Q==" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function() {
        alerted1 = function () {       
            document.getElementById('spin1').remove();
        }
        alerted2 = function () {       
            document.getElementById('spin2').remove();
        }
        alerted3 = function () {       
            document.getElementById('spin3').remove();
        }

        $('#id_filter-lessons').multiselect({
            buttonClass: 'btn btn-sm btn-wm mt-2',
            buttonWidth: '100%',
            maxHeight: 400,
            disableIfEmpty: true,
            numberDisplayed: 1,
            nonSelectedText: 'Click to choose classes',
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            onInitialized: alerted1
        });
        $('#id_filter-events').multiselect({
            buttonClass: 'btn btn-sm btn-wm mt-2',
            buttonWidth: '100%',
            maxHeight: 400,
            disableIfEmpty: true,
            numberDisplayed: 1,
            nonSelectedText: 'Click to choose workshops/events',
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            onInitialized: alerted2
        });
        $('#id_filter-students').multiselect({
            buttonClass: 'btn btn-sm btn-wm mt-2',
            buttonWidth: '100%',
            maxHeight: 400,
            disableIfEmpty: true,
            numberDisplayed: 1,
            nonSelectedText: 'Click to choose students',
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            onInitialized: alerted3
        });


    });
</script>

{% endblock %}
