{% extends "studioadmin/base_v1.html" %}
{% load static %}
{% load bookingtags %}

{% block studioadmincontent %}
        <h2 class="pt-2">Choose Students to Email </h2>
        <p>Select by class, workshop/event and/or select specific students.</p>

            <div class="card card-wm">
                {{ userfilterform.media.css }}
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <details>
                                <summary>
                                    <label><strong>{{ userfilterform.events.label }}</strong></label>
                                    <span {% if event_count %}class="text-success"{% endif %}> ({{ event_count }} / {{ userfilterform.events|length }} selected)</span>
                                </summary>
                                {{ userfilterform.events }}
                            </details>
                        </div>
                        <div class="form-group">
                            <details>
                                <summary>
                                    <label><strong>{{ userfilterform.lessons.label }}</strong></label>
                                    <span {% if lesson_count %}class="text-success"{% endif %}> ({{ lesson_count }} / {{ userfilterform.lessons|length }} selected)</span>
                                </summary>
                                {{ userfilterform.lessons }}
                            </details>
                        </div>
                        <div class="form-group">
                            <label><strong>{{ userfilterform.students.label }}</strong></label>
                            {{ userfilterform.students }}
                            <div class="col-12 mt-2">
                                <input class="btn btn-sm btn-success" name="filter" type="submit" value="Show Students" /> 
                                <input class="btn btn-sm btn-danger" name="clear_filter" type="submit" value="Clear filters" /><br/>
                            </div>
                        </div>
                    </form>
                </div>
                </span>
            {% if usersformset.forms %}
                {% if usersformset.forms %}
                    <div class="col-12">
                        <span class="header-not-bold">Select/unselect all</span> <input checked="checked" class="regular-checkbox studioadmin-list" id="select-all" type="checkbox"><label for={{ "select-all" }}></label>
                    </div>
                {% endif %}
                <form method="post" action="">
                    {% csrf_token %}
                    {{ usersformset.management_form }}

                    <table class="table tablesorter" id="sortTable">
                            <thead>
                            <tr class="success compress">
                                <th class="text-center">Username <span class="fa fa-sort"></span></th>
                                <th class="text-center">First Name <span class="fa fa-sort"></span></th>
                                <th class="text-center">Last Name <span class="fa fa-sort"></span></th>
                                <th class="text-center">Email address</th>
                                <th class="text-center">Select students to email</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for userform in usersformset %}
                            <tr class="compress">
                                <span class="hide">{{ userform.id }}</span>
                                <td class="text-center studioadmin-tbl">{{ userform.instance.username|abbr_username }}</td>
                                <td class="text-center studioadmin-tbl">{{ userform.instance.first_name|abbr_name }}</td>
                                <td class="text-center studioadmin-tbl">{{ userform.instance.last_name|abbr_name }}</td>
                                <td class="text-center studioadmin-tbl">{{ userform.instance.email|abbr_email }}</td>
                                <td class="text-center studioadmin-tbl">{{ userform.email_user }}<label for={{ userform.email_user_cbox_id }}></label></td>
                            </tr>
                            {% endfor %}
                            <tr>
                        </tbody>
                            <tr>
                            <td class="studioadmin-tbl" colspan="5">
                                <input class="btn btn-wm studioadmin-tbl" name="formset_submitted" type="submit" value="Email selected students" />
                            </td>
                            </tr>

                        </table>
                </form>
            {% elif showing_students %}
                <div>No students match selected options.</div>
            {% endif %}
        </div>

        {% comment %} js needs to be loaded in the body for django-select2 {% endcomment %}
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        {{ userfilterform.media.js }}
{% endblock studioadmincontent %}

{% comment %} don't load the base js again {% endcomment %}
{% block jquery %}{% endblock %}
