{% extends "studioadmin/base.html" %}
{% load static %}

{% block studioadmincontent %}

<div class="row">
    <div class="col-sm-11">

    <h2>Confirm payment has been refunded</h2>
    <p>{{ booking.user.first_name }} {{ booking.user.last_name }}
    ({{ booking.user.username }}) has cancelled or requested a refund for
        {{ booking.event }}</p>

    <p>Click the button below to confirm that the payment has been refunded.
        When you click 'confirm', {{ booking.user.username }} will be sent a confirmation
        email.</p>

    <form action="" method="post">{% csrf_token %}
        <span class="hide">{{ form }}</span>
        <input class="btn btn-success" type="submit" name='confirmed' value="Confirm" />
        <input class="btn btn-danger" type="submit" name='cancelled' value="Cancel" />
    </form>
    </div>
</div>

{% endblock studioadmincontent %}