{% extends "studioadmin/base.html" %}
{% load static %}

{% block studioadmincontent %}

<div class="row">
    <div class="col-sm-11">

    <h2>Confirm payment has been refunded</h2>
    <p>{{ booking.user.first_name }} {{ booking.user.last_name }}
    ({{ booking.user.username }})'s booking for
        {{ booking.event }} has been cancelled or a refund has been requested.</p>

    {% if booking.deposit_paid or booking.paid %}
        {% if booking.deposit_paid and not booking.paid %}
            <p>Note: only the deposit has been paid for this booking.</p>
        {% endif %}
        <p>Click the button below to confirm that the payment has been refunded.
            {{ booking.user.first_name }} will be sent a confirmation
            email.</p>

        <form action="" method="post">{% csrf_token %}
            <span class="hide">{{ form }}</span>
            <input class="btn btn-wm" type="submit" name='confirmed' value="Confirm" />
            <input class="btn btn-danger" type="submit" name='cancelled' value="Cancel" />
        </form>
    {% else %}
        This booking is unpaid or payment has already been refunded.
    {% endif %}
    </div>
</div>

{% endblock studioadmincontent %}