{% extends "studioadmin/base.html" %}
{% load static %}

{% block studioadmincontent %}

<div>
    <h3>Payment for {{ purchase }}</h3>


    {% if payment_status == 'Completed' and obj.paid %}
        <p>Your payment has been successfully completed.</p>
    {% elif payment_status == 'Completed' or payment_status == 'Pending' %}
        <p>Your payment is being processed.
    {% endif %}

    <p>You should receive an email shortly from {{ sender_email }}
    confirming that your payment has been successfully processed. If you
    have not received it within a few hours, please check
    your spam folder and contact
    <a href="mailto:{{ organiser_email }}?subject=Payment for {{ purchase }}">
        {{ organiser_email }}</a> if necessary.</p>

    <p>
    {% if obj_type == 'block' %}
        View your <a href="{% url 'booking:block_list' %}">blocks</a>.
    {% elif obj_type == 'booking' %}
        View your <a href="{% url 'booking:bookings' %}">bookings</a>.
    {% endif %}
    </p>

</div>

{% endblock studioadmincontent %}