{% extends "studioadmin/base.html" %}
{% load static %}

{% block studioadmincontent %}

        <h2>Disclaimer Versions</h2>

        <h4 class="col-12">Click to view content. Only draft versions are editable.</h4>

        {% for disclaimer_content in disclaimer_contents %}
        <div {% if disclaimer_content.is_draft %}class="col-7 col-sm-5 col-md-4"{% else %}class="col-12"{% endif %}>
            <a href="{% url 'studioadmin:disclaimer_content_view' disclaimer_content.version %}">
                Version {{ disclaimer_content.version }} - {{ disclaimer_content.issue_date | date:"d M Y H:i" }} ({{ disclaimer_content.status }})
            </a>
            {% if disclaimer_content.version == current_version %}
                <span class="badge badge-success">current</span>
            {% endif %}
        </div>
        {% if disclaimer_content.is_draft %}
        <div id="edit-button-{{ disclaimer_content.version }}" class="col-5 col-sm-7 col-md-8"><a class="btn btn-sm btn-warning" href="{% url 'studioadmin:disclaimer_content_edit' disclaimer_content.version %}">Edit</a></div>
        {% endif %}

        {% endfor %}

{% endblock studioadmincontent %}
