{% extends "studioadmin/base_v1.html" %}
{% load static %}

{% block studioadmincontent %}

<div class="card mt-2">
    <div class="card-body">
        <div class="float-right"><a class="btn btn-info" href="{% url 'studioadmin:disclaimer_content_list' %}">Back to list</a></div>

        <h2>Disclaimer Version {{ disclaimer_content.version }} - {{ disclaimer_content.issue_date | date:"d M Y" }}</h2>

        <h4>Medical Treatment Terms</h4>
        <div>{{ disclaimer_content.medical_treatment_terms|linebreaks }}</div>

        <h4>Disclaimer Terms</h4>
        <div>{{ disclaimer_content.disclaimer_terms|linebreaks }}</div>

        <h4>Over 18 Statement</h4>
        <div>{{ disclaimer_content.over_18_statement }}</div>

    </div>
</div>

{% endblock studioadmincontent %}
