{% extends "studioadmin/base.html" %}
{% load static %}

{% block studioadmincontent %}

    <div class="container-fluid row">
        <h2>New Disclaimer Version</h2>

        <p>
            Use this form to update the terms of online disclaimers.  Fields are autofilled with the current disclaimer content.
            Note that disclaimer content cannot be edited once submitted (but you can make another version).  Students will be required to sign/re-sign the most recent version on the system.</p>

        <p>
            Version numbers are automatically incremented to the next major version if you leave the version field blank  (i.e. version 1.0 will be incremented to version 2.0).
            If you are only making minor (e.g. typo) changes, it's recommended to increment to a minor version (e.g. version 1.1).  In this case you will need to
            manually enter the version you require.
        </p>

        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>

{% endblock studioadmincontent %}
