{% extends "studioadmin/base.html" %}
{% load static %}
{% load bookingtags %}

{% block studioadmincontent %}

{{ form.media }}

<div class="row">
    <div class="col-12 pt-2">
       <div class="card card-wm">
            <div class="card-header">
                {% if event %}
                <h2 class="card-title">{{ event.name }} on {{ event.date | date:"D d F, g:i a" }}</h2>
                {% if event.cancelled %}<h4>Note: this event has been cancelled</h4>{% endif %}
                {% else %}
                <h2 class="card-title">Adding new {{ type }}</h2>
                {% endif %}
            </div>
            <div class="card-body">
                {% if form.errors %}
                    <div class="form-error">
                        <p>Please correct the errors below:</p>
                    </div>
                    {% endif %}

                <form class="dirty-check" method="post" action="">
                    {% csrf_token %}

                    <div class="form-group col-12">
                        {% for field in form %}
                            {% if not field.name in form.hidden_fields %}
                                {% if field.label == "Cost" %}
                                    <div class="form-group">
                                        <label>{% if field.field.required %}*{% endif %}{{ field.label }}</label>
                                         <div class="input-group {% if field.errors %}ticket-error{% endif %}">
                                                <span class="input-group-addon" id="sizing-addon2">£</span>
                                                {{ field }}
                                            </div>
                                            {% if field.errors %}<div class="form-error">{{ field.errors }}</div>{% endif %}
                                        </div>
                                    </div>
                                {% elif field.name  == "categories" %}
                                    {% if type == "class" or type == "room hire" %}
                                    <div class="form-group cbox">
                                        <label>{% if field.field.required %}*{% endif %}{{ field.label }}</label>   
                                        <div class="form-check {% if field.errors %}ticket-error{% endif %}">
                                            {{ field }}
                                        </div>
                                        <div class="studioadmincbox-help">{{ field.help_text }}</div>
                                        {% if field.errors %}<div class="form-error">{{ field.errors }}</div>{% endif %}
                                    </div>
                                    {% endif %}
                                 
                                {% elif field.field.widget.input_type  == "checkbox" %}
                                    <div class="form-group cbox">
                                        <div class="form-check form-check-inline {% if field.errors %}ticket-error{% endif %}">
                                        {{ field }}
                                         <label>{% if field.field.required %}*{% endif %}{{ field.label }}</label>
                                        </div>
                                        <div class="studioadmincbox-help">{{ field.help_text }}</div>
                                        {% if field.errors %}<div class="form-error">{{ field.errors }}</div>{% endif %}
                                    </div>
                                {% else %}
                                    <div class="form-group {% if field.name == 'new_category' %}ml-4{% endif %}">
                                        <label>{% if field.field.required %}*{% endif %}{{ field.label }}</label>
                                        <div {% if field.errors %}class="ticket-error"{% endif %}>
                                            {{ field }}</div>
                                                <div class="studioadmin-help">{{ field.help_text }}</div>
                                                {% if field.errors %}<div class="form-error">{{ field.errors }}</div>{% endif %}
                                    </div>
                                {% endif %}
                            {% else %}
                                {{ field }}
                            {% endif %}
                        {% endfor %}

                    <div class="form-group">
                        <input type="hidden" name="from_page" value="{{ request.GET.from_page }}"/>
                        <button type="submit" class="btn btn-wm">Save</button>
                    </div>

                    </div>
                </form>


        </div>
    </div>
 </div>
</div>

{% endblock studioadmincontent %}
