{% extends "studioadmin/base.html" %}
{% load static %}
{% load bookingtags %}

{% block studioadmincontent %}

    <div class="container-fluid row">

        <h2>Scheduled {% if type == 'events' %}Events{% elif type == 'lessons' %}Classes{% endif %}</h2>
        {% if events %}
        <div class="row">
            <div class="col-sm-8">
                <div class="panel panel-success">

                    <div class="table-responsive">
                        <table class="table">
                            <tr class="success">
                                <th>Date</th>
                                <th>{% if type == 'events' %}Event{% elif type == 'lessons' %}Class{% endif %}</th>
                                <th class="table-center">Bookings</th>
                                <th class="table-center">View Register</th>
                                <th class="table-center">View Waiting List</th>
                            </tr>

                            {% for event in events %}
                            <tr>
                                <td class="studioadmin-tbl">{{ event.date | date:"D d M, H:i" }}</td>
                                <td class="studioadmin-tbl">{{ event.name }}</td>
                                <td class="table-center studioadmin-tbl">{{ event|bookings_count }}</td>
                                <td class="table-center studioadmin-tbl">
                                    {% if type == 'events' %}
                                        <a href="{% url 'studioadmin:event_register' event.slug 'OPEN' %}">
                                            <span class="fa fa-external-link fa-lg"></span>
                                    {% elif type == 'lessons' %}
                                        <a href="{% url 'studioadmin:class_register' event.slug 'OPEN' %}">
                                            <span class="fa fa-external-link fa-lg"></span>
                                    {% endif %}</a></td>
                                <td class="table-center studioadmin-tbl">
                                    {% if event.waitinglistusers.count > 0 %}
                                        <a href="{% url 'studioadmin:event_waiting_list' event.id %}">
                                            <span class="fa fa-external-link fa-lg"></span></a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>

                </div>
            </div>
         </div>
        {% else %}
            <p>There are currently no {% if type == 'events' %}events{% elif type == 'lessons' %}classes{% endif %} scheduled.</p>
        {% endif %}

    </div>

{% endblock studioadmincontent %}
