{%  extends "studioadmin/base.html" %}


{% block studioadmincontent %}
    <h1>Active members: {{ membership.name }}</h1>

    <a class="btn btn-wm mb-2" href="{% url 'studioadmin:email_members' membership.id %}">Email members<a/>

    <table class="table table-responsive table-striped">
        <thead>
            <th>Name</th>
            <th>Status</th>
            <th class="text-center">Start date</th>
            <th class="text-center">End date</th>
            <th class="text-center">Bookings (this month)</th>
            <th class="text-center">Bookings (next month)</th>
        </thead>
        <tbody>
            {% for user_membership in membership.active_user_memberships.all %}
                <tr>
                    <td>{{ user_membership.user.first_name }} {{ user_membership.user.last_name }}</a></td>
                    <td>{{ user_membership.hr_status }}</td>
                    <td class="text-center">{{ user_membership.start_date|date:"d M Y"}}</td>
                    <td class="text-center">{% if user_membership.end_date %}{{ user_membership.end_date|date:"d M Y"}}{% endif %}
                    <td class="text-center">{{ user_membership.bookings_this_month.count }}</td>
                    <td class="text-center">{{ user_membership.bookings_next_month.count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock studioadmincontent %}
{% block extra_js %}
{% endblock %}
