{% extends "studioadmin/base.html" %}
{% load static %}
{% load bookingtags crispy_forms_tags %}

{% block studioadmincontent %}

       <div class="card card-wm">
            <div class="card-header">
                {% if membership %}
                <h2 class="card-title">Edit Membership Configuration</h2>
                {% else %}
                <h2 class="card-title">Add New  Membership Configuration</h2>
                {% endif %}
            </div>
           
            <div class="card-body">
                {% if membership %}
                <p class="text-danger">
                    NOTE: changing a membership's price will affect all students who have purchased this membership already.
                    Changes take effect from the beginning of the next month.
                </p>

                <p class="text-danger">
                    Changing a membership booking allowance will IMMEDIATELY affect all students who have purchased this membership.
                    Don't do this unless you've communicated it to them already.
                </p>

                {% endif %}
                {% if form.errors %}
                    <div class="form-error">
                        <p>Please correct the errors below:</p>
                    </div>
                    {% endif %}

                <form method="post" action="">
                        {% csrf_token %}
                        {% crispy form %}
                </form>

        </div>
    </div>
{% endblock studioadmincontent %}
