{% load bookingtags %}

<div class="container">
    <div class="row">
{% for event in events %}

        <div class="col-xs-6 register-print-col">

            <div class="table-responsive">
                <table class="table">

                        <caption><h2 class="register-title">Register for {{ event.event }}</h2></caption>
                        <thead>
                        <tr>
                            <th class="table-center shrink-col"></th>
                            <th class="table-center shrink-col">Attended</th>
                            <th class="table-center">User</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for booking in event.bookings %}
                            <tr>
                                <td class="table-center register-index studioadmin-tbl shrink-col">{{ booking.index }}.</td>
                                <td class="table-center studioadmin-tbl shrink-col"><input class='regular-checkbox' id="extra_checkbox_{{ booking.booking.id }}" type="checkbox"><label for='extra_checkbox_{{ booking.booking.id }}'></label></td>
                                <td class="table-center studioadmin-tbl">{{ booking.booking.user.first_name }} {{ booking.booking.user.last_name }}</td>
                            </tr>
                            {% endfor %}
                        {% for i in event.extra_lines|get_range %}
                        <tr>
                            <td class="table-center register-index studioadmin-tbl shrink-col">{{ event.event|get_index_open:i }}.</td>
                            <td class="table-center studioadmin-tbl shrink-col"><input class='regular-checkbox' id="extra_checkbox_{{ i }}" type="checkbox"><label for='extra_checkbox_{{ i }}'></label></td>
                            <td class="table-center studioadmin-tbl"></td>
                        </tr>
                        {% endfor %}
                        <tr><td class="notes-row" colspan="3">Notes: </td></tr>
                    </tbody>

                </table>
            </div>
        </div>

{% endfor %}
</div>
</div>
