{% extends "studioadmin/base_v1.html" %}
{% load static %}
{% load bookingtags %}

{% block studioadmincontent %}

        <h2 class="pt-2">Event Disclaimers</h2>

        <div class=row>
            <div class="col-sm-12">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.search }} {{ form.search_date }}
                <button class="btn btn-info table-btn" type="submit" name='search_submitted'>Search</button>
                <button class="btn btn-info table-btn" type="submit" name='reset'>Reset</button><br/>
                {{ form.hide_past }}<label for='id_hide_past'></label> <span class='studioadmincbox-help'> {{ form.hide_past.label }}</span><br/>
            </form>
        </div>



        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card card-wm">

                    <div class="table-responsive">
                        <table class="table tablesorter" id="sortTable">
                            <thead>
                            <tr class="success">
                                <th class="text-center">First Name <span class="fa fa-sort"></span></th>
                                <th class="text-center">Last Name <span class="fa fa-sort"></span></th>
                                <th class="text-center">Pronouns</th>
                                <th class="text-center">Email</th>
                                <th class="text-center">Event Date <span class="fa fa-sort"></span></th>
                                <th class="text-center">Medical conditions</th>
                                <th class="text-center">Joint problems</th>
                                <th class="text-center">Allergies</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for disclaimer in disclaimers %}
                            <tr>
                                <td class="text-center studioadmin-tbl">{{ disclaimer.first_name|abbr_name }}</td>
                                <td class="text-center studioadmin-tbl">{{ disclaimer.last_name|abbr_name }}</td>
                                <td class="text-center studioadmin-tbl">{% if disclaimer.pronouns %}{{ disclaimer.pronouns }}{% endif %}</td>
                                <td class="text-center studioadmin-tbl"><a href="mailto:{{ disclaimer.email }}" target="_blank">{{ disclaimer.email|abbr_email }}</a></td>
                                <td class="text-center studioadmin-tbl"><span style="display: none;">{{ disclaimer.event_date | date:"Ymd"}}</span>{{ disclaimer.event_date | date:"D d M Y" }}</td>
                                <td class="text-center studioadmin-tbl">{{ disclaimer.medical_conditions | yesno | title }}</td>
                                <td class="text-center studioadmin-tbl">{{ disclaimer.join_problems | yesno | title }}</td>
                                <td class="text-center studioadmin-tbl">{{ disclaimer.allergies | yesno | title }}</td>
                                <td class="text-center studioadmin-tbl"><a href="{% url 'studioadmin:event_disclaimer' disclaimer.user_uuid%}">View details</a></td>
                            </tr>
                            {% endfor %}

                            {% if empty_search_message %}
                            <tr><td colspan="9">{{ empty_search_message }}</td></tr>
                            {% endif %}

                            

                            </tbody>
                        </table>

                        {% include 'booking/includes/pagination.html' %}
                        
                    </div>
                </div>
            </div>
         </div>


{% endblock studioadmincontent %}
