{% extends "studioadmin/print_base.html" %}
{% load static %}
{% load bookingtags %}

{% block studioadmincontent %}

<div class="container-fluid row">
<div class="row">
    <div class="col-xs-4 col-xs-offset-1">
    <a href="javascript:window.print()" id="print-button" alt="print this page"><span class="fa fa-print fa-3x"></span></a>
</div>
</div>


                            {% if register_format == 'full' %}

                                {% include 'studioadmin/full_registers_by_date.html' %}

                            {% elif register_format == 'namesonly' %}

                                {% include 'studioadmin/names_only_registers_by_date.html' %}

                            {% endif %}

</div>
{% endblock studioadmincontent %}
