{% extends "studioadmin/base.html" %}
{% load static %}
{% load bookingtags %}

{% block studioadmincontent %}

{{ form.media }}

<div class="extra-top-margin container-fluid row">
    <div class="col-sm-12">
       <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title">Print Tickets List</h2>
            </div>
            <div class="panel-body">

                    <div>Print ticket list for selected event:</div>
                    </br>
                <form class="form-horizontal dirty-check" method="post" action="">
                    {% csrf_token %}

                    <div class="form-group-sm">

                        {% for field in form %}
                            <div class="form-group register-form-group">
                                <label class="control-label register-form-control-label col-sm-3">{% if field.field.required %}*{% endif %}{{ field.label }}</label>
                                <div class="col-sm-5 {% if field.errors %}class=ticket-error{% endif %}">
                                    {% if field.name == 'show_paid'%}
                                    {{ field }}<label for='id_show_paid'></label>
                                    {% elif field.name == 'order_field' %}
                                        {% for radio in field %}
                                            {{ radio.tag }} {{ radio.choice_label }}</br>
                                        {% endfor %}
                                    {% elif field.name == 'show_extra_ticket_info'%}
                                        {{ field }}<label for='id_show_extra_ticket_info'></label>
                                    {% elif field.name == 'show_extra_ticket_info1'%}
                                        {{ field }}<label for='id_show_extra_ticket_info1'></label>
                                    {% elif field.name = "show_fields" %}
                                            {% for choice in field %}
                                                {{ choice.tag }} {{ choice.choice_label }}</br>
                                            {% endfor %}
                                    {% else %}{{ field }}{% endif %}
                                    <p class="studioadmin-help">{{ field.help_text }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                                <button class="btn btn-success" type="submit" name="print">View and Print Ticket List</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
 </div>

{% endblock studioadmincontent %}