{% extends "studioadmin/base_v1.html" %}
{% load static %}

{% block studioadmincontent %}

<div class="container-fluid row">

    <div class="col-12 pt-4">
    <h1>Reactivated Credits</h1>
    </div>

    <div class="col-12">
        <h6><strong>Total reactivated:</strong> {{ total }}</h6>
        <h6><strong>Still left:</strong> {{ still_left }}</h6>
        <div><a class="btn btn-wm" href="{% url 'studioadmin:reactivated_block_status' %}">Refresh</a></div>
    </div>

</div>

{% endblock studioadmincontent %}
