{% extends "studioadmin/base.html" %}
{% load static %}
{% load bookingtags %}

{% block studioadmincontent %}

{{ form.media }}

<div class="extra-top-margin container-fluid row">
    <div class="col-sm-12">
       <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title">Print Registers</h2>
            </div>
            <div class="panel-body">
                {% if form.errors %}
                    <div class="form-error">
                        <p>The operation could not be performed because one or more error(s) occurred.<br />Please resubmit the form after making the following changes:</p>
                        <ul>
                        {% for field in form %}
                        {% if field.errors %}<li>{{ field.name|format_field_name }}: {{ field.errors|striptags }}</li>{% endif %}
                        {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

                    <div>Print register for all classes/events on the following date:</div>
                    </br>
                <form class="form-horizontal" method="post" action="">
                    {% csrf_token %}

                    <div class="form-group-sm">

                        {% for field in form %}
                                <div class="form-group register-form-group">
                                    <label class="control-label register-form-control-label col-sm-3">{% if field.field.required %}*{% endif %}{{ field.label }}
                                    <div class="col-sm-9">
                                        {% if field.name == 'exclude_ext_instructor'%}
                                        {{ field }}<label for='exclude_ext_instructor_id'></label>
                                        {% elif field.label == 'Register format' %}
                                            {% for radio in field %}
                                                {{ radio.tag }} <label for="id_{{ field.name }}_{{ forloop.counter0 }}">{{ radio.choice_label }}</label></br>
                                            {% endfor %}
                                        {% elif field.name == "select_events" %}
                                            {% for choice in field %}
                                                {{ choice.tag }} <label for="id_{{ field.name }}_{{ forloop.counter0 }}">{{ choice.choice_label }}</label></br>
                                            {% endfor %}
                                        {% else %}{{ field }}{% endif %}
                                        <p class="studioadmin-help">{{ field.help_text }}</p>
                                    </div>
                                    </label>
                                </div>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                                <button class="btn btn-success" type="submit" name="print">View and Print registers</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
 </div>

{% endblock studioadmincontent %}