{% extends "studioadmin/base_v1.html" %}
{% load static %}
{% load bookingtags %}

{% block studioadmincontent %}

{{ form.media }}

    <div class="col-sm-12">
       <div class="card card-wm">
            <div class="card-header">
                <h2 class="card-title">Print Registers</h2>
            </div>
            <div class="card-body">
                {% if form.errors %}
                    <div class="form-error">
                        <p>The operation could not be performed because one or more error(s) occurred.<br />Please resubmit the form after making the following changes:</p>
                        <ul>
                        {% for field in form %}
                        {% if field.errors %}<li>{{ field.name|format_field_name }}: {{ field.errors|striptags }}</li>{% endif %}
                        {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

                    <div>Print register for all classes/events on the following date:</div>
                    </br>
                <form class="form" method="post" action="">
                    {% csrf_token %}

                        {% for field in form %}
                                <div class="form-group register-form-group">
                                    <label>{% if field.field.required %}*{% endif %}{{ field.label }}</label>
                                        {% if field.name == 'exclude_ext_instructor'%}
                                        {{ field }}<label for='exclude_ext_instructor_id'></label>
                                        {% elif field.label == 'Register format' %}
                                            {% for radio in field %}
                                                {{ radio.tag }} <label for="id_{{ field.name }}_{{ forloop.counter0 }}">{{ radio.choice_label }}</label></br>
                                            {% endfor %}
                                        {% elif field.name == "select_events" %}
                                            {% for choice in field %}
                                                {{ choice.tag }} <label for="id_{{ field.name }}_{{ forloop.counter0 }}">{{ choice.choice_label }}</label></br>
                                            {% endfor %}
                                        {% else %}{{ field }}{% endif %}
                                        <p class="studioadmin-help">{{ field.help_text }}</p>
                                    </div>
                        {% endfor %}

                    <div class="form-group">
                        <button class="btn btn-wm" type="submit" name="print">View and Print registers</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

{% endblock studioadmincontent %}