{% load bookingtags %}

<div class="container-fluid row">
    <h2>Register for {{ event }}</h2>

    <div class="row">
        <div class="col-sm-12">
            <a href="{% url 'studioadmin:event_register_old' event.slug status_choice%}" class="pull-right">Old format register</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-success">
                <div class="panel-body">
                    <form class="dirty-check pull-right" action="" method="get">
                                {{ status_filter.status_choice }}
                                <input class="btn btn-info table-btn register-table-btn" type="submit" value="Filter" />
                    </form>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <tr class="compress success">
                            <th class="table-center"></th>
                            <th >Attended</th>
                            <th class="table-center" >Status</th>
                            <th class="table-center">User</th>
                            <th class="table-center">Disclaimer</th>
                            <th class="table-center">Paid</th>
                            {% if available_block_type %}
                            <th class="table-center">Block</th>
                            <th></th>
                            {% endif %}
                        </tr>

                        <!-- Modal -->
                        <div class="modal fade" id="RegisterBookingAddModal" tabindex="-1" role="dialog" aria-labelledby="RegisterBookingAddModalLabel"></div>
                        <!-- /.modal -->

                        {% for booking in bookings %}
                            <tr id='booking-row-{{ booking.id }}' class="compress{% if booking.no_show or booking.status == 'CANCELLED' %} expired{% endif %}">
                                {% if status_choice == 'CANCELLED' %}
                                    <td></td>
                                    <td></td>
                                {% else %}
                                    <td class="table-center register-index studioadmin-tbl">{{ forloop.counter }}.</td>
                                    <td class="table-center studioadmin-tbl">
                                        <div class="btn-group btn-group-sm" role="group">
                                          <button
                                                  id="booking-attended-{{ booking.id }}"
                                                  data-booking_id="{{ booking.id }}"
                                                  data-attendance="attended"
                                                  type="button"
                                                  class="btn btn-attended {% if booking.attended %}btn-success{% else %}btn-default{% endif %}"
                                                  >Yes</button>
                                          <button
                                                  id="booking-noshow-{{ booking.id }}"
                                                  data-booking_id="{{ booking.id }}"
                                                  data-attendance="no-show"
                                                  type="button"
                                                  class="btn btn-noshow {% if booking.no_show %}btn-danger{% else %}btn-default{% endif %}"
                                                  >No</button>
                                        </div>
                                    </td>
                                {% endif %}
                                <td id="booking-status-{{ booking.id }}" class="table-center studioadmin-tbl">{{ booking.status }}</td>
                                <td class="table-center studioadmin-tbl"> {{ booking.user.first_name|abbr_name }} {{ booking.user.last_name|abbr_name }}</td>
                                <td class="table-center studioadmin-tbl">
                                    {% if booking.user|has_online_disclaimer %}
                                        <a href="{% url 'studioadmin:user_disclaimer' booking.user.id|encode %}" target="_blank">
                                            <span id="disclaimer" class="far fa-file-alt"></span>{% if booking.user|disclaimer_medical_info %} *{% endif %}</a>
                                    {% elif booking.user|expired_disclaimer %}
                                        <span class="studioadmin-help">(expired)</span>
                                    {% elif booking.user|has_disclaimer %}
                                        <span id="disclaimer" class="fas fa-check"></span>
                                    {% else %}
                                        <span id="disclaimer" class="fas fa-times"></span>
                                    {% endif %}
                                </td>

                                <td id="booking-paid-{{ booking.id }}" class="table-center studioadmin-tbl {% if not booking.paid %}register-unpaid{% endif %}">
                                    {% if booking.paypal_paid %}
                                        <span class="fas fa-check"></span>
                                    {% else %}
                                        <input id="booking-paid-checkbox-{{ booking.id }}" data-booking_id="{{ booking.id }}" type="checkbox" class="regular-checkbox booking-paid-checkbox" {% if booking.paid %}checked{% endif %}/><label for="booking-paid-checkbox-{{ booking.id }}"></label>
                                    {% endif %}
                                </td>
                                {% if available_block_type %}
                                <td id="booking-block-{{ booking.id }}" class="table-center no-block-comment studioadmin-tbl booking-block">
                                    {% include 'studioadmin/includes/register_block.html' %}
                                </td>
                                <td id="booking-block-btn-{{ booking.id }}" data-booking_id="{{ booking.id }}" class="table-center studioadmin-tbl booking-block-btn">
                                     <span id="booking-block-btn-content-{{ booking.id }}" {% if booking.block or not booking.has_available_block %}hidden{% endif %}>
                                        <span class="btn btn-success register-table-btn">Assign available block</span>
                                     </span>
                                    </td>
                                </td>
                                {% endif %}

                            </tr>
                        {% endfor %}
                        {% if can_add_more %}
                            <tr>
                                <td class="studioadmin-tbl" {% if available_block_type %}colspan="8"{% else %}colspan="6"{% endif %}>
                                    <a class="bookingadd btn btn-success register-table-btn" href="#" data-form="{% url 'studioadmin:bookingregisteradd' event.id %}" title="add booking">Add booking</a>
                                </td>
                            </tr>
                        {% endif %}
                        {% if event.max_participants %}
                            <tr>
                                <td class="studioadmin-tbl" {% if available_block_type %}colspan="8"{% else %}colspan="6"{% endif %}>
                                    Spaces left: {{ event.spaces_left }} / {{ event.max_participants }}
                                </td>
                            </tr>
                        {% endif %}

                    </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
