{% load bookingtags %}

<div class="container-fluid row">

    {% if print %}
    <a href="javascript:window.print()" id="print-button" alt="print this page"><span class="fa fa-print fa-3x"></span></a>
    {% endif %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-success">

                <form action="" method="post">
                {% csrf_token %}

                {{ formset.management_form }}

                {% if not print %}
                <div class="panel-heading">
                    <input class="btn btn-success table-btn register-table-btn" name="formset_submitted" type="submit" value="Save" />
                    <div class="pull-right">
                        {{ status_filter.status_choice }}
                        <input class="btn btn-info table-btn register-table-btn" name="status_choice" type="submit" value="Filter" />
                    </div>
                </div>
                {% endif %}

                <div class="table-responsive">
                    <table class="table">
                        <caption><h2>Register for {{ event }}</h2></caption>
                        <tr {% if not print %}class="success"{% endif %}>
                            <th class="table-center"></th>
                            <th class="table-center">Attended</th>
                            <th class="table-center" >Status</th>
                            <th class="table-center">User</th>
                            <th class="table-center">Deposit Paid</th>
                            <th class="table-center">Fully Paid</th>
                            {% if available_block_type %}
                            <th class="table-center">Block</th>
                            {% endif %}
                        </tr>

                        {% for bookingform in formset %}
                            <tr>
                                <span class="hide">{{ bookingform.id }}</span>
                                {% if status_choice == 'CANCELLED' %}
                                <td></td>
                                {% else %}
                                <td class="table-center register-index studioadmin-tbl">{{ bookingform.index }}.</td>
                                {% endif %}
                                <td class="table-center studioadmin-tbl">{{ bookingform.attended }}<label for={{ bookingform.checkbox_attended_id }}></label></td>
                                <td class="table-center studioadmin-tbl">{% if bookingform.instance.id %}{{ bookingform.instance.status }}{% else %}NEW{% endif %}</td>
                                <td class="table-center studioadmin-tbl">
                                {% if bookingform.instance.id %}
                                    <span class="hide">{{ bookingform.user }}</span>
                                    {{ bookingform.instance.user.first_name }}
                                    {{ bookingform.instance.user.last_name }}{% if not print %} ({{ bookingform.instance.user.username }}){% endif %}
                                {% elif not print %}
                                    {{ bookingform.user }}
                                {% endif %}
                                </td>

                                {% if bookingform.instance.id %}
                                    <td class="table-center studioadmin-tbl">
                                        {% if bookingform.instance.deposit_paid %}
                                            {% if bookingform.paid_by_paypal %}
                                                <span class="fa fa-check"></span>
                                                <span class="hide">{{ bookingform.deposit_paid }}</span>
                                            {% else %}
                                                {{ bookingform.deposit_paid }}<label for={{ bookingform.checkbox_deposit_paid_id }}></label>
                                            {% endif %}
                                        {% else %}
                                            {% if not print %}
                                                {{ bookingform.deposit_paid }}<label for={{ bookingform.checkbox_deposit_paid_id }}></label>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td class="table-center studioadmin-tbl {% if bookingform.instance.id and not bookingform.instance.paid and not print %}register-unpaid{% endif %}">
                                        {% if bookingform.instance.paid %}
                                            {% if bookingform.paid_by_paypal or bookingform.instance.block %}
                                                <span class="fa fa-check"></span>
                                                <span class="hide">{{ bookingform.paid }}</span>
                                            {% else %}
                                                {{ bookingform.paid }}<label for={{ bookingform.checkbox_paid_id }}></label>
                                            {% endif %}
                                        {% else %}
                                            {% if not print %}
                                                {{ bookingform.paid }}<label for={{ bookingform.checkbox_paid_id }}></label>
                                            {% else %}
                                            <span class="fa fa-times"></span>
                                            {% endif %}
                                        {% endif %}</td>
                                        {% if available_block_type %}
                                            {% if bookingform.instance.paid and bookingform.instance.block %}
                                                <span class="hide">{{ bookingform.block }}</span>
                                                <td class="table-center studioadmin-tbl">{{ bookingform.instance.block | format_block }}</td>
                                            {% elif bookingform.instance.paid and bookingform.available_block %}
                                                {% if not print %}{{ bookingform.block }}{% else %}<span class="fa fa-times"></span>{% endif %}
                                            {% elif bookingform.available_block %}
                                                <td class="table-center studioadmin-tbl">
                                                    {% if not print %}{{ bookingform.block }}{% else %}<span class="fa fa-times"></span>{% endif %}</td>
                                            {% else %}
                                                <span class="hide">{{ bookingform.block }}</span>
                                                <td class="table-center no-block-comment studioadmin-tbl">User has no active block</td>
                                            {% endif %}</td>
                                        {% endif %}
                                    {% elif not print %}
                                        <td class="no-block-comment table-center" colspan="3">Click <strong>Save</strong> button to see block/payment options for selected user</td>
                                    {% else %}
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    {% endif %}
                            </tr>
                        {% endfor %}

                        {% if print %}
                        <tr><td class="notes-row " {% if available_block_type %}colspan="10"{% else %}colspan="6"{% endif %}>Notes: </td></tr>
                        {% endif %}
                        {% if not print %}
                            <tr no-print>
                                <td {% if available_block_type %}colspan="10"{% else %}colspan="6"{% endif %}>
                                    <a target="_blank" href="{% url 'studioadmin:event_register_print' event.slug status_choice %}" %} class="btn btn-info table-btn" name="print" type="submit">Printable Version</a>
                                    <input class="btn btn-success table-btn" name="formset_submitted" type="submit" value="Save changes" />
                                </td>
                            </tr>
                        {% endif %}
                    </table>
                </div>

                </form>
            </div>
        </div>
    </div>
</div>
