{% extends "base.html" %}
{% load static %}
{% load bookingtags %}

{% block content %}

<div class="container-fluid row">
    <h2>Register for {{ event }}</h2>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-success">

                <form action="" method="post">
                {% csrf_token %}

                {{ formset.management_form }}
                <div class="table-responsive">
                    <table class="table">
                        <tr class="success">
                            <th class="table-center">Attended</th>
                            <th class="table-center" >Status</th>
                            <th class="table-center">User</th>
                            <th class="table-center">Paid</th>
                            <th class="table-center">Booked with block</th>
                            <th class="table-center">Block expires</th>
                            <th class="table-center">Block size</th>
                            <th class="table-center">Bookings used</th>
                        </tr>

                        <tr class="filter-row">
                            <td class="filter-row" colspan=8>
                            {{ status_filter.status_choice }}
                            <input class="btn btn-info table-btn" name="status_choice" type="submit" value="filter" />
                            </td>
                        </tr>
                        {% for bookingform in formset %}
                            <tr>
                                <span class="hide">{{ bookingform.id }}{{ bookingform.user }}</span>
                                <td class="table-center">{{ bookingform.attended }}<label for={{ bookingform.checkbox_attended_id }}></label></td>
                                <td class="table-center">{{ bookingform.instance.status }}</td>
                                <td class="table-center">{{ bookingform.instance.user.first_name }}
                                    {{ bookingform.instance.user.last_name }} ({{ bookingform.instance.user.username }})</td>
                                <td class="table-center">{% if bookingform.instance.paid %}<span class="fa fa-check"></span>
                                    {% else %}<span class="fa fa-times"></span>{% endif %}</td>
                                <td class="table-center">{% if bookingform.instance.block %}<span class="fa fa-check"></span>
                                    {% else %}<span class="fa fa-times"></span>{% endif %}</td>
                                <td class="table-center">{{ bookingform.available_block.expiry_date|date:"D d M Y" }}</td>
                                <td class="table-center">{{ bookingform.available_block.block_type.size }}</td>
                                <td class="table-center">{{ bookingform.available_block.bookings_made }}</td>
                            </tr>
                        {% endfor %}
                        {% for i in extra_lines|get_range %}
                        <tr>
                            <td class="table-center"><input class='regular-checkbox' id="extra_checkbox_{{ i }}" type="checkbox"><label for='extra_checkbox_{{ i }}'></label></td>
                            <td colspan="7"></td></tr>
                        {% endfor %}
                        <tr>
                            <td colspan="8"><input class="btn btn-success" name="formset_submitted" type="submit" value="Save" /></td>
                        </tr>
                    </table>
                </div>

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
