{% extends "studioadmin/base.html" %}
{% load static %}
{% load bookingtags %}

{% block studioadmincontent %}

{{ form.media }}

    <div class="col-sm-12">
       <div class="card card-wm">
            <div class="card-header">
                {% if session %}
                <h2 class="card-title">{{ session.name }} - {{ session_day }} {{ session.time }}</h2>
                {% else %}
                <h2 class="card-title">Adding new timetable session</h2>
                {% endif %}
            </div>
            <div class="card-body">
                {% if form.errors %}
                    <div class="form-error">
                        <p>Please correct the errors below:</p>
                    </div>
                    {% endif %}
                <form class="form dirty-check" method="post" action="">
                    {% csrf_token %}

                    <div class="form-group">
                        {% for field in form %}
                            {% if field.label == "Cost" %}
                                    <div class="form-group">
                                        <label>{% if field.field.required %}*{% endif %}{{ field.label }}</label>
                                         <div class="input-group {% if field.errors %}ticket-error{% endif %}">
                                                <span class="input-group-addon" id="sizing-addon2">£</span>
                                                {{ field }}
                                            </div>
                                            {% if field.errors %}<div class="form-error">{{ field.errors }}</div>{% endif %}
                                        </div>
                                    </div>
                            {% elif field.name  == "categories" %}
                                <div class="form-group cbox">
                                    <label>{% if field.field.required %}*{% endif %}{{ field.label }}</label>   
                                    <div class="form-check {% if field.errors %}ticket-error{% endif %}">
                                        {{ field }}
                                    </div>
                                    <div class="studioadmincbox-help">{{ field.help_text }}</div>
                                    {% if field.errors %}<div class="form-error">{{ field.errors }}</div>{% endif %}
                                </div>
                             {% elif field.field.widget.input_type  == "checkbox" %}
                                    <div class="form-group cbox">
                                        <div class="form-check form-check-inline {% if field.errors %}ticket-error{% endif %}">
                                        {{ field }}
                                         <label>{% if field.field.required %}*{% endif %}{{ field.label }}</label>
                                        </div>
                                        <div class="studioadmincbox-help">{{ field.help_text }}</div>
                                        {% if field.errors %}<div class="form-error">{{ field.errors }}</div>{% endif %}
                                    </div>
                             {% else %}
                                <div class="form-group {% if field.name == 'new_category' %}ml-4{% endif %}">
                                        <label>{% if field.field.required %}*{% endif %}{{ field.label }}</label>
                                        <div {% if field.errors %}class="ticket-error"{% endif %}>
                                            {{ field }}</div>
                                                <div class="studioadmin-help">{{ field.help_text }}</div>
                                                {% if field.errors %}<div class="form-error">{{ field.errors }}</div>{% endif %}
                                    </div>
                            {% endif %}
                        {% endfor %}

                    <div class="form-group">
                            <button type="submit" class="btn btn-wm">Save</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

{% endblock studioadmincontent %}
