{% extends "studioadmin/base.html" %}
{% load static %}
{% load bookingtags %}

{% block studioadmincontent %}

{{ form.media }}

<div class="extra-top-margin container-fluid row">
    <div class="col-sm-12">
       <div class="card card-wm>
            <div class="card-header">
                {% if session %}
                <h2 class="card-title">{{ session.name }} - {{ session_day }} {{ session.time }}</h2>
                {% else %}
                <h2 class="card-title">Adding new timetable session</h2>
                {% endif %}
            </div>
            <div class="card-body">
                {% if form.errors %}
                    <div class="form-error">
                        <p>Please correct the errors below:</p>
                    </div>
                    {% endif %}
                <form class="form-horizontal dirty-check" method="post" action="">
                    {% csrf_token %}

                    <div class="form-group-sm col-sm-11">

                        {% for field in form %}
                            {% if field.name == "cost" %}
                                <div class="form-group">
                                    <label><div class="control-label col-sm-3" for="{{ field.name }}_id">{% if field.field.required %}*{% endif %}{{ field.label }}</div>
                                    <div class="col-sm-9">
                                        <div class="input-group {% if field.errors %}ticket-error{% endif %}">
                                            <span class="input-group-addon" id="sizing-addon2">£</span>
                                            {{ field }}
                                        </div>
                                        {% if field.errors %}<div class="form-error col-sm-9">{{ field.errors }}</div>{% endif %}
                                    </div></label>
                                </div>

                            {% elif field.name == "booking_open"%}
                            <div class="form-group cbox">
                                <label class="col-sm-12"><div class="control-label col-sm-3">{% if field.field.required %}*{% endif %}{{ field.label }}</div>
                                <div class="col-sm-9">
                                    <div class="col-sm-1 float-left {% if field.errors %}ticket-error{% endif %}">{{ field }}<label for='booking_open_id'></label></div><div class="col-sm-8 studioadmincbox-help">  {{ field.help_text }}</div>
                                    {% if field.errors %}<div class="form-error col-sm-9">{{ field.errors }}</div>{% endif %}
                                </div></label>
                            </div>
                            {% elif field.name == "payment_open"%}
                            <div class="form-group cbox">
                                <label class="col-sm-12"><div class="control-label col-sm-3">{% if field.field.required %}*{% endif %}{{ field.label }}</div>
                                <div class="col-sm-9">
                                    <div class="col-sm-1 float-left {% if field.errors %}ticket-error{% endif %}">{{ field }}<label for='payment_open_id'></label></div><div class="col-sm-8 studioadmincbox-help">  {{ field.help_text }}</div>
                                    {% if field.errors %}<div class="form-error col-sm-9">{{ field.errors }}</div>{% endif %}
                                </div></label>
                            </div>
                            {% elif field.name == "advance_payment_required" %}
                            <div class="form-group cbox">
                                <label class="col-sm-12"><div class="control-label col-sm-3">{% if field.field.required %}*{% endif %}{{ field.label }}</div>
                                <div class="col-sm-9">
                                    <div class="col-sm-1 float-left {% if field.errors %}ticket-error{% endif %}">{{ field }}<label for='advance_payment_required_id'></label></div><div class="col-sm-8 studioadmincbox-help">  {{ field.help_text }}</div>
                                    {% if field.errors %}<div class="form-error col-sm-9">{{ field.errors }}</div>{% endif %}
                                </div></label>
                            </div>
                            {% elif field.name == "external_instructor"%}
                            <div class="form-group cbox">
                                <label class="col-sm-12"><div class="control-label col-sm-3">{% if field.field.required %}*{% endif %}{{ field.label }}</div>
                                <div class="col-sm-9">
                                    <div class="col-sm-1 float-left {% if field.errors %}ticket-error{% endif %}">{{ field }}<label for='ext_instructor_id'></label></div><div class="col-sm-8 studioadmincbox-help">  {{ field.help_text }}</div>
                                    {% if field.errors %}<div class="form-error col-sm-9">{{ field.errors }}</div>{% endif %}
                                </div></label>
                            </div>
                            {% elif field.name == "email_studio_when_booked"%}
                            <div class="form-group cbox">
                                <label class="col-sm-12"><div class="control-label col-sm-3">{% if field.field.required %}*{% endif %}{{ field.label }}</div>
                                <div class="col-sm-9">
                                    <div class="col-sm-1 float-left {% if field.errors %}ticket-error{% endif %}">{{ field }}<label for='email_studio_when_booked_id'></label></div><div class="col-sm-8 studioadmincbox-help">  {{ field.help_text }}</div>
                                    {% if field.errors %}<div class="form-error col-sm-9">{{ field.errors }}</div>{% endif %}
                                </div></label>
                            </div>
                            {% elif field.name == "allow_booking_cancellation" %}
                            <div class="form-group cbox">
                                <label class="col-sm-12"><div class="control-label col-sm-3">{% if field.field.required %}*{% endif %}{{ field.label }}</div>
                                <div class="col-sm-9">
                                    <div class="col-sm-1 float-left {% if field.errors %}ticket-error{% endif %}">{{ field }}<label for='allow_booking_cancellation_id'></label></div>
                                    <div class="studioadmincbox-help">  {{ field.help_text }}</div>
                                    {% if field.errors %}<div class="form-error col-sm-9">{{ field.errors }}</div>{% endif %}
                                </div></label>
                            </div>
                             {% else %}
                                <div class="form-group">
                                    <label class="col-sm-12"><div class="control-label col-sm-3">{% if field.field.required %}*{% endif %}{{ field.label }}</div>
                                    <div class="col-sm-9 {% if field.errors %}ticket-error{% endif %}">
                                        <div>{{ field }}</div>
                                        <div class="studioadmin-help">{{ field.help_text }}</div>
                                        {% if field.errors %}<div class="form-error col-sm-9">{{ field.errors }}</div>{% endif %}
                                    </div></label>
                                </div>
                            {% endif %}
                        {% endfor %}

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-wm">Save</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
 </div>

{% endblock studioadmincontent %}
