{% extends "studioadmin/base.html" %}
{% load static %}
{% load bookingtags %}

{% block studioadmincontent %}

        <h2>Event Types</h2>

        {% if event_types %}

            <div class="row">
                    <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr class="success">
                                        <th class="text-center">Name (subtype)</th>
                                        <th class="text-center">Event Type</th>
                                        <th class="text-center">Allowed Group</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for event_type in event_types %}
                                    <tr>
                                        <td class="text-center studioadmin-tbl">{{ event_type.subtype }}</td>
                                        <td class="text-center studioadmin-tbl">{{ event_type.readable_name }}</td>
                                        <td class="text-center studioadmin-tbl">{% if event_type.allowed_group %}{{ event_type.allowed_group }}{% endif %}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                        </div>
                </div>

        {% else %}
            <p>No event types currently configured</p>
        {% endif %}

{% endblock studioadmincontent %}
