{%  extends "studioadmin/base_v1.html" %}

{% load accounttags static %}


{% block studioadmincontent %}
    <h1 class="pt-2">Membership Transactions</h1>
    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <th>Invoice Date</th>
            <th>Invoice</th>
            <th>Status</th>
            <th>User</th>
            <th>Amount</th>
            <th>Voucher</th>
            <th>Membership</th>
        </thead>
        <tbody>
            {% for invoice in invoices %}
                <tr {% if invoice.status == "paid" %}class="text-success"{% endif %}>
                    <td>{{ invoice.invoice_date|date:"d-M-y H:i" }}</td>
                    <td>{{ invoice.invoice_id }}</td>
                    <td class="text-center">{{ invoice.status }}</td>
                    <td class="text-center">{{ invoice.subscription.user.username }}</td>
                    <td class="text-center">£{{ invoice.total }}</td>
                    <td class="text-center">{{ invoice.voucher_code }}</td>
                    <td>{{ invoice.subscription.membership }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    {% include 'booking/includes/pagination.html' %}
</div>
{% endblock studioadmincontent %}
{% block extra_js %}
{% endblock %}
