{% extends "studioadmin/base.html" %}
{% load static %}
{% load bookingtags %}

{% block studioadmincontent %}

    <div class="container-fluid row">

        <h2>Ticket Bookings for {{ ticketed_event }}</h2>
        <div class="row">
            <div class="col-xs-12">
                <form method="post" action="">
                    {% csrf_token %}
                    {{ ticket_booking_formset.management_form }}

                {% if ticket_bookings %}
                <div class="panel panel-success">
                    <div class="table-responsive">
                        <table class="table">
                            <tr class="success">
                                <th>User</th>
                                <th>Date booked</th>
                                <th class="table-center">Paid</th>
                                <th class="table-center">Payment Confirmed</th>
                                <th class="table-center">Paid by PayPal</th>
                                <th class="table-center"># Tickets</th>
                                <th class="table-center">Delete</th>
                            </tr>

                            {% for tbooking in ticket_booking_formset %}
                            <tr>
                                <span class="hide">{{ tbooking.id }}</span>
                                <td class="studioadmin-tbl">{{ tbooking.instance.user.first_name }} {{ tbooking.instance.user.last_name }} ({{ tbooking.instance.user.username }})</td>
                                <td class="studioadmin-tbl">{{ tbooking.instance.date_booked }}</a></td>
                                <td class="table-center studioadmin-tbl">{{ tbooking.paid }}<label for={{ tbooking.paid_id }}></label></td>
                                <td class="table-center studioadmin-tbl">{{ tbooking.payment_confirmed }}<label for={{ tbooking.payment_confirmed_id }}></label></td>
                                <td class="table-center studioadmin-tbl">
                                        {% if booking.paypal %}
                                            <span class="fa fa-check"></span>
                                        {% endif %}
                                    </td>
                                <td class="table-center studioadmin-tbl">{{ tbooking.instance.tickets.count }}</td>
                                <td class="table-center studioadmin-tbl">
                                    {% if tbooking.cannot_delete %}
                                    {% else %}
                                        {{ tbooking.DELETE }}<label for={{ tbooking.DELETE_id }}></label>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        <tr>
                            <td class="studioadmin-tbl" colspan="7"><input class="btn btn-success" name="formset_submitted" type="submit" value="Save changes" /></td>
                        </tr>
                    </table>
                </div>
            </div>
            {% else %}
                <p>There are no open ticket bookings for this event.</p>
            {% endif %}
            </form>

        </div>
    </div>
 </div>


{% endblock studioadmincontent %}
