{% extends "studioadmin/base.html" %}
{% load static %}
{% load bookingtags %}

{% block studioadmincontent %}

    <div class="container-fluid row">

        <h2>Timetable</h2>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-success">
                <form method="post" action="">
                    {% csrf_token %}
                    {{ sessionformset.management_form }}

                    <div class="table-responsive">
                        <table class="table">
                            <tr class="success">
                                <th>Day</th>
                                <th>Time</th>
                                <th>Session</th>
                                <th class="table-center">Cost</th>
                                <th class="table-center">Max spaces</th>
                                <th class="table-center">Booking open</th>
                                <th class="table-center">Payment open</th>
                                <th class="table-center">Advance payment required</th>
                                <th class="table-center">Edit</th>
                                <th class="table-center">Delete</th>
                            </tr>

                            {% for session in sessionformset %}
                            <tr>
                                <span class="hide">{{ session.id }}</span>
                                <td class="studioadmin-tbl">{{ session.formatted_day }}</td>
                                <td class="studioadmin-tbl">{{ session.instance.time|time:"H:i" }}</td>
                                <td class="studioadmin-tbl">{{ session.instance.name }}</td>
                                <td class="table-center studioadmin-tbl">£ {{ session.instance.cost }}</div></td>
                                <td class="table-center studioadmin-tbl">
                                    {% if session.instance.max_participants %}{{ session.instance.max_participants }}{% else %}N/A{% endif %}</td>
                                <td class="table-center studioadmin-tbl">{{ session.booking_open }}<label for={{ session.booking_open_id }}></label></td>
                                <td class="table-center studioadmin-tbl">{{ session.payment_open }}<label for={{ session.payment_open_id }}></label></td>
                                <td class="table-center studioadmin-tbl">{{ session.advance_payment_required }}<label for={{ session.advance_payment_required_id }}></label></td>
                                <td class="table-center studioadmin-tbl">
                                    <a href="{% url 'studioadmin:edit_session' session.instance.id %}"><span class="fa fa-pencil-square-o fa-lg"></a></td>
                                <td class="table-center studioadmin-tbl">{{ session.DELETE }}<label for={{ session.DELETE_id }}></label></td>

                            </tr>
                        {% endfor %}
                        <tr>
                        <td class="studioadmin-tbl" colspan="9"><input class="btn btn-success studioadmin-tbl" name="formset_submitted" type="submit" value="Update" /></td>
                        </tr>
                    </table>
                </div>

            </form>




                </div>
            </div>
         </div>

    </div>

{% endblock studioadmincontent %}
