{% extends "studioadmin/base.html" %}
{% load static %}
{% load bookingtags %}

{% block studioadmincontent %}

        <h2>Timetable</h2>
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-wm">
                <form class="dirty-check" method="post" action="">
                    {% csrf_token %}
                    {{ sessionformset.management_form }}

                    <div class="table-responsive">
                        <table class="table">
                            <tr class="success">
                                <th>Day</th>
                                <th>Time</th>
                                <th>Session<br/><span class="studioadmin-help">Click to edit</span></th>
                                <th>Filters</th>
                                {% if location_count > 1 %}<th class="text-center">Location</th>{% endif %}
                                <th class="text-center">Cost</th>
                                <th class="text-center">Max spaces</th>
                                <th class="text-center">Booking open</th>
                                <th class="text-center">Payment open</th>
                                <th class="text-center">Advance payment<br/>required</th>
                                <th class="text-center">Delete</th>
                            </tr>

                            {% for session in sessionformset %}
                            <tr>
                                <span class="hide">{{ session.id }}</span>
                                <td class="studioadmin-tbl">{{ session.formatted_day }}</td>
                                <td class="studioadmin-tbl">{{ session.instance.time|time:"H:i" }}</td>
                                <td class="studioadmin-tbl"><a href="{% url 'studioadmin:edit_session' session.instance.id %}">{{ session.instance.name }}</a></td>
                                <td class="studioadmin-tbl">{{ session.instance|format_categories }}</td>
                                {% if location_count > 1 %}
                                    <td class="text-center studioadmin-tbl"><span class="badge badge-pill badge-location badge-location-{{ session.instance.location_index }}">{{ session.instance.location }}</span></td>
                                {% endif %}
                                <td class="text-center studioadmin-tbl">£ {{ session.instance.cost }}</td>
                                <td class="text-center studioadmin-tbl">
                                    {% if session.instance.max_participants %}{{ session.instance.max_participants }}{% else %}N/A{% endif %}</td>
                                <td class="text-center studioadmin-tbl">{{ session.booking_open }}<label for={{ session.booking_open_id }}></label></td>
                                <td class="text-center studioadmin-tbl">{{ session.payment_open }}<label for={{ session.payment_open_id }}></label></td>
                                <td class="text-center studioadmin-tbl">{{ session.advance_payment_required }}<label for={{ session.advance_payment_required_id }}></label></td>
                                <td class="text-center studioadmin-tbl">{{ session.DELETE }}<label for={{ session.DELETE_id }}></label></td>

                            </tr>
                        {% endfor %}
                        <tr>
                        <td class="studioadmin-tbl" {% if location_count > 1 %}colspan="11"{% else %}colspan="10"{% endif %}><input class="btn btn-wm studioadmin-tbl" name="formset_submitted" type="submit" value="Update" /></td>
                        </tr>
                    </table>
                </div>

            </form>




                </div>
            </div>
         </div>

{% endblock studioadmincontent %}
