{% extends "studioadmin/base.html" %}
{% load static %}
{% load bookingtags %}

{% block studioadmincontent %}

{{ form.media }}

    <div class="container-fluid row">

        <h2>Blocks for {{ user.first_name }} {{ user.last_name }} ({{ user.username }})</h2>
        <div class="row">
            <div class="col-sm-12">
                <form class="dirty-check" method="post" action="">
                    {% csrf_token %}
                    {{ userblockformset.management_form }}
                    <input type="hidden" name="page" value="{{ request.GET.page }}">

                    <div class="top-button-row">
                        <input class="btn btn-success table-btn " name="formset_submitted" type="submit" value="Save changes" />
                    </div>
                    <div><a href="{% url 'studioadmin:user_upcoming_bookings_list' user.id %}">Go to user's bookings</a></div>

                <div class="panel panel-success">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr class="success">
                                <th>Block status</th>
                                <th>Block type</th>
                                <th>Transferred from</th>
                                <th class="text-center">Paid</th>
                                <th class="text-center">Block Size</th>
                                <th class="text-center">Used</th>
                                <th class="text-center">Start Date</th>
                                <th class="text-center">Expiry Date</th>
                                <th class="text-center">Delete</br>
                                <span class="studioadmin-help">Only for unpaid or<br/>unsed free/transfer blocks</span></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for block in userblockformset %}
                            <tr {% if block.instance.expired or block.instance.full %}class="expired"{% endif %}>
                                <span class="hide">{{ block.id }}{{ block.block_type }}</span>
                                {% if block.instance.id %}
                                    <span class="hide">{{ block.block.event_type }}</span>
                                    <span class="hide">{{ block.size }}</span>
                                    <td class="studioadmin-tbl">
                                    {% if block.instance.active_block %}
                                        ACTIVE
                                    {% elif block.instance.expired or block.instance.full %}
                                        EXPIRED
                                    {% else %}
                                        UNPAID
                                    {% endif %}</td>
                                    <td class="studioadmin-tbl">{{ block.instance.block_type.event_type.subtype }}
                                        {{ block.instance.block_type.identifier|format_block_type_identifier }}</td>
                                    <td class="studioadmin-tbl">{{ block.instance|transferred_from }}</td>
                                    {% if block.instance.paid %}
                                        <span class="hide">{{ block.paid }}</span>
                                        <td class="text-center studioadmin-tbl"><span class="fa fa-check"></span></td>
                                    {% else %}
                                        <td class="text-center studioadmin-tbl">{{ block.paid }}<label for={{ block.paid_id }}></label></td>
                                    {% endif %}
                                    <td class="text-center studioadmin-tbl">{{ block.instance.block_type.size }}</td>
                                    <td class="text-center studioadmin-tbl">{{ block.instance.bookings_made }}</td>
                                    <td class="text-center studioadmin-tbl">{{ block.start_date }}</td>
                                    <td class="text-center studioadmin-tbl">{{ block.instance.expiry_date | date:"d M Y"}}</td>
                                    <td class="text-center studioadmin-tbl">{{ block.DELETE }}<label for={{ block.DELETE_id }}></label></td>

                                {% else %}
                                    <td><strong>Add new block</strong></td>
                                    <td class="studioadmin-tbl">
                                        <div class="form-group form-group-sm">{{ block.block_type }}</div></td>
                                    <td></td>
                                    <td class="text-center studioadmin-tbl">{{ block.paid }}<label for={{ block.paid_id }}></label></td>
                                    <td></td>
                                    <td></td>
                                    <td class="text-center studioadmin-tbl"><div class="form-group form-group-sm">{{ block.start_date }}</div>
                                        <span class="studioadmin-help">Leave blank for today</span></td>
                                    <td></td>
                                    <td></td>
                                {% if not block.can_buy_block %}
                                    <tr>
                                        <td colspan="8">
                                            <strong>User already has an active (or unpaid) block of each available type;
                                                no additional blocks can be purchased at this time (free class blocks can be added if required)</strong>
                                        </td>
                                    </tr>
                                {% endif %}
                                {% endif %}
                            </tr>
                            {% endfor %}
                            <tr>
                                <td class="studioadmin-tbl" colspan="9">
                                    <div class="pagination">
                                        {% if page.has_previous %}
                                            <a href="?page={{ page.previous_page_number }}">Previous</a>
                                        {% else %}
                                            <a class="disabled" disabled=disabled href="#">Previous</a>
                                        {% endif %}
                                        <span class="page-current">
                                            --  Page {{ page.number }} of {{ page.paginator.num_pages }} --
                                        </span>
                                        {% if page.has_next %}
                                            <a href="?page={{ page.next_page_number }}">Next</a>
                                        {% else %}
                                            <a class="disabled" href="#">Next</a>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
                </div>
            </div>
         </div>

    </div>

{% endblock studioadmincontent %}
