{% extends "studioadmin/base.html" %}
{% load static %}
{% load bookingtags %}

{% block studioadmincontent %}

    <div class="container-fluid row">

        <h2>Registered Users</h2>

        <div class=row>
            <div class="col-sm-12">
            <form action="" method="get">
                {{ form.search }}
                <input class="btn btn-info table-btn" type="submit" name='search_submitted' value="Search" />
                <input class="btn btn-info table-btn" type="submit" name='reset' value="Reset" />
            </form>
        </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-success">

                    <div class="table-responsive">
                        <table class="table tablesorter" id="sortTable">
                            <thead>
                            <tr class="success">
                                <th class="table-center">Username <span class="fa fa-sort"></span></th>
                                <th class="table-center">First Name <span class="fa fa-sort"></span></th>
                                <th class="table-center">Last Name <span class="fa fa-sort"></span></th>
                                <th class="table-center">Regular student</th>
                                <th class="table-center">Paper Disclaimer</th>
                                <th class="table-center">Online Disclaimer</br><span class="studioadmin-help">Click to view/print disclaimer</span></th>
                                <th class="table-center">Bookings</th>
                                <th class="table-center">Blocks</th>
                                <th class="table-center">Email</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                            <tr>
                                <td class="table-center studioadmin-tbl">{{ user.username }}</td>
                                <td class="table-center studioadmin-tbl">{{ user.first_name }}</td>
                                <td class="table-center studioadmin-tbl">{{ user.last_name }}</td>
                                <td class="table-center studioadmin-tbl">
                                    <form class="wl-table-form" method="get">
                                                <button class="btn table-btn perm-btn {% if user|is_regular_student %}btn-success{% else %}btn-default{% endif %}"
                                                        type="submit" name="change_user" id="regular_student_button" value="{{ user.id }}">{% if user|is_regular_student %}Yes{% else %}No{% endif %}</button>
                                    </form>
                                </td>
                                <td class="table-center studioadmin-tbl">
                                    <form class="wl-table-form" method="get">
                                                <button class="btn table-btn perm-btn {% if user|has_print_disclaimer %}btn-success{% else %}btn-default{% endif %}"
                                                        type="submit" name="change_print_disclaimer" id="print_disclaimer_button" value="{{ user.id }}">{% if user|has_print_disclaimer %}Yes{% else %}No{% endif %}</button>
                                    </form>
                                </td>
                                <td class="table-center studioadmin-tbl">
                                    {% if user|has_online_disclaimer %}
                                        <a href="{% url 'studioadmin:user_disclaimer' user.id|encode %}" target="_blank"><span class="has-disclaimer-pill">Yes</span></a>
                                    {% else %}No{% endif %}</td>
                                <td class="table-center studioadmin-tbl">
                                    <a href="{% url 'studioadmin:user_bookings_list' user.id 'future_open' %}"><span class="fa fa-external-link fa-lg"></span></a></td>
                                <td class="table-center studioadmin-tbl">
                                    <a href="{% url 'studioadmin:user_blocks_list' user.id %}"><span class="fa fa-external-link fa-lg"></span></a></td>
                                <td class="table-center studioadmin-tbl"><a href="mailto:{{ user.email }}" target="_blank">{{ user.email }}</a></td>
                            </tr>
                            {% endfor %}

                            </tbody>
                            <tfoot>
                            <tr class="success">
                                <td {% if request.user.is_staff %}colspan="7"{% else %}colspan="6"{% endif %}>
                                Showing {{ num_results }} of {{ total_users }} users
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
         </div>

    </div>

{% endblock studioadmincontent %}
