{% extends "studioadmin/base.html" %}
{% load static %}
{% load bookingtags %}

{% block studioadmincontent %}

        <h2>Bookings for {{ user.first_name }} {{ user.last_name }} ({{ user.username }}):
            {% if booking_status == 'past' %}
                Past bookings
            {% else %}
                Upcoming bookings
            {% endif %}
            </h2>
        <div class="row">
            <div class="col-sm-12">

                    <div class="top-button-row">
                        <a class="bookingadd btn btn-wm table-btn" href="{% url 'studioadmin:bookingadd' user.id %}" title="add booking">New booking</a>
                        <span class="float-right">
                            {% if booking_status == 'past' %}
                                <a class="btn btn-info table-btn filter-btn" href="{% url 'studioadmin:user_upcoming_bookings_list' user.id %}">Show Upcoming Bookings</a>
                            {% else %}
                                <a class="btn btn-info table-btn filter-btn" href="{% url 'studioadmin:user_past_bookings_list' user.id %}">Show Past Bookings</a>
                            {% endif %}

                        </span>

                    <div><a href="{% url 'studioadmin:user_blocks_list' user.id %}">Go to user's blocks</a></div>
                    <div><a href="{% url 'studioadmin:user_memberships_list' user.id %}">Go to user's memberships</a></div>

            </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr class="success">
                                {% if booking_status == 'future' %}
                                    <th></th>
                                    <th>Date</th>
                                    <th>Class/Event</th>
                                    <th>Type</th>
                                    <th class="text-center">Deposit</br>Paid</th>
                                    <th class="text-center">Fully</br>Paid</th>
                                    <th class="text-center">Payment</br>Method</th>
                                    <th class="text-center">Free</br>class?</th>
                                    <th class="text-center">Block used</th>
                                    <th class="text-center">Booking status</th>
                                {% else %}
                                    <th></th>
                                    <th>Date</th>
                                    <th>Class/Event</th>
                                    <th>Type</th>
                                    <th class="text-center">Paid</th>
                                    <th class="text-center">Payment</br>Method</th>
                                    <th class="text-center">Free class?</th>
                                    <th class="text-center">Block used</th>
                                    <th class="text-center">Booking status</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>

                                {% for booking in bookings %}
                                    <tr {% if booking.status == 'CANCELLED' or booking.no_show %} class='expired'{% endif %}>
                                        <td class="studioadmin-tbl">
                                            <a class="bookingedit"
                                               {% if booking_status == 'future' %}
                                                   href="{% url 'studioadmin:bookingedit' booking.id %}"
                                                {% else %}
                                                    href="{% url 'studioadmin:bookingeditpast' booking.id %}"
                                                {% endif %}
                                               title="edit booking">Edit</a></td>
                                        <td class="studioadmin-tbl">{% if booking_status == 'future' %}{{ booking.event.date|date:"d M H:i" }}{% else %}{{ booking.event.date|date:"d M Y H:i" }}{% endif %}</td>
                                        <td class="studioadmin-tbl">{{ booking.event.name }}</td>
                                        <td class="studioadmin-tbl">{{ booking.event.event_type.readable_name }}</td>
                                        {% if booking_status == 'future' %}
                                            {% if booking.event.cost %}
                                                <td class="text-center studioadmin-tbl">{% if booking.deposit_paid %}<span class="fa fa-check">{% endif %}</span></td>
                                                <td class="text-center studioadmin-tbl">{% if booking.paid %}<span class="fa fa-check"></span>{% endif %}</td>
                                            {% else %}
                                                <td class="text-center studioadmin-tbl">N/A</td>
                                                <td class="text-center studioadmin-tbl">N/A</td>
                                            {% endif %}
                                        {% else %}
                                            <td class="text-center studioadmin-tbl">{% if booking.paid %}<span class="fa fa-check"></span>{% endif %}</td>
                                        {% endif %}
                                        <td class="text-center studioadmin-tbl" id="payment-method-{{ booking.id }}">{{ booking.payment_method }}</td>
                                        <td class="text-center studioadmin-tbl">{% if booking.free_class %}<span class="fa fa-check"></span>{% endif %}</td>
                                        <td class="text-center studioadmin-tbl">{% if booking.block %}{{ booking.block | format_block }}{% endif %}</td>
                                        <td class="text-center studioadmin-tbl">
                                            {% if booking.no_show and booking.status == 'OPEN' %}
                                                {% if booking.instructor_confirmed_no_show %}
                                                    No show
                                                {% else %}
                                                    Late cancellation
                                                {% endif %}
                                            {% else %}
                                                {{ booking.status|title }}
                                            {% endif %}</td>
                                </tr>
                                {% endfor %}
                                {% if booking_status == 'future' %}
                                    <tr>
                                        <td class="studioadmin-tbl" colspan="10">
                                            <a class="bookingadd btn btn-wm table-btn" href="{% url 'studioadmin:bookingadd' user.id %}" title="add booking">New booking</a>
                                        </td>
                                    </tr>
                                {% endif %}
                            

                            </tbody>
                        </table>
                        {% include 'booking/includes/pagination.html' %}
                    </div>
            </div>
         </div>


{% endblock studioadmincontent %}
