{% extends "studioadmin/base.html" %}
{% load static %}
{% load bookingtags %}

{% block studioadmincontent %}

    <div class="container-fluid row">

        <h2>Registered Users</h2>

        <div class=row>
            <div class="col-sm-12">
            <form action="" method="get">
                {{ form.search }}
                <input class="btn btn-info table-btn" type="submit" name='search_submitted' value="Search" />
                <input class="btn btn-info table-btn" type="submit" name='reset' value="Reset" /><br/>
                And/or filter by first name<br/>
                {% for opt in filter_options %}
                    <input
                            class="btn btn-alph-filter {% if not opt.available %}btn-disabled{% elif active_filter == opt.value %}btn-primary{% else %}btn-unselected{% endif %} "
                            {% if not opt.available %}disabled{% endif %}
                            type="submit"
                            name="filter"
                            value="{{ opt.value }}"
                    />
                {% endfor %}
            </form>
        </div>



        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-success">

                    <div class="table-responsive">
                        <table class="table tablesorter" id="sortTable">
                            <thead>
                            <tr class="success">
                                <th class="table-center">Username <span class="fa fa-sort"></span></th>
                                <th class="table-center">First Name <span class="fa fa-sort"></span></th>
                                <th class="table-center">Last Name <span class="fa fa-sort"></span></th>
                                {% if request.user.is_staff %}
                                    <th class="table-center">Regular student</th>
                                    <th class="table-center">Paper Disclaimer</th>
                                {% endif %}
                                <th class="table-center">Online Disclaimer</br><span class="studioadmin-help">Click to view/print disclaimer</span></th>
                                {% if request.user.is_staff %}
                                    <th class="table-center">Bookings</th>
                                    <th class="table-center">Blocks</th>
                                {% endif %}
                                <th class="table-center">Email</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                            <tr>
                                <td class="table-center studioadmin-tbl">{{ user.username|abbr_username }}</td>
                                <td class="table-center studioadmin-tbl">{{ user.first_name|abbr_name }}</td>
                                <td class="table-center studioadmin-tbl">{{ user.last_name|abbr_name }}</td>
                                {% if request.user.is_staff %}
                                    <td class="table-center studioadmin-tbl">
                                        <form class="wl-table-form" method="get">
                                                    <button class="btn table-btn perm-btn {% if user|is_regular_student %}btn-success{% else %}btn-default{% endif %}"
                                                            type="submit" name="change_user" id="regular_student_button" value="{{ user.id }}">{% if user|is_regular_student %}Yes{% else %}No{% endif %}</button>
                                        </form>
                                    </td>
                                    <td class="table-center studioadmin-tbl">
                                        {% if user|has_online_disclaimer %}
                                            N/A
                                        {% else %}
                                            <form class="wl-table-form" method="get">
                                                        <button class="btn table-btn perm-btn {% if user|has_print_disclaimer %}btn-success{% else %}btn-default{% endif %}"
                                                                type="submit" name="change_print_disclaimer" id="print_disclaimer_button" value="{{ user.id }}">{% if user|has_print_disclaimer %}Yes{% else %}No{% endif %}</button>
                                            </form>
                                        {% endif %}
                                    </td>
                                {% endif %}
                                <td class="table-center studioadmin-tbl">
                                    {% if user|has_online_disclaimer %}
                                        <a href="{% url 'studioadmin:user_disclaimer' user.id|encode %}" target="_blank"><span class="has-disclaimer-pill">Yes</span></a>
                                    {% else %}No{% endif %}
                                </td>
                                {% if request.user.is_staff %}
                                    <td class="table-center studioadmin-tbl">
                                        <a href="{% url 'studioadmin:user_bookings_list' user.id 'future_open' %}"><span class="fa fa-external-link fa-lg"></span></a></td>
                                    <td class="table-center studioadmin-tbl">
                                        <a href="{% url 'studioadmin:user_blocks_list' user.id %}"><span class="fa fa-external-link fa-lg"></span></a></td>
                                {% endif %}
                                <td class="table-center studioadmin-tbl"><a href="mailto:{{ user.email }}" target="_blank">{{ user.email|abbr_email }}</a></td>
                            </tr>
                            {% endfor %}

                            {% if is_paginated %}
                                <tr>
                                    <td class="studioadmin-tbl" {% if request.user.is_staff %}colspan="9"{% else %}colspan="5"{% endif %}>

                                            <div class="pagination">
                                                {% if page_obj.has_previous %}
                                                    <a href="?{{ request.GET.urlencode }}&page={{ page_obj.previous_page_number }}">Previous</a>
                                                {% else %}
                                                    <a class="disabled" disabled=disabled href="#">Previous</a>
                                                {% endif %}
                                                <span class="page-current">
                                                    --  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} --
                                                </span>
                                                {% if page_obj.has_next %}
                                                    <a href="?{{ request.GET.urlencode }}&page={{ page_obj.next_page_number }}">Next</a>
                                                {% else %}
                                                    <a class="disabled" href="#">Next</a>
                                                {% endif %}
                                            </div>
                                    </td>
                                </tr>
                            {% endif %}

                            </tbody>
                            <tfoot>
                            <tr class="success">
                                <td {% if request.user.is_staff %}colspan="9"{% else %}colspan="5"{% endif %}>
                                    {% if search_submitted or active_filter %}
                                        Search results: returned {{ num_results }} of {{ total_users }} users
                                    {% else %}
                                        Total {{ total_users }} users
                                    {% endif %}
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
         </div>

    </div>

{% endblock studioadmincontent %}
