{% extends "studioadmin/base.html" %}
{% load static %}
{% load bookingtags %}

{% block studioadmincontent %}

    <div class="container-fluid row">

        <h2>Bookings for {{ user.first_name }} {{ user.last_name }} ({{ user.username }}):
            {% if booking_status == 'past' %}
                Past bookings
            {% else %}
                Upcoming bookings
            {% endif %}
            </h2>
        <div class="row">
            <div class="col-sm-12">
                <form method="post" action="">
                    {% csrf_token %}
                    {{ userbookingformset.management_form }}

                    <div class="top-button-row">
                        <input class="btn btn-success table-btn" name="formset_submitted" type="submit" value="Save changes" />
                        <span class="pull-right">Show:
                            {{ booking_status_filter.booking_status }}
                            <input class="btn btn-info table-btn" name="booking_status" type="submit" value="Filter" /></span>

                    </div>

                <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr class="success">
                                <th>Date</th>
                                <th>Class/Event</th>
                                <th class="table-center">Paid</th>
                                <th class="table-center">PayPal ID</th>
                                <th class="table-center">Free class?</th>
                                <th class="table-center">Block used</th>
                                <th class="table-center">Booking status</th>
                                <th class="table-center">Send confirmation?</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for booking in userbookingformset %}
                            <tr {% if booking.instance.status == 'CANCELLED'%} class='expired'{% endif %}>
                                <span class="hide">{{ booking.id }}</span>
                                {% if booking.instance.id %}
                                    <span class="hide">{{ booking.event }}</span>
                                    <span class="hide">{{ booking.block }}</span>
                                    <td class="studioadmin-tbl">{{ booking.instance.event.date }}</td>
                                    <td class="studioadmin-tbl">{{ booking.instance.event.name }}</td>

                                    {% if booking.instance.event.cost %}
                                        <td class="table-center studioadmin-tbl">{{ booking.paid }}<label for={{ booking.paid_id }}></label></td>
                                    {% else %}
                                        <td class="table-center studioadmin-tbl">N/A</td>
                                        <span class="hide">{{ booking.paid }}</span>
                                    {% endif %}
                                    <td class="table-center studioadmin-tbl">
                                        {% if booking.paypal %}
                                            <span class="fa fa-check"></span>
                                        {% endif %}
                                    </td>
                                    <td class="table-center studioadmin-tbl">{{ booking.free_class }}<label for={{ booking.free_class_id }}></label></td>
                                    <td class="table-center studioadmin-tbl">{% if booking.instance.block and booking.instance.paid %}
                                        <div class="form-group form-group-sm">{{ booking.block }}</div>
                                        {% elif booking.instance.free_class %}
                                        Free class
                                        {% elif booking.instance.paid %}
                                        Paid directly
                                        {% else %}
                                            {% if booking.instance.event.cost and booking.has_available_block %}
                                                <div class="form-group form-group-sm">{{ booking.block }}</div>
                                            {% else %}
                                                N/A
                                            {% endif %}
                                        {% endif %}</td>
                                    <td class="table-center studioadmin-tbl"><div class="form-group form-group-sm">{{ booking.status }}</div></td>
                                {% else %}
                                    <td class="studioadmin-tbl"><strong>New booking</strong></td>
                                    <td class="studioadmin-tbl"><div class="form-group form-group-sm">{{ booking.event }}</div></td>
                                    <td class="table-center studioadmin-tbl">{{ booking.paid }}<label for={{ booking.paid_id }}></label></td>
                                    <td></td>
                                    <td class="table-center studioadmin-tbl">{{ booking.free_class }}<label for={{ booking.free_class_id }}></label></td>
                                    <td class="table-center studioadmin-tbl"><div class="form-group form-group-sm">{{ booking.block }}</div></td>
                                    <td class="table-center studioadmin-tbl">OPEN</td>
                                    <span class="hide">{{ booking.status }}</span>
                                {% endif %}
                                <td class="table-center studioadmin-tbl">{{ booking.send_confirmation }}<label for={{ booking.send_confirmation_id }}></label></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </form>
                </div>
            </div>
         </div>

    </div>

{% endblock studioadmincontent %}
