{% extends "studioadmin/base.html" %}
{% load static %}
{% load bookingtags %}

{% block studioadmincontent %}

    <div class="container-fluid row">

        <h2>Bookings for {{ user.first_name }} {{ user.last_name }} ({{ user.username }}):
            {% if booking_status == 'past' %}
                Past bookings
            {% else %}
                Upcoming bookings
            {% endif %}
            </h2>
        <div class="row">
            <div class="col-sm-12">
                <form class="dirty-check" method="post" action="">
                    {% csrf_token %}
                    {{ userbookingformset.management_form }}

                    <div class="top-button-row">
                        <input class="btn btn-wm table-btn" name="formset_submitted" type="submit" value="Save changes" />
                        <span class="float-right">
                            {% if booking_status == 'past' %}
                                <a class="btn btn-info table-btn filter-btn" href="{% url 'studioadmin:user_bookings_list' user.id %}">Show Upcoming Bookings</a>
                            {% else %}
                                <a class="btn btn-info table-btn filter-btn" href="{% url 'studioadmin:user_past_bookings_list' user.id %}">Show Past Bookings</a>
                            {% endif %}
                        {% if booking_status == 'future' %}
                            <div><a href="{% url 'studioadmin:user_upcoming_bookings_list' user.id %}">View page in new format</a></div>
                         {% endif %}
                        </span>

                    <div><a href="{% url 'studioadmin:user_blocks_list' user.id %}">Go to user's blocks</a></div>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr class="success">
                                {% if booking_status == 'future' %}
                                    <th>Date</th>
                                    <th>Class/Event</th>
                                    <th class="text-center">Deposit Paid</th>
                                    <th class="text-center">Fully Paid</th>
                                    <th class="text-center">PayPal ID</th>
                                    <th class="text-center">Free class?</th>
                                    <th class="text-center">Block used</th>
                                    <th class="text-center">Booking status</th>
                                    <th class="text-center">No Show</th>
                                    <th class="text-center">Send confirmation?</th>
                                {% else %}
                                    <th></th>
                                    <th>Date</th>
                                    <th>Class/Event</th>
                                    <th class="text-center">Paid</th>
                                    <th class="text-center">Free class?</th>
                                    <th class="text-center">Block used</th>
                                    <th class="text-center">Booking status</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>

                            {% if booking_status == 'future' %}
                                {% for booking in userbookingformset %}
                                <tr {% if booking.instance.status == 'CANCELLED' or booking.instance.no_show %} class='expired'{% endif %}>
                                    <span class="hide">{{ booking.id }}</span>
                                    {% if booking.instance.id %}
                                        <span class="hide">{{ booking.event }}</span>

                                        <td class="studioadmin-tbl">{{ booking.instance.event.date }}</td>
                                        <td class="studioadmin-tbl">{{ booking.instance.event.name }} {% if booking.instance.event.cancelled %}(cancelled){% endif %}</td>

                                        {% if booking.instance.event.cost %}
                                            <td class="text-center studioadmin-tbl">{{ booking.deposit_paid }}<label for={{ booking.deposit_paid_id }}></label></td>
                                            <td class="text-center studioadmin-tbl">{{ booking.paid }}<label for={{ booking.paid_id }}></label></td>
                                        {% else %}
                                            <td class="text-center studioadmin-tbl">N/A</td>
                                            <span class="hide">{{ booking.paid }}</span>
                                            <span class="hide">{{ booking.deposit_paid }}</span>
                                        {% endif %}
                                        <td class="text-center studioadmin-tbl">
                                            {% if booking.paypal %}
                                                <span class="fa fa-check"></span>
                                            {% endif %}
                                        </td>
                                        <td class="text-center studioadmin-tbl">{{ booking.free_class }}<label for={{ booking.free_class_id }}></label></td>
                                        <td class="text-center studioadmin-tbl">
                                            {% if booking.instance.block and booking.instance.paid %}
                                                <div class="form-group form-group-sm">{{ booking.block }}</div>
                                            {% elif booking.instance.free_class %}
                                            <span class="hide">{{ booking.block }}</span>
                                            Free class
                                            {% elif booking.instance.paid %}
                                            <span class="hide">{{ booking.block }}</span>
                                            Paid directly
                                            {% else %}
                                                {% if booking.instance.event.cost and booking.has_available_block %}
                                                    <div class="form-group form-group-sm">{{ booking.block }}</div>
                                                {% else %}
                                                    <span class="hide">{{ booking.block }}</span>
                                                    N/A
                                                {% endif %}
                                            {% endif %}</td>
                                        <td class="text-center studioadmin-tbl"><div class="form-group form-group-sm">{{ booking.status }}</div></td>
                                        <td class="text-center studioadmin-tbl">{{ booking.no_show }}<label for={{ booking.no_show_id }}></label></td>
                                    {% else %}
                                        <td class="studioadmin-tbl"><strong>New booking</strong></td>
                                        <td class="studioadmin-tbl"><div class="form-group form-group-sm">{{ booking.event }}</div></td>
                                        <td class="text-center studioadmin-tbl">{{ booking.deposit_paid }}<label for={{ booking.deposit_paid_id }}></label></td>
                                        <td class="text-center studioadmin-tbl">{{ booking.paid }}<label for={{ booking.paid_id }}></label></td>
                                        <td></td>
                                        <td class="text-center studioadmin-tbl">{{ booking.free_class }}<label for={{ booking.free_class_id }}></label></td>
                                        <td class="text-center studioadmin-tbl"><div class="form-group form-group-sm">{{ booking.block }}</div></td>
                                        <td class="text-center studioadmin-tbl">OPEN</td>
                                        <td></td>
                                        <span class="hide">{{ booking.status }}</span>
                                    {% endif %}
                                    <td class="text-center studioadmin-tbl">{{ booking.send_confirmation }}<label for={{ booking.send_confirmation_id }}></label></td>
                                </tr>
                                {% endfor %}

                            {% else %} <!-- PAST -->
                            <!-- Modal -->
                            <div class="modal fade" id="UserBookingModal" tabindex="-1" role="dialog" aria-labelledby="UserBookingModalLabel"></div>
                            <!-- /.modal -->

                                {% for booking in bookings %}
                                    <tr {% if booking.status == 'CANCELLED' or booking.no_show %} class='expired'{% endif %}>
                                        <td><a class="bookingedit" href="#" data-form="{% url 'studioadmin:bookingedit' booking.id %}" title="edit booking">Edit</a></td>
                                        <td>{{ booking.event.date|date:"d/m/y H:i" }}</td>
                                        <td>{{ booking.event.name }}</td>
                                        <td class="text-center studioadmin-tbl">{% if booking.paid %}<span class="fa fa-check"></span>{% endif %}</td>
                                        <td class="text-center studioadmin-tbl">{% if booking.free_class %}<span class="fa fa-check"></span>{% endif %}</td>
                                        <td class="text-center studioadmin-tbl">{% if booking.block %}{{ booking.block | format_block }}{% endif %}</td>
                                        <td class="text-center studioadmin-tbl">{% if booking.no_show and booking.status == 'OPEN' %}No show{% else %}{{ booking.status }}{% endif %}</td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td class="studioadmin-tbl" colspan="7">
                                        <div class="pagination">
                                            {% if page.has_previous %}
                                                <a href="?page={{ page.previous_page_number }}">Previous</a>
                                            {% else %}
                                                <a class="disabled" disabled=disabled href="#">Previous</a>
                                            {% endif %}
                                            <span class="page-current">
                                                --  Page {{ page.number }} of {{ page.paginator.num_pages }} --
                                            </span>
                                            {% if page.has_next %}
                                                <a href="?page={{ page.next_page_number }}">Next</a>
                                            {% else %}
                                                <a class="disabled" href="#">Next</a>
                                            {% endif %}
                                            <p class="studioadmin-help">Showing {{ current_count }} of {{ total_count }} past bookings</p>
                                        </div>
                                    </td>
                                </tr>
                            {% endif %}

                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
         </div>
    </div>



{% endblock studioadmincontent %}


{% block extra_js %}
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>
<script>
    $(".bookingedit").click(function(ev) { // for each edit url
        ev.preventDefault(); // prevent navigation
        var url = $(this).data("form"); // get the form url
        $("#UserBookingModal").load(url, function() { // load the url into the modal
            $(this).modal('show'); // display the modal on url load
        });

        return false; // prevent the click propagation
    });

</script>
{% endblock %}