{% extends "studioadmin/base.html" %}
{% load static %}
{% load bookingtags %}

{% block studioadmincontent %}

    <div class="container-fluid row">

        <h2>Vouchers</h2>



        <div class="row">
            <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table tablesorter" id="sortTable">
                            <thead>
                            <tr class="success">
                                <th class="table-center">Voucher code</th>
                                <th class="table-center">Discount</th>
                                <th class="table-center">Start Date</th>
                                <th class="table-center">Expiry Date</th>
                                <th class="table-center">Max uses</th>
                                <th class="table-center">Times used</th>
                                <th class="table-center">Event Types</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if vouchers %}
                                {% for voucher in vouchers %}
                                <tr>
                                    <td class="table-center studioadmin-tbl"><a href="{% url 'studioadmin:edit_voucher' voucher.pk %}">{{ voucher.code }}</a></td>
                                    <td class="table-center studioadmin-tbl">{{ voucher.discount }}%</td>
                                    <td class="table-center studioadmin-tbl">{{ voucher.start_date|date:"d M Y" }}
                                    <td class="table-center studioadmin-tbl">{% if voucher.expiry_date %}{{ voucher.expiry_date|date:"d M Y" }}{% else %}N/A{% endif %}</td>
                                    <td class="table-center studioadmin-tbl">{% if voucher.max_vouchers %}{{ voucher.max_vouchers }}{% else %}N/A{% endif %}</td>
                                    <td class="table-center studioadmin-tbl">{{ voucher.users.count }}</td>
                                    <td class="table-center studioadmin-tbl">{{ voucher.event_types.all|format_event_types }}</td>
                                </tr>
                                {% endfor %}
                            {% else %}
                              <tr><td colspan="5" class="studioadmin-tbl">No vouchers found</td></tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
         </div>

{% endblock studioadmincontent %}
