{% extends "studioadmin/base_v1.html" %}
{% load static %}
{% load bookingtags %}

{% block studioadmincontent %}

{{ form.media }}
       <div class="card card-wm mt-2">
            <div class="card-header">
                {% if voucher %}
                <h2 class="card-title">Edit Voucher</h2>
                {% else %}
                <h2 class="card-title">Adding new voucher</h2>
                {% endif %}
            </div>

            <div class="card-body">
                <div>
                    {% if form.instance.is_gift_voucher %}
                    <a href="{% url 'studioadmin:gift_vouchers' %}" class="btn btn-warning">Gift Voucher List</a>
                    {% elif is_block_voucher %}
                    <a href="{% url 'studioadmin:block_vouchers' %}" class="btn btn-warning">View Voucher List</a>
                    {% else %}
                    <a href="{% url 'studioadmin:vouchers' %}" class="btn btn-warning">View Voucher List</a>
                    {% endif %}
                </div><br/>
                {% if form.errors %}
                    <div class="form-error">
                        <p>Please correct the errors below:</p>
                    </div>
                    {% endif %}

                <form class="form-horizontal dirty-check" method="post" action="">
                    {% csrf_token %}

                        {% for field in form %}
                            <div class="form-group">
                                <label>{% if field.field.required %}*{% endif %}{{ field.label }}</label>
                                <div {% if field.errors %}class="ticket-error"{% endif %}>
                                    {% if field.name == "event_types" or field.name == "block_types" %}
                                        {% for choice in field %}
                                            {{ choice.tag }} <label for="id_{{ field.name }}_{{ forloop.counter0 }}">{{ choice.choice_label }}</label></br>
                                        {% endfor %}
                                    {% else %}
                                        {{ field }}
                                    {% endif %}
                                    {% if field.errors %}<span class="ticket-error">{{ field.errors}}</span>{% endif %}<p class="studioadmin-help">{{ field.help_text }}</p></div>
                                </label>
                            </div>
                        {% endfor %}

                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn btn-wm">Save</button>
                        </div>
                    </div>
                </form>


        </div>
    </div>
{% endblock studioadmincontent %}
