{% extends "studioadmin/base_v1.html" %}
{% load static %}
{% load bookingtags %}

{% block studioadmincontent %}

    <div>

        <h2>{% if is_block_voucher %}Block {% endif %}Voucher Uses: {{ voucher.code }}</h2>

        <div>
            {% if voucher.is_gift_voucher %}
            <a href="{% url 'studioadmin:gift_vouchers' %}" class="btn btn-warning table-btn">Gift Voucher List</a>
            {% elif is_block_voucher %}
            <a href="{% url 'studioadmin:block_vouchers' %}" class="btn btn-warning table-btn">View Voucher List</a>
            {% else %}
            <a href="{% url 'studioadmin:vouchers' %}" class="btn btn-warning table-btn">View Voucher List</a>
            {% endif %}
        </div><br/>

        <div class="row">
            <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table tablesorter" id="sortTable">
                            <thead>
                            <tr class="success">
                                <th class="text-center">User</th>
                                <th class="text-center">Times used</th>
                                <th class="text-center">{% if is_block_voucher %}Block IDs{% else %}Booking IDs{% endif %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if user_list %}
                                {% for user in user_list %}
                                <tr>
                                    <td class="text-center studioadmin-tbl">{{ user.user.first_name }} {{ user.user.last_name }}</td>
                                    <td class="text-center studioadmin-tbl">{{ user.count }}</td>
                                    <td class="text-center studioadmin-tbl">{{ user.item_ids }}</td>
                                </tr>
                                {% endfor %}
                            {% else %}
                              <tr><td colspan="2" class="studioadmin-tbl">Voucher not used</td></tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
         </div>

{% endblock studioadmincontent %}
