

.watermelon_bg {
	background: url(../images/logo.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.plain_bg {
	background-color: #F2F2F2;
}

.white_bg {
	background-color: #fff;
}

body {
	background-color: transparent;
	padding-left: 15px;
	margin-right: 15px;
}

@media (max-width: 979px) {
	body {
		padding-top: 0px;
	}
}

html,
body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
.wrap {
	padding-top: 50px;
	min-height: 100%;
	height: auto !important;
	/* Negative indent footer by its height plus top padding? */
	margin: 0 auto -100px;
}

/* Set the fixed height of the footer here */
.push,
.footer {
	height: 70px;
}

.panel {
    margin-top: 10px;
    margin-bottom: 50px
}
.footer {
	background-color: transparent;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
	.footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

.box {
	border: 1px dashed red;
}


/* footer boxes alignment */

.footer_box {
    position: relative;
}

.footer_fb {
    position: absolute;
    bottom:0;
    left: 0;
}

.footer_logo {
    position: absolute;
    bottom:0;
    right: 0;
}


/* Half Page Height Carousel Customization */
.carousel {
	height: 60%;
}

.item,
.active,
.carousel-inner {
	height: 100%;
}

.fill {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
}

/* Responsive Styles */
@media (max-width: 767px) {

	.carousel {
		height: 100%;
		/* increases the carousel height so it looks good on phones */
	}
	.caption-img {
	    height: 20px;
	}
    .carousel-cap-text {
    font-size: 100%;
    }
}

/* carousel top caption */
.caption-top {
	top: 0;
	right: 0;
	bottom: auto;
}

.grid_ul {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.grid_ul_li {
	list-style: none;
	padding: 0 0 0 0;
	margin: 10px 0 0 0;
}

ul li img {
	cursor: pointer;
}

.photogrid {
	width: 100px;
	height: 100px;
	padding: 0 0 0 0;
	overflow: hidden;
}

.list-group-index {
    background-color: transparent;
    border:none;
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 0;
    box-shadow: none;
}

.nav-logo {
    max-height: 30px;
    margin-top: -5px;
}

.footer-logo-image {
    height:50px;
}

.instr-img {
    padding-top:30px;
}

.event_line{
border-bottom: 1px solid black;
}

.event_date {
    padding-top:20px;
}



/* unvisited link */
a:link {
color: #FF6666;
}

/* visited link */
a:visited {
color: #FF6666;
}

/* mouse over link */
a:hover {
color: #red;
}

/* selected link */
a:active {
color: #000;
}


/* for sidebar */

#wrapper {
  padding-left: 160px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -190px;
  margin-top: 10px;
  left: 190px;
  width: 190px;
  background: #F2F2F2;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
  border-right: 1px solid #FF6666;
}

#page-content-wrapper {
  width: 100%;
}

#page-content-wrapper > div {
  padding-top, padding-right: 0;
}

.inset {
  padding-top, padding-right: 0px;
  padding-left: 30px;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width:190px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav-sub {
    list-style: none;
    padding-left: 15px;
}

.sidebar-title {
  font-weight: 600;
  background: #D8D8D8;
  border-top: solid 1px #BDBDBD;
  border-bottom: solid 1px #BDBDBD;

}

.sidebar-help {
    padding-left: 18px;
}

.sidebar-nav .collapse li {
  text-indent: 20px;
}

.sidebar-nav li {
  line-height: 25px;
  text-indent: 2px;
}

.sidebar-nav li a {
  color: #000;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #000;
  background: #fff;
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 40px;
  line-height: 40px;
  font-size:150%;
  font-weight: 600;
}

.sidebar-nav > .sidebar-brand a {
  color: #000;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #000;
  background: none;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  display: none;
}

@media (max-width:767px) {

    #wrapper {
      padding-left: 0;
    }

    #sidebar-wrapper {
      left: 0;
    }

    #wrapper.active {
      position: relative;
      left: 200px;
    }

    #wrapper.active #sidebar-wrapper {
      left: 200px;
      width: 200px;
      transition: all 0.4s ease 0s;
    }

    #menu-toggle {
      display: inline-block;
    }

    .inset {
      padding-top, padding-right: 0px;
      padding-left: 30px;
    }

}


.sidebar_active{
    color: #298A08
}
.sidebar_inactive{
    color: #173B0B
}

.modal-body {
    padding: 15px;
    padding-bottom: 0;
    overflow-y: auto;
 }

  .modal-header {
    padding-bottom: 5px;
    padding-top: 5px;
    overflow-y: auto;
 }

 .modal-footer {
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    overflow-y: auto;
 }

.footer-credit {
    font-size: 10px;
    }

.footer-tc {
    font-size: 12px;
}

.small-margin {
    padding-left: 30px;
}

.extra-top-margin {
    padding-top: 20px;
}

.navbar { background-color: #fff; border-color: #FF6666}
.navbar .container-fluid { background-color: #fff}
.navbar .navbar-nav { background-color: #fff}
.navbar .navbar-brand { background-color: #fff}
.navbar .navbar-collapse { background-color: #fff}
.navbar .navbar-nav>.active-nav>a:hover {background-color: #FF6666; color: #fff}
.navbar .navbar-nav>li>a:hover {background-color: #FF6666; color: #fff}

.nav-user {
    padding-top: 15px;
    color: green;
}

a>.btn, a.btn {
    color: #fff !important;
    text-decoration: none;
}
a:visited>.btn, a:link>.btn {
    color: #fff !important;
    text-decoration: none;
}

.confirmed {
    color: green;
}

.not-confirmed {
    color: red;
}

.socialaccount_providers a {
    color: #fff;
}

.hide {
    display: none
}

.active_block td {
    color: green;
}

.expired_block td {
    color: #BDBDBD;
}

.expired td, .expired td a, .expired td .confirmed, .expired td .not-confirmed ,
.expired .input-sm {
    color: #BDBDBD !important;
}



.not_paid_block td {
    color: red;
}

td {
    font-size: 85%;
	padding: 4 !important;
}

.table-btn, .disabled .btn .btn-success .table-btn {
    padding-top: 0;
    padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
    font-size: 90%;
	width: 9.2em;
	color: #fff !important;
    }

.register-table-btn {
    width: 8em;
}

.perm-btn {
    width: 5em;
}

.filter-btn {
    width: auto;
    padding-left: 2px;
    padding-right: 2px;
}

.ticket-btn {
    width: 10em;
}

.update-btn {
	padding-top: 2px;
    padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 2px;
	width: auto;
	color: #fff !important;
    }

.paypal-table-btn {
    padding-top: 0;
    padding-bottom: -10;
    margin-top: 0;
    margin-bottom: 0;
    height: 85%;
	width: 8.3em;
    }

.paypal-btn-form {
    padding-bottom: 0;
    margin-bottom: 0
}
a.disabled {
    color: #D8F6CE;
	pointer-events: none;
    }

.pagination > a.disabled {
	color: #D8D8D8;
	pointer-events: none;
}

.inc-btm-space {
    padding-bottom: 2px;
}

.booking-btn {
    width: 120px;
    }

.message {
    margin-top: 20px;
    margin-bottom: -10px;
    margin-left: 1px;
    margin-right: 1px;
}

.filter-row {
    padding: 0;
    margin: 0;
}

.account-menu {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    margin-top: 2px !important;
    margin-left: 0 !important;
    margin-bottom: 0 !important;
}

.welcome-menu {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 2 !important;
    margin-bottom: 0 !important;
    color: green;
}

.table-center {
    text-align: center;
}

.divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.bold-divider {
    height: 4px;
    background-color: green;
}

.ticket-divider {
    margin-top: 10px;
}

.ticket-info {
    margin-left: 15px;
    margin-right: 15px;
    font-style: italic;
}

.selectpicker {
   font-size: 12px;
}

@media(max-width:767px){
  .table-responsive{overflow-x:scroll;}
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}

.selectpicker{
    padding-top: 2;
    padding-bottom: 2;
    padding-left: 4;
    }

td.table-center.register-table {
    padding: 5;
    }

.user-dropdown>span {
    color: black;
    font-weight: 500;
    }

label {
    display: inline;
	margin-bottom: 0;
}
.regular-checkbox {
    display: none;

}
.regular-checkbox + label {
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 8px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}
.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.regular-checkbox:checked + label {
    background-color: #d6e9c6;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}
.regular-checkbox:checked + label:after {
    content: '\2714';
    font-size: 12px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #173B0B;
}

.regular-checkbox-disabled {
background-color: lightgrey;
}
.regular-checkbox-disabled + label {
background-color: lightgrey;
}
.regular-checkbox-disabled:checked + label {
    background-color: lightgrey;
}
.regular-checkbox-disabled:checked + label:after {
    color: darkgrey;
}

.cancelled-event > td > .regular-checkbox:checked + label {
    background-color: #fafafa;
}
.cancelled-event > td > .regular-checkbox:checked + label:after {
    color: lightgrey;
}
.cancelled-event > td > .reopen.regular-checkbox:checked + label {
    background-color: #d6e9c6;
}
.cancelled-event > td > .reopen.regular-checkbox:checked + label:after {
    color: #173B0B;
}

.delete-checkbox {
    display: none;
}
.delete-checkbox + label {
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 8px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}
.delete-checkbox + label:active, .delete-checkbox:checked + label:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.delete-checkbox:checked + label {
    background-color: #F5A9A9;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}
.delete-checkbox:checked + label:after {
    content: '\2714';
    font-size: 12px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #000;
}
.delete-checkbox-disabled {
    display: none;
}
.delete-checkbox-disabled + label {
    background-color: #BDBDBD;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

.custom-input {
    width: 80px;
}

tr > td.table-center.register-index {
    padding-right, padding-left: 0 !important;
	vertical-align: middle !important;
}


a > span.fa.fa-print {
    color: black;
}

.notes-row{
    padding-bottom: 100px; !important;
}

.create-form {
    width: 200px;
}

.form-error {
    color: red;
}

.form-group {
    margin-bottom: 5px;
}

.form-group.cbox {
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-group > .studioadmin-list {
    height: 25px; !important;
    border-radius: 45px; !important;
}

.input-group-addon {
    height: 25px; !important;
    padding: 2px 5px 0px 5px; !important;
}

.studioadmin-tbl {
    padding-top: 5px; !important;
    padding-bottom: 5px; !important;
    white-space: nowrap;
    font-size: small;
	vertical-align: middle; !important;

}

.studioadmin-help {
    font-size: smaller;
    font-style: italic;
    font-weight: normal;
}

.studioadmincbox-help, .ext-instructor {
    font-size: smaller;
    font-style: italic;
    vertical-align: top;
}

.email-message {
    height: 300 !important;
}

.cancel-warning {
    font-family: sans-serif;
    font-weight: bold;
    color: red;
}

.no-block-comment {
    font-style: italic;
    color: grey;
    font-size: 8pt;
}

.top-button-row{
	padding-bottom: 10;
}

.header-not-bold{
	font-weight: normal;
	vertical-align: top;
}

@media (max-width: 767px) {
	h1 {
		font-size: x-large;
		font-weight: bold;
	}
    h2 {
		font-size: large;
		font-weight: bold;
	}
    h4 {
		font-size: medium;
		font-weight: bold;
	}
    #id_filter-lessons > option, #id_filter-events > option {
        font-size: 0.8em;
		word-wrap: normal !important;
		white-space: normal !important;
    }
	tr.compress>th {
		font-size: 0.8em;
		word-wrap: normal !important;
		white-space: normal !important;
	}
    tr.compress>td {
		font-size: 0.8em;
		word-wrap: normal !important;
		white-space: normal !important;
	}
}

@media (max-width: 675px) {
    h1 {
		font-size: large;
		font-weight: bold;
	}
    h2 {
		font-size: medium;
		font-weight: bold;
	}
    h4 {
		font-size: larger;
		font-weight: bold;
	}

	#id_filter-lessons > option, #id_filter-events > option {
        font-size: 0.7em;
		word-wrap: normal !important;
		white-space: normal !important;
    }

    tr.compress >th {
		font-size: 0.7em;
		word-wrap: normal !important;
		white-space: normal !important;
	}
    tr.compress >td {
		font-size: 0.7em;
		word-wrap: normal !important;
		white-space: normal !important;
	}

}
.wl-table-form {
	margin: 0;
}

.register-form-group {
    margin-bottom: 15px;
}

.register-form-control-label {
    padding-top: 0 !important;
}

.cancelled-event, .cancelled-event>td>a:link, .cancelled-event>td>a:visited,
.cancelled-event>td>a>span.fa {
    color: lightgrey !important;
}

.ticket-error > input, .ticket-error > .regular-checkbox + label {
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.1);
}

.errorlist {
    list-style: none;
    color: red;
    font-style: italic;
    font-size: small;
    padding-left: 0;
}

.show-cancelled-label {
    font-weight: bold;
}

.message {
    margin-top: 15px;
    margin-bottom: -10px;
    margin-left: 1px;
    margin-right: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.ticketed-event-info {
    font-style: italic;
    color: green;
}

.inc-space {
    padding-bottom: 12px;
}

label.control-label {
    padding-top: 0px !important;
    margin-top: -2px !important;
}

.jumbotron{
    color: red;
    background-color: rgba(0, 175, 0, 0.1);
    margin-top: 10px;
    padding-top: 1px;
    padding-top: 10px;
    padding-bottom: 1px;
    padding-left: 15px;
    margin-bottom: 0px;
    line-height: 1.2;
}

.sale {
    font-size: small;
}

.register-unpaid {
    background-color: rgba(255, 0, 0, 0.25);
}

.input-xs {
    height: 22px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    width: 90%;
    margin-left: 5%;
    }

.input-xs.voucher {
     margin-left: 0
}

.form-group.space-below {
    padding-bottom: 10px;
}

.has-disclaimer-pill {
    color: white;
    border-radius: 15%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: forestgreen;
}

.vspace {
    padding-bottom: 15px;
}

li>a.adminmenu {
    padding-bottom: 1px;
    padding-top: 1px;
}

@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu>li>a {
        padding-bottom: 1px;
        padding-top: 1px;
    }
}

.adminmenu-title {
    padding-left: 12px;
    font-weight: bold;
}

.form-control.email-input {
    width: 70%;
}
.btn.btn-alph-filter {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.btn.btn-alph-filter.btn-unselected {
    background-color:dimgrey;
    color: white;
}

.fa.fa-check {
    color: green;
}

.label.label-rounded.label-spaces {
    display: block;
    border-radius: 25px;
    width: 50px;
    padding-top: 4px;
    padding-bottom: 4px;
}

td span.label.label-rounded.label-spaces{
    display:inline-block;
    text-align:center;
}

tr.table-shaded{
    background-color: rgba(0, 0, 0, 0.08);
}

@media (max-width: 768px) { /* use the max to specify at each container level */
    td.table-event > a {
        width:200px;  /* adjust to desired wrapping */
        display:table;
        white-space: pre-wrap; /* css-3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
    }
}

