
.plain_bg {
	background-color: #fff;
}

body {
    color: black;
    background-color: #fff;
    margin: 0;
    padding: 10px;
}

a > span.fa.fa-print.fa-3x {
    color: black;
}

h2 {
    font-size: small;
}

th, td, td.studioadmin-tbl {
    font-size: 12px;
    white-space: normal;
    padding: 0;
    margin: 0;
}

td, td.table-center.studioadmin-tbl{
    line-height: 1;
}

.regular-checkbox + label {
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -10px 5px -8px rgba(0,0,0,0.05);
    padding: 5px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}
.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.regular-checkbox:checked + label {
    background-color: #d6e9c6;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -10px 5px -8px rgba(0,0,0,0.05), inset 10px 5px -8px rgba(255,255,255,0.1);
    color: #99a1a7;
}
.regular-checkbox:checked + label:after {
    content: '\2714';
    font-size: 9px;
    position: absolute;
    top: 0px;
    left: 2px;
    color: #173B0B;
}

table {
    page-break-inside: avoid;
    break-inside: avoid;
    border: 1px solid black;
}

th, td {
    border-right: 1px solid black;,
    border-left: 1px solid black;
}

.register-print-col {
    min-height: 400px;
}

.register-title {
    min-height: 30px;
}

.notes-row {
    border-top: 1px solid black;
    height: 50px;
}

.shrink-col {
    width: 50px;
}

.tickets-table-index {
    width: 50px;
    text-indent: 8px;
}

.tickets-table {
    min-width: 80px;
    max-width: 300px
}

.disclaimer {
    margin-left: 20px;
}