<!DOCTYPE html>
{% load static %}
{% load socialaccount %}
{% load bookingtags %}
{% load cookielaw_tags %}
{% load notices_tags %}

<html lang="en" class="{% block bg_class %}plain_bg{%  endblock %}">
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=yes"/>
        <title>Watermelon Studio Class and Event Booking
        {% block head_title %}{% endblock %}
        </title>
        {% block extra_head %}
        {% endblock %}

        <link rel="shortcut icon" href="{% static 'booking/images/favicon_new.ico' %}" type="image/vnd.microsoft.icon">
        <link rel="shortcut icon" type="image/png" href="{% static 'booking/images/icon_new.png' %}">
        <link rel="apple-touch-icon" href="{% static 'booking/images/icon_new.png' %}">

      {% check_debug as is_debug_on %}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" integrity="sha512-aEe/ZxePawj0+G2R+AaIxgrQuKT68I28qh+wgLrcAJOz3rxCP+TwrK5SPN+E5I+1IQjNtcfvb96HDagwrKRdBw==" crossorigin="anonymous" />
       <!-- Custom styles -->
        <link href="{% static 'booking/css/custom-v1.14.1.css' %}" rel="stylesheet">
         <link rel="stylesheet" href="{% static 'booking/css/print.css' %}"  type="text/css" media="print" />
         <link rel="stylesheet" href="{% static 'notices/css/notices.css' %}"  type="text/css"/>

         
      {% block head %}{% endblock %}

    </head>

    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-light navbar-expand-md fixed-top p-1">
        <a class="navbar-brand p-0" href="http://www.thewatermelonstudio.co.uk" title="Studio Website"><img class="nav-logo" src="{% static 'booking/images/logo_brand_new.png' %}"></a>
        <div class="navbar-header">
        {% block extra-collapsed-menu %}
          {% if request.user.is_authenticated %}
        <div class="d-inline-block d-md-none extra-collapsed-menu-icons">
        <span class="shopping-basket-menu" id="shopping-basket-menu-xs">{% show_shopping_basket_menu request.user %}</span>
        <span class="pr-2 blocks-menu" id="blocks-menu-xs" title="View available blocks">{% include 'booking/includes/blocks_modal.html' %}</span>
        </div>
        {% endif %}
        {% endblock %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

        </div>

        <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            {% block left-nav-items %}
            <li class="nav-item"><a class="nav-link" href="{% url 'booking:lessons' %}">Classes</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'booking:events' %}">Workshops</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'booking:online_tutorials' %}">Tutorials</a></li>
            <li class="nav-item d-inline-block d-sm-none"><a class="nav-link" href="{% url 'booking:buy_gift_voucher' %}">Gift Vouchers</a></li>
            <li class="nav-item d-inline-block d-sm-none"><a class="nav-link" href="{% url 'booking:ticketed_events' %}">Tickets</a></li>
            <li class="nav-item d-inline-block d-sm-none"><a class="nav-link" href="{% url 'nonregistered_disclaimer_form' %}">Event Disclaimer</a></li>
            <li class="nav-item dropdown d-none d-sm-block">
                <a class="nav-link dropdown-toggle " href="#" id="navbarMoreDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
                <div class="dropdown-menu" aria-labelledby="navbarMoreDropdown">
{#                    <a class="d-none d-sm-block" href="{% url 'booking:room_hires' %}">Room Hire</a>#}
                    <a class="dropdown-item d-none d-sm-block" href="{% url 'booking:buy_gift_voucher' %}">Gift Vouchers</a>
                    <a class="dropdown-item d-none d-sm-block" href="{% url 'booking:ticketed_events' %}">Tickets</a>
                    <a class="dropdown-item d-none d-sm-block" href="{% url 'nonregistered_disclaimer_form' %}">Event Disclaimer</a>
                    <span role="separator" class="divider d-none d-sm-block"></span>
                    <a class="dropdown-item d-none d-sm-block" href="{% url 'booking:bookings' %}">My bookings</a>
                    <a class="dropdown-item d-none d-sm-block" href="{% url 'booking:purchased_tutorials' %}">My tutorials</a>
                    <a class="dropdown-item d-none d-sm-blockk" href="{% url 'booking:block_list' %}">My blocks</a>
                    <a class="dropdown-item d-none d-sm-block" href="{% url 'booking:booking_history' %}">Booking history</a>
                    <a class="dropdown-item d-none d-sm-block" href="{% url 'booking:ticket_bookings' %}">My ticket bookings</a>
                    <a class="dropdown-item d-none d-sm-block" href="{% url 'booking:ticket_booking_history' %}">Ticket booking history</a>
            </li>
            {% if request.user.is_authenticated %}
                <li class="nav-item dropdown d-block d-md-none">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarAccountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Activity</a>
                    <div class="dropdown-menu" aria-labelledby="navbarAccountDropdown">
                        <a class="dropdown-item" href="{% url 'booking:bookings' %}">My bookings</a>
                        <a class="dropdown-item" href="{% url 'booking:purchased_tutorials' %}">My tutorials</a>
                        <a class="dropdown-item" href="{% url 'booking:block_list' %}">My blocks</a>
                        <a class="dropdown-item" href="{% url 'booking:booking_history' %}">Booking history</a>
                        <a class="dropdown-item" href="{% url 'booking:ticket_bookings' %}">My ticket bookings</a>
                        <a class="dropdown-item" href="{% url 'booking:ticket_booking_history' %}">Ticket booking history</a>
                    </div>
                </li>
                <li class="pl-1 pt-2 nav-item d-none d-sm-block"><span id="shopping-basket-menu">{% show_shopping_basket_menu request.user %}</span></li>
                <li id="blocks-menu" class="pt-2 pl-2 nav-item d-none d-sm-block" title="View available blocks">{% include 'booking/includes/blocks_modal.html' %}</li>
            {% endif %}
            {% endblock %}
            </ul>
        
          <span class="float-right">
            <ul class="nav navbar-nav mr-auto">

            {% if request.user.is_authenticated %}
                {% block admin-nav %}
                {% if request.user.is_staff or request.user|in_group:"instructors" %}
                   <li class="nav-item"><a class="nav-link" href="{% url 'studioadmin:class_register_list' %}">Studio Admin</a></li>
                {% elif perms.accounts.view_nonregistereddisclaimer %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'studioadmin:event_disclaimers' %}">Studio Admin</a></li>
                {% endif %}
                {% endblock admin-nav %}
                <li class="nav-item dropdown account-menu-nav">
                    <div class="welcome-menu d-none d-sm-block"><small><em>{{request.user}}</em></small></div>
                    <a class="account-menu nav-link dropdown-toggle dropdown-toggle-login" href="#" id="navbarAdminDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My account</a>
                    <div class="dropdown-menu" aria-labelledby="navbarAdminDropdown">

                        <a class="dropdown-item active-nav-login" href="{% url 'account_change_password' %}">Change password</a>
                        <a class="dropdown-item active-nav-login" href="{% url 'profile:profile' %}">Profile</a>
                        {% if not request.user|has_disclaimer %}
                        <a class="dropdown-item active-nav-login" href="{% url 'disclaimer_form' %}">Disclaimer Form</a>
                        {% endif %}
                        <a class="dropdown-item active-nav-login" href="{% url 'account_logout' %}">Sign Out</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_login' %}?next={{request.get_full_path}}">Log In</a>
                </li>
            {% endif %}
            </ul>
          </span>
      </div>
      </nav>
    </header>
<div class="wrapper">
  <main role="main" class="container-fluid">
        {% CookielawBanner %}
        
        {% block banner %}
            <div class="mb-4">
                {% all_users_banner %}
            </div>
        {% endblock banner %}

        {% block notices %}{% NoticesModal %}{% endblock notices %}

    {% block new_banner %}
        {% if user.is_anonymous and 'event-disclaimer' not in request.path %}
            <div class="mb-4">
                {% new_users_banner %}
            </div>
        {% endif %}
    {% endblock new_banner %}

    {% if messages %}
        <div class="container-fluid mt-2 mb-3" id="message-row">
            {% for message in messages %}
                <div
                    {% if message.tags and message.tags == 'error' %}
                        class="message alert alert-danger alert-dismissible"
                    {% elif message.tags %}
                        class="message alert alert-{{ message.tags }} alert-dismissible"
                    {% endif %}>
                    <button type="button" class="pt-0 pb-0 close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {% if 'safe' in message.tags %}
                        {{ message|safe }}
                    {% else %}
                        {{ message }}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if user.currently_banned and user.is_authenticated %}
        <div class="container-fluid">
            <div class="message alert alert-danger alert-dismissible">
                Your account is temporarily locked. You will able to make new bookings again after {{ user.ban.end_date|date:'d M Y, H:i' }}.
                <button type="button" class="pt-0 pb-0 close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
        </div>
    {% endif %}

    {% block body %}
        <div class="container-fluid content-block">
        {% block content %}
                <p>You need to define a content block!</p>
        {% endblock %}
        </div>
    {% endblock %}

      <div class="modal fade" id="BlocksModal" tabindex="-1" role="dialog"></div>

    </main>

    </div>
    <footer class="footer">
      <div class="container-fluid">
            {% block extra_footer %}
              <span class="mt-2 footer-credit float-left .no-print">
                  {% if show_vat %}All prices are inclusive of VAT (VAT number {{ vat_number }})<br/>{% endif %}
                   <a href="http://www.thewatermelonstudio.co.uk/t&c.html" target="_blank">T&Cs</a> apply to all purchases, including sale items<br/>
                   <a class="pt-0" href="{% url 'data_privacy_policy' %}">Data privacy and cookie policy</a>
              </span>
            {% endblock %}
          <span class="text-muted">
             <span class="footer-credit float-right mr-0 pr-0 mt-2 pt-0">&#169; <a href="https://twitter.com/rebkwok" target="_blank" style="color: #0B0B61">Becky Smith</a>
          </span>
        </span>
      </div>
    </footer>

</body>

<script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous" defer></script>
<script src="https://unpkg.com/htmx.org/dist/ext/class-tools.js" defer></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
{#<script src="https://formbuilder.online/assets/js/form-builder.min.js"></script>#}
<script type='text/javascript'>$.widget.bridge('uitooltip', $.ui.tooltip);</script>
    <script>
  /*** Handle jQuery plugin naming conflict between jQuery UI and Bootstrap ***/
  $.widget.bridge('uibutton', $.ui.button);
  $.widget.bridge('uitooltip', $.ui.tooltip);
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js" integrity="sha512-YSdqvJoZr83hj76AIVdOcvLWYMWzy6sJyIMic2aQz5kh2bPTd9dzY3NtdeEAzPp/PhgZqr4aJObB3ym/vsItMg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js" integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.AreYouSure/1.9.0/jquery.are-you-sure.min.js" integrity="sha512-YuZemcyQ8r4w8tdxIzkJVgWfHrzSQN9PuF18I490DE8H97DOkrt+bolBf3/mve+9t8SLWODBzFCCPxH/vZYqBg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js" integrity="sha512-Meww2sXqNHxI1+5Dyh/9KAtvI9RZSA4c1K2k5iL02oiPO/RH3Q30L3M1albtqMg50u4gRTYdV4EXOQqXEI336A==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.10.2/underscore-min.js" integrity="sha512-HKvDCFVKg8ZPGjecy6on7UECEpE76Y86h3GaE4JMCz+deFWdjcW/tWnh0hCfaBvURvlOa9f5CNVzt7EFkulYbw==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js" integrity="sha512-qzgd5cYSZcosqpzpn7zF2ZId8f/8CHmFKZ8j7mU4OUXTNRd5g+ZHBPsgKEwoqxCtdQvExE5LprwwPAgoicguNg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js" integrity="sha512-GDey37RZAxFkpFeJorEUwNoIbkTwsyC736KNSYucu1WJWFK9qTdzYub8ATxktr6Dwke7nbFaioypzbDOQykoRg==" crossorigin="anonymous"></script>

<script src="{% static 'booking/js/jquery.rememberscroll.js' %}"></script>
<script src="{% static 'cookielaw/js/cookielaw.js' %}"></script>
<script src="{% static 'booking/js/custom-v1.7.js' %}"></script>
<script src="{% static 'notices/js/notices.js' %}"></script>

<!--# blocks modal-->
<script>
    $(".blockmodalbtn").click(function(ev) { // for each edit url
        ev.preventDefault(); // prevent navigation
        var url = $(this).data("url"); // get the form url
        $("#BlocksModal").load(url, function() { // load the url into the modal
            $(this).modal('show'); // display the modal on url load
        });
        return false; // prevent the click propagation
    });
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
</script>

{% block extra_js %}{% endblock %}


</html>
