{% load staticfiles %}
{% load socialaccount %}
{% load bookingtags %}

<!DOCTYPE html>
<html lang="en" class="{% block bg_class %}plain_bg{%  endblock %}">
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.6 user-scalable=yes"/>
        <title>Watermelon Studio Class and Event Booking
        {% block head_title %}{% endblock %}
        </title>
        {% block extra_head %}
        {% endblock %}

        <link rel="shortcut icon" href="{% static 'booking/images/favicon.ico' %}" type="image/vnd.microsoft.icon">
        <link rel="shortcut icon" type="image/png" href="{% static 'booking/images/icon.png' %}">

      {% check_debug as is_debug_on %}

      {% if is_debug_on %}
            <link rel="stylesheet" href="{% static 'booking/bootstrap/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'booking/bootstrap/bootstrap-theme.min.css' %}">
        {% else %}
            <!-- Bootstrap core CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <!-- Bootstrap theme -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        {% endif %}

       <!-- Font awesome -->
        <link rel="stylesheet" href="{% static 'fontawesome-free-5.0.8/web-fonts-with-css/css/fontawesome-all.min.css' %}"/>

       <!-- Custom styles --->
        <link href="{% static 'booking/css/custom.css' %}" rel="stylesheet">
         <link rel="stylesheet" href="{% static 'booking/css/print.css' %}"  type="text/css" media="print" />
      <link rel="stylesheet" type="text/css" href="{% static 'booking/css/jquery.datetimepicker.css' %}"/ >

        <!--<link href="{% static 'booking/css/bootstrap-switch.css' %}" rel="stylesheet">-->
        <!--<link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" rel="stylesheet">-->

      {% block head %}{% endblock %}

    </head>

    <body>
      <div class="wrap">
        <!-- Fixed navbar -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="http://www.thewatermelonstudio.co.uk" title="Studio website">
                    <img class="nav-logo" src="{% static 'booking/images/logo_brand.png' %}">
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav pull-left">
                        {% block left-nav-items %}
                        <li class="active-nav"><a href="{% url 'booking:lessons' %}">Classes</a></li>
                        <li class="active-nav"><a href="{% url 'booking:events' %}">Workshops & Events</a></li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other<b class="caret"></b></a>
                              <ul class="dropdown-menu">
                                <li class="active-nav"><a href="{% url 'booking:room_hires' %}">Room Hire</a></li>
                                <li class="active-nav"><a href="{% url 'booking:ticketed_events' %}">Tickets</a></li>
                              </ul>
                        </li>
                        {% if request.user.is_authenticated %}
                            <li class="hidden-sm dropdown">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Bookings and Blocks<b class="caret"></b></a>
                                  <ul class="dropdown-menu">
                                    <li class="active-nav"><a href="{% url 'booking:bookings' %}">My bookings</a></li>
                                    <li class="active-nav"><a href="{% url 'booking:block_list' %}">My blocks</a></li>
                                    <li class="active-nav"><a href="{% url 'booking:booking_history' %}">Booking history</a></li>
                                    <li class="active-nav"><a href="{% url 'booking:ticket_bookings' %}">My ticket bookings</a></li>
                                    <li class="active-nav"><a href="{% url 'booking:ticket_booking_history' %}">Ticket booking history</a></li>
                                  </ul>
                                </li>

                            <li class="visible-sm dropdown">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">More<b class="caret"></b></a>
                                  <ul class="dropdown-menu">
                                    <li class="active-nav"><a href="{% url 'booking:bookings' %}">My bookings</a></li>
                                    <li class="active-nav"><a href="{% url 'booking:block_list' %}">My blocks</a></li>
                                    <li class="active-nav"><a href="{% url 'booking:booking_history' %}">Booking history</a></li>
                                    <li class="active-nav"><a href="{% url 'booking:ticket_bookings' %}">My ticket bookings</a></li>
                                    <li class="active-nav"><a href="{% url 'booking:ticket_booking_history' %}">Ticket booking history</a></li>
                                  </ul>
                                </li>
                            {% show_shopping_basket_menu request.user %}
                        {% endif %}
                        {% endblock %}
                    </ul>

                    <ul class="nav navbar-nav pull-right">
                        {% block admin-nav %}
                            {% if request.user.is_staff or request.user|in_group:"instructors" %}
                               <li class="active-nav"><a href="{% url 'studioadmin:class_register_list' %}">Studio Admin</a></li>
                            {% endif %}
                        {% endblock admin-nav %}
                        {% if request.user.is_authenticated %}
                        <li class="dropdown">
                            <div class="welcome-menu">Signed in as {{request.user}}</div>
                          <a href="#" class="account-menu dropdown-toggle active-nav-login" data-toggle="dropdown" role="button" aria-expanded="false">Your account<span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                            <li class="active-nav-login"><a href="{% url 'account_change_password' %}">Change password</a></li>
                            <li class="active-nav-login"><a href="{% url 'profile:profile' %}">Profile</a></li>
                              {% if not request.user|has_disclaimer %}
                                <li class="active-nav-login"><a href="{% url 'disclaimer_form' %}">Disclaimer Form</a></li>
                              {% endif %}
                            <li class="active-nav-login"><a href="{% url 'account_logout' %}">Sign Out</a></li>
                          </ul>
                        </li>
                        {% else %}
                        <div class="welcome-menu">Not signed in</div>
                        <li class="active-nav-login account-menu"><a class="account-menu" href="{% url 'account_login' %}?next={{request.get_full_path}}">Sign In</a></li>
                        {% endif %}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>

      {% block sale %}{% sale_text %}{% endblock sale %}

        {% if messages %}
          <div class="row">
            <div class="col-xs-12">
                {% for message in messages %}
                <div {% if message.tags and message.tags == 'error' %}
                            class="message alert alert-danger"
                     {% elif message.tags %}
                            class="message alert alert-{{ message.tags }}"
                     {% endif %}>
                    {% if 'safe' in message.tags %}
                        {{ message|safe }}
                    {% else %}
                        {{ message }}
                    {% endif %}</div>
                {% endfor %}
            </div>
          </div>
        {% endif %}

        {% block body %}
            {% block content %}
                <div class="container-fluid">
                    <p>You need to define a content block!</p>
                </div>
            {% endblock %}

        {% endblock %}

    </div>  <!-- end .wrap-->

    <div class="footer">
    {% block extra_footer %}
      <div class="footer-credit col-xs-8 pull-left">
          All prices are inclusive of VAT (VAT number 281 6986 56)<br/>
          Terms and conditions apply to all purchases, including sale items; for full T&C <a href="http://www.thewatermelonstudio.co.uk/t&s.html" target="_blank">click here</a><br/>
         <a href="{% url 'data_protection' %}">Data protection and privacy policy</a>
      </div>
    {% endblock %}
      <div class="pull-right">
         <div class="footer-credit">Site developed by <a href="https://twitter.com/rebkwok" target="_blank" style="color: #0B0B61">Becky Smith</a><br/>
         </div>
      </div>
    </div>

</body>
{% if is_debug_on %}
  <script src="{% static 'booking/bootstrap/jquery.min.js' %}"></script>
  <script src="{% static 'booking/bootstrap/bootstrap.min.js' %}"></script>
{% else %}
    <script
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endif %}
<script src="{% static 'booking/js/moment.min.js' %}"></script>
<script src="{% static 'booking/js/bootstrap-dropdown-multilevel.js' %}"></script>
<script src="{% static 'booking/js/jquery.datetimepicker.js' %}"></script>
<script src="{% static 'booking/js/jquery.maskedinput.min.js' %}"></script>
<script src="{% static 'booking/js/jquery.tablesorter.min.js' %}"></script>
<script src="{% static 'booking/js/jquery.are-you-sure.js' %}"></script>
<script src="{% static 'booking/js/jquery.cookie.js' %}"></script>
<script src="{% static 'booking/js/jquery.rememberscroll.js' %}"></script>
<script src="{% static 'booking/js/custom.js' %}"></script>

{% block extra_js %}{% endblock %}


</html>
