{% load staticfiles %}
{% load url from future %}
{% load socialaccount %}
{% providers_media_js %}

<!DOCTYPE html>
<html lang="en" class="{% block bg_class %}plain_bg{%  endblock %}">
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minumum-scale=1">
        <title>Watermelon Studio Pips Events
        {% block head_title %}{% endblock %}
        </title>
        {% block extra_head %}
        {% endblock %}

        <link rel="shortcut icon" type="image/png" href="{% static "booking/images/favicon.ico" %}">
		
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <!-- Bootstrap theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <!-- Custom styles --->
        <link href="{% static 'booking/css/custom.css' %}" rel="stylesheet">


    </head>

  <body>


      <div class="wrap">
        <!-- Fixed navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" rel="home" href="/" title="Events">
                    <img class="nav-logo" src="{% static 'booking/images/logo_brand.png' %}">
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav pull-left">
                        <li class="active-nav"><a href="{% url 'booking:lessons' %}">Classes</a></li>
                        <li class="active-nav"><a href="{% url 'booking:events' %}">Events and Workshops</a></li>
                        {% if user.is_authenticated %}
                        <li class="active-nav"><a href="{% url 'booking:bookings' %}">Your bookings</a></li>
                        <li class="active-nav"><a href="{% url 'booking:booking_history' %}">Booking history</a></li>
                        <li class="active-nav"><a href="http://www.thewatermelonstudio.co.uk" target="_blank">Studio website</a></li>
                        {% endif %}
                    </ul>


                    <ul class="nav navbar-nav pull-right">
                        {% if user.is_authenticated %}
                        {% if user.is_staff%}
                            <li class="active-nav"><a href="{% url 'admin:index' %}" target="_blank">Admin</a></li>
                        {% endif %}
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle active-nav-login" data-toggle="dropdown" role="button" aria-expanded="false">Welcome {{ user }}! <span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                            <li class="active-nav-login"><a href="{% url 'account_change_password' %}">Change password</a></li>
                            <li class="active-nav-login"><a href="{% url 'account_email' %}">Change E-mail</a></li>
                            <li class="active-nav-login"><a href="{% url 'profile:update_profile' %}">Change profile</a></li>
                            <li class="active-nav-login"><a href="{% url 'profile:profile' %}">Profile</a></li>
                            <li class="active-nav-login"><a href="{% url 'account_logout' %}">Sign Out</a></li>
                          </ul>
                        </li>
                        {% else %}
                            <li class="active-nav-login"><a href="{% url 'account_login' %}">Sign In</a></li>
                            <li class="active-nav-login"><a href="{% url 'account_signup' %}">Sign Up</a></li>
                        {% endif %}

                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>

    {% block body %}
        {% block content %}
              <div class="container-fluid">
                <p>You need to define a content block!</p>
            </div>
        {% endblock %}

    {% endblock %}


  </body>


<!--/.footer -->
        <div class="push"></div>
    </div> <!--/end of page .wrap -->
<!--
    <div class="footer">
        <div class="container-fluid">
            <div class="row footer_box">
                <div class="col-sm-6 footer-fb pull-left">
                    <div class="fb-like"
                         data-layout="standard"
                         data-action="like" data-show-faces="true" data-share="true">
                    </div>
                    <div class="footer-credit">Site developed by <a href="https://twitter.com/rebkwok" target="_blank" style="color: #0B0B61">Becky Smith</a></div>
                </div>
                <!--
            </div>
        </div>
    </div>
-->
  <div class="small-margin">
          <div class="footer-credit">Site developed by <a href="https://twitter.com/rebkwok" target="_blank" style="color: #0B0B61">Becky Smith</a></div>
   </div>

</html>


   <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <div id="fb-root"></div>
    <script src="{% static "booking/js/custom.js" %}"></script>