<html>
<body>

<div class="row">
    <div class="col-sm-12">
    {%  block donotreply %}<div style="font-family: sans-serif; font-size: small;">{% include "account/email/do_not_reply.html" %}</div></br>{% endblock %}
    {% block messagecontent %}{% endblock %}
    </div>
    <div class="row" style="padding-top: 3em;">
        <div class="col-xs-12">
            <a href=http://www.thewatermelonstudio.co.uk"><img src="http://booking.thewatermelonstudio.co.uk/static/booking/images/logo_email.png"
            width="100"
            height="auto"
            border="0"
            alt="Watermelon logo">
            </a>
        </div>
        <div class="col-xs-12" style="font-family: sans-serif; padding-top: 1em;">
            THE WATERMELON STUDIO<br />
            19 Beaverbank Place<br />
            Edinburgh, EH7 4FB<br />
            thewatermelonstudio@hotmail.com
        </div>
        <div class="col-xs-12">
            <img src="http://booking.thewatermelonstudio.co.uk/static/booking/images/logo_pdc.png"
            width="50"
            height="auto"
            border="0"
            alt="PDC logo">
        </div>
    </div>
</div>

</body>
</html>
