<ol>
<li>These sessions are for regular Watermelon students only and shall be limited to a maximum of 1 person in the Pip Room only.</li>
<li>These sessions are unsupervised and the studio shall be under no obligation to provide any instruction to assist the hirer.</li>
<li>These sessions are for one hour only.</li>
<li>The hirer must arrive 5 minutes before their session begins to allow time to be given access to the Pip Room.</li>
<li>The hirer accepts that they are responsible for carrying out appropriate warm up at the beginning of their session and cool down at the end of their session.</li>
<li>The hirer shall use these sessions to use our poles to practice moves taught to them by our instructors only.  The hirer shall not attempt to perform moves they are unsure of.</li>
<li>The hirer cannot attempt inverted moves without a mat.</li>
<li>If the hirer is seen to be putting themselves at risk, they will be asked to leave without refund.</li>
<li>If the hirer is practising any heel work/routines, they must ensure they are comfortable and secure in their heels (Hellas or Pleasers only).</li>
<li>The hirer shall not consume food or drink (other than water) in the Pip Room.</li>
<li>The hirer shall be liable for all damage caused to the Pip Room during their session.</li>
<li>The hirer shall leave the Pip Room in a clean and tidy condition.</li>
<li>You agree to our full terms and conditions before hiring: <a href="https://www.thewatermelonstudio.co.uk/t&c.html">https://www.thewatermelonstudio.co.uk/t&c.html</a></li>
</ol>