aside.main-sidebar.sidebar-light-danger.elevation-2 > div > nav > ul > li.nav-item.menu-open > a,
aside.main-sidebar.sidebar-light-danger.elevation-2 > div > nav > ul > li.nav-item > a.active
{
    background-color: rgb(240, 139, 165);
}

aside.main-sidebar.sidebar-light-danger.elevation-2 > div > nav > ul > li.nav-item.menu-open > ul > li > a.nav-link {
    margin-left: 20px;
    width: 90%
}

aside.main-sidebar.sidebar-light-danger.elevation-2 > div > nav > ul > li.nav-item.menu-open > ul > li > a.nav-link.active {
    background-color: rgba(240, 139, 165, 0.3);
}