{% extends 'email_base.html' %}

{% block messagecontent %}
<div style="font-family: sans-serif;">

<p>We regret to inform you that {{ event_type }} {{ event }} has been cancelled.</p>

<p>Your booking has been cancelled
    {% if block_paid %} and your {% if free_block %}(free) {% endif %}block has been updated.
        {% if block_expires_soon %}<strong style="color: red">Your block expires on {{ block_expiry_date }}.  Book your
        replacement class before this date to ensure you use your credited block.</strong>{% endif %}
    {% elif transfer_block_created %}.
        A transfer credit has been created for your cancelled {{ event_type }}.
        You can use this to book another {{ event_type }} of the same type within the next 2 weeks.
    {% elif direct_paid %} and we will be in touch shortly regarding your payment.
    {% endif %}</p>


<a href="{{ host }}{% url 'booking:bookings' %}">View your bookings</a>
</div>
{% endblock %}
