{% extends 'email_base.html' %}

{% block messagecontent %}
<div style="font-family: sans-serif;">

<p>{{ event_type|title }} {{ event }} has been cancelled.</p>

{% if open_bookings %}
    {%if transfer_direct_paid %}
        {% if open_direct_paid_bookings or open_free_non_block_bookings or open_expired_block_bookings %}
            <p>Transfer credits have been created for users who paid directly in full for their bookings
                (i.e. not with a block), users who were manually assigned this as a free {{ event_type }}
                and users who paid with a block that is now expired.</p>
        {% endif %}
        {% if  open_deposit_only_paid_bookings %}
            <p>Some booking may require manual refunds.  When the payment has been refunded or credited,
                use the links below to confirm and update the payment status on the booking site</p>
        {% endif %}
     {% else %}
        {% if open_direct_paid_bookings or open_deposit_only_paid_bookings or open_free_non_block_bookings %}
            <p>Some booking may require manual refunds.  When the payment has been refunded or credited,
                use the links below to confirm and update the payment status on the booking site.</p>
        {% endif %}
     {% endif %}
{% endif %}


{% if open_bookings or no_shows %}
    {% if open_bookings %}
        <p><strong>Summary of cancelled bookings:</strong></p>
        <p>The following open bookings for this {{ event_type }} were cancelled (users have been sent notification emails):</p>
            <ul>
            {% for booking in open_deposit_only_paid_bookings %}
                <li>
                    {{ booking.user.first_name }} {{ booking.user.last_name }} (deposit only paid)
                    <a href="{{ host }}/studioadmin/confirm-refunded/{{ booking.id }}">Confirm refund</a>
                </li>
            {% endfor %}
            {% for booking in open_direct_paid_bookings %}
                <li>
                    {{ booking.user.first_name }} {{ booking.user.last_name }} (paid directly i.e. cash/paypal)
                    {% if not transfer_direct_paid %}<a href="{{ host }}/studioadmin/confirm-refunded/{{ booking.id }}">Confirm refund</a>{% else %}- no action required{% endif %}
                </li>
            {% endfor %}
            {% for booking in open_free_non_block_bookings %}
                <li>
                    {{ booking.user.first_name }} {{ booking.user.last_name }} (free class - assigned manually)
                    {% if not transfer_direct_paid %}<a href="{{ host }}/studioadmin/confirm-refunded/{{ booking.id }}">Confirm refund</a>{% else %}- no action required{% endif %}
                </li>
            {% endfor %}
            {% for booking in open_block_bookings %}
                <li>{{ booking.user.first_name }} {{ booking.user.last_name }} (paid by block) - no action required</li>
            {% endfor %}
            {% for booking in open_expired_block_bookings %}
                <li>{{ booking.user.first_name }} {{ booking.user.last_name }} (paid by expired block) - no action required</li>
            {% endfor %}
            {% for booking in open_free_block_bookings %}
                <li>{{ booking.user.first_name }} {{ booking.user.last_name }} (free class - block) - no action required</li>
            {% endfor %}
            {% for booking in open_unpaid_bookings %}
                <li>{{ booking.user.first_name }} {{ booking.user.last_name }} (unpaid) - no action required</li>
                {% endfor %}
            </ul>
    {% endif %}
    {% if no_shows %}
            <p><strong>Summary of previously cancelled (paid) bookings:</strong></p>
            <p>Bookings for the following users were previously cancelled but
            remain paid because
            {% if not event.allow_booking_cancellation %}
                this {{ event_type }} is non-refundable.
            {% else %}
                the booking was cancelled after the allowed cancellation period.
            {% endif %}<br/>
            These users have <strong>NOT</strong> been emailed notification of the {{ event_type }} cancellation and have <strong>NOT</strong>
            been automatically refunded or issued transfer credit.<br/>
            Please review and determine if refunds are necessary.</p>
            <ul>
                {% for booking in no_shows %}
                    <li>{{ booking.user.first_name }} {{ booking.user.last_name }}
                    {% if booking.block %}(paid by block){% elif booking.free_class %}(free class){% else %}(paid directly i.e. cash/paypal){% endif %}<br/>
                    <a href="{{ host }}/studioadmin/user/{{ booking.user.id }}/bookings/open">User's bookings</a>
                    {% if booking.paid and not booking.block and not booking.free_class %}<br/><a href="{{ host }}/studioadmin/confirm-refunded/{{ booking.id }}">Confirm refund</a>{% endif %}
                    </li>
                {% endfor %}
            </ul>
    {% endif %}
{% else %}
    <p>There were no open bookings for this {{ event_type }}.</p>
{% endif %}


</div>
{% endblock %}

