{% extends 'email_base.html' %}

{% block messagecontent %}
<div style="font-family: sans-serif;">

<p>{{ event_type }} {{ event }} has been cancelled.</p>

{% if transfer_direct_paid %}
<p>Transfer blocks have been created for users who paid directly in full for their bookings (i.e. not with a block).</p>
<p>The following users paid directly for the deposit only and have not been given transfer blocks.  Please review and refund these payments.</p>
{% else %}
<p>The following users' bookings were paid for directly (i.e. not with a block).  Please review and refund these payments.</p>
{% endif %}

<p>When the payment has been refunded, use the links below to confirm and update the payment status on the booking site:</p>
{% if transfer_direct_paid %}
    <ul>
        {% for booking in bookings_to_refund %}
            <li>{{ booking.user.first_name }} {{ booking.user.last_name }} <a href="{{ host }}/studioadmin/confirm-refunded/{{ booking.id }}">Confirm refund</a></li>
        {% endfor %}
    </ul>
{% else %}
    {% if open_direct_paid_bookings %}
        <p><strong>Fully paid:</strong></p>
        <ul>
            {% for booking in open_direct_paid_bookings %}
                <li>{{ booking.user.first_name }} {{ booking.user.last_name }} <a href="{{ host }}/studioadmin/confirm-refunded/{{ booking.id }}">Confirm refund</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if open_deposit_only_paid_bookings %}
        <p><strong>Deposit only paid:</strong></p>
        <ul>
            {% for booking in open_deposit_only_paid_bookings %}
                <li>{{ booking.user.first_name }} {{ booking.user.last_name }} <a href="{{ host }}/studioadmin/confirm-refunded/{{ booking.id }}">Confirm refund</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if open_free_non_block %}
        <p><strong>Free class (manually created as free, no free block used):</strong></p>
        <ul>
            {% for booking in open_free_non_block %}
                <li>{{ booking.user.first_name }} {{ booking.user.last_name }} <a href="{{ host }}/studioadmin/confirm-refunded/{{ booking.id }}">Confirm refund</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}

</div>
{% endblock %}

